<header id="page-header">
    <% include masthead %>
    <% include navigation %>
    <div id="header-image">
        <div class="header-text container">
            <h1>Film and Television Studies</h1>
            <h2>Intranet</h2>
        </div>
    </div>
</header>