<header id="page-header">
    <% include masthead %>
    <div id="header-image">
        <div class="header-text container">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navigation-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <h1>Film and Television Studies</h1>
            <h2>Intranet</h2>
        </div>
        <% include navigation %>
    </div>
</header>