<header id="page-header">
    <div id="utility-masthead">
        <% include utility-bar %>
        <% include masthead %>
    </div>
    <div id="header-image-container">
        <% include navigation %>
    </div>
</header>