<header id="page-header">
    <div id="utility-masthead">
        <% include utility-bar %>
        <% include masthead %>
    </div>
    <div id="header-image-container">
        <% include header-video %>
        <% include carousel %>
        <% include navigation %>
        <div class="strapline bottom text-left">
            <div class="container">
                <h2>University of the Year 2014</h2>
            </div>
        </div>
    </div>
</header>