<section id="main-content-section">
    <header id="main-content-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 header-text">
                    <h1>Welcome to Big School</h1>
                </div>
                <div class="col-sm-4 logo-bleed"></div>
            </div>
        </div>
    </header>

    <div id="main-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h2>About</h2>

                    <p>The University of Warwick is globally connected, forward-looking and entrepreneurial. We create new ways of thinking and achieving: making us stand out from our competitors and the more ‘traditional universities’ and creating an inspiring place to study and undertake research.</p>

                    <p>Warwick is one of the UK’s great success stories. In less than fifty years since being founded we’ve become one of the UK’s best universities, consistently at the top of UK league tables and we’re rapidly climbing the international league tables of world class universities.</p>

                    <p>We’re a university that champions independent thinking and as well as being founded, first and foremost, on academic excellence, a key driver of the Warwick success story so far is our entrepreneurial spirit - a key strength is our relevance to society and our close links with business and industry. Companies tap into Warwick knowledge to develop their own strengths and ensure they remain at the cutting edge within their industries. And that cutting edge insight is developed out of truly world class research: Warwick ranks 7th overall in the UK according to the latest Research Assessment Exercise.</p>

                    <p>To understand how Warwick has come so far in such a short space of time is to understand the character of the University. The success of Warwick, underpinned by innovation, entrepreneurialism and academic excellence, is driven by the exceptional talent of our staff, students and alumni.</p>

                    <div class="row">
                        <div class="col-sm-4">
                            <section>
                                <h3>About Warwick</h3>

                                <ul class="list-unstyled">
                                    <li><a href="profile">University Profile: Facts and Figures</a></li>
                                    <li><a href="strategy/">University Strategy</a></li>
                                    <li><a href="history">History of the University</a></li>
                                    <li><a href="management">University Management</a></li>
                                    <li><a href="profile/ranking/">University League Table Rankings</a></li>
                                    <li><a href="publications/">Publications</a></li>
                                </ul>
                            </section>
                        </div>
                        <div class="col-sm-4">
                            <section>
                                <h3>Departments and Services</h3>

                                <ul class="list-unstyled">
                                    <li><a href="profile">University Profile: Facts and Figures</a></li>
                                    <li><a href="strategy/">University Strategy</a></li>
                                    <li><a href="history">History of the University</a></li>
                                    <li><a href="management">University Management</a></li>
                                    <li><a href="profile/ranking/">University League Table Rankings</a></li>
                                    <li><a href="publications/">Publications</a></li>
                                </ul>
                            </section>
                        </div>
                        <div class="col-sm-4">
                            <section>
                                <h3>Visiting the University</h3>

                                <ul class="list-unstyled">
                                    <li><a href="profile">University Profile: Facts and Figures</a></li>
                                    <li><a href="strategy/">University Strategy</a></li>
                                    <li><a href="history">History of the University</a></li>
                                    <li><a href="management">University Management</a></li>
                                    <li><a href="profile/ranking/">University League Table Rankings</a></li>
                                    <li><a href="publications/">Publications</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h2>Colour picker</h2>

                    <ul>
                        <li><a href="#" data-toggle-class="brand-purple">Purple (default)</a></li>
                        <li><a href="#" data-toggle-class="brand-grey">Grey</a></li>
                        <li><a href="#" data-toggle-class="brand-yellow">Yellow</a></li>
                        <li><a href="#" data-toggle-class="brand-blue">Blue</a></li>
                        <li><a href="#" data-toggle-class="brand-orange">Orange</a></li>
                        <li><a href="#" data-toggle-class="brand-green">Green</a></li>
                        <li><a href="#" data-toggle-class="brand-red">Red</a></li>
                    </ul>

                    <h2>Options</h2>

                    <ul>
                        <li>
                            <label class="checkbox">
                                <input type="checkbox" data-toggle="className" data-target="#header-image h2" data-className="hidden">
                                Hide parent site name in site header
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>