<div id="masthead">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 logo-column">
                <div class="row logo-row">
                    <div class="logo">
                        <a href="/" title="Warwick homepage">
                            <img src="/images/logo@2x.png" alt="Warwick">
                        </a>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <nav class="col-sm-12">
                                <ul class="hidden-sm hidden-xs warwick-site-links">
                                    <li><a href="#">Study</a></li>
                                    <li><a href="#">Research</a></li>
                                    <li><a href="#">Business</a></li>
                                    <li><a href="#">Alumni</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">About</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="row header-text-row">
                    <div class="col-sm-12 header-text">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navigation-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <h1>
                            <span class="parent-site-link">Film and Television Studies</span>
                            <span class="current-site-link">Intranet</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="search row">
                    <form action="http://search.warwick.ac.uk/website" role="search">
                        <input type="hidden" name="source" value="http://www2.warwick.ac.uk/">
                        <div class="form-group col-sm-12">
                            <label class="sr-only" for="search-box">Search</label>
                            <div class="search-box">
                                <input type="search" class="form-control input-lg col-sm-12" id="search-box" placeholder="Type your search here">
                                <i class="fa fa-search fa-2x"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>