<div id="masthead" class="bg-bleed">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 logo">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navigation-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" title="Warwick homepage">
                    <img src="/images/logo@2x.png" alt="Warwick">
                </a>
            </div>
            <div class="col-md-9 col-sm-8 utility hidden-xs">

            </div>
        </div>
    </div>
</div>