<div id="navigation">
    <nav class="primary-navigation navbar navbar-primary" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navigation-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars fa-fw"></i>
            </button>

            <button type="button" class="btn-link navbar-brand collapsed" data-toggle="collapse" data-target="#breadcrumbs">
                <span class="sr-only">Toggle breadcrumbs</span>
                <i class="fa fa-fw"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="primary-navigation-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/subpage">Applying to study</a>
                    <div class="description">
                        Undergraduate and postgraduate courses
                    </div>
                </li>
                <li><a href="/subpage">Research</a></li>
                <li class="active dropdown">
                    <a href="/subpage">Current students</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/subpage">Riboso nonadmitted rightfulness bowldering dichogamy</a></li>
                        <li><a href="/subpage">Link ten</a></li>
                        <li><a href="/subpage">Link eleven</a></li>
                        <li><a href="/subpage">Link twelve</a></li>
                    </ul>
                </li>
                <li><a href="/subpage">People</a></li>
                <li><a href="/subpage">News &amp; events</a></li>
                <li><a href="/subpage">About us</a></li>
            </ul>
        </div>
    </nav>

    <nav class="breadcrumbs navbar navbar-breadcrumbs collapse navbar-breadcrumb-collapse" id="breadcrumbs">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="/">Uni home</a></li>
                <li><a href="/subpage">IT Services</a></li>
                <li><a href="/subpage">Services & Support</a></li>
                <li><a href="/subpage">Web Publishing Service</a></li>
                <li><a href="/subpage">Files.Warwick</a></li>
                <li><a href="/subpage">FAQs</a></li>
                <li class="active navbar-text">How do I upload a ZIP file?</li>
            </ul>
        </div>
    </nav>

    <nav class="secondary-navigation navbar navbar-secondary" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#secondary-navigation-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars fa-fw"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="secondary-navigation-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/subpage">Undergraduate</a></li>
                <li><a href="/subpage">Postgraduate</a></li>
                <li><a href="/subpage">What we did: improving our department</a></li>
            </ul>
        </div>
    </nav>
</div>