<div id="navigation">
    <nav class="primary-navigation navbar navbar-primary" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="primary-navigation-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/subpage">Link one</a></li>
                    <li><a href="/subpage">Link two</a></li>
                    <li class="active"><a href="/subpage">Link three</a></li>
                    <li><a href="/subpage">Link four</a></li>
                    <li><a href="/subpage">Link five</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Link six</a></li>
                            <li><a href="#">Link seven</a></li>
                            <li><a href="#">Link eight</a></li>
                            <li><a href="#">Link nine</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="secondary-navigation"></nav>
</div>