<div id="utility-bar">
    <nav class="container">
        <ul class="pull-right list-inline">
            <li><a href="#">Text only</a></li>
            <li><a href="#">Notify</a></li>
            <li><a href="#">Mat Mannion</a></li>
        </ul>
    </nav>
</div>