#boxstyle {
  .filled(@bg, @text-colour: black) {
    border: 0;
    background: @bg;
    color: @text-colour;

    @media print {
      border: 1px solid @bg;
    }
  }

  .filled(@bg, @text-colour: black) when not (@text-colour = inherit) {
    .header-colour(inherit);
  }

  .bordered(@border-colour, @text-colour: inherit) {
    background: none;
    border: 1px solid @border-colour;
    color: @text-colour;
  }

  .bordered(@border-colour, @text-colour: inherit) when not (@text-colour = inherit) {
    .header-colour(inherit);
  }
}