.apply-navbar-brand(@colour) {
  .apply-navbar-brand(@colour,
    contrast(@colour),
    contrast(@colour),
    contrast(@colour),
    darken(@colour, 7%),
    contrast(lighten(@colour, 20%)),
    lighten(@colour, 20%),
    contrast(@colour),
    darken(@colour, 7%)
  );

  @media (min-width: @grid-float-breakpoint) {
    .site-root & {
      background-color: fadeout(@colour, 20%);

      .transition(background-color 0.15s linear);
    }
  }
}

.apply-navbar-brand(
  @bg,
  @text,
  @link-colour,
  @link-hover-colour,
  @link-hover-bg,
  @link-active-colour,
  @link-active-bg,
  @link-disabled-colour,
  @link-disabled-bg) {

  background-color: @bg;

  .navbar-text {
    color: @text;
  }

  .navbar-nav {
    > li {
      color: @link-colour;

      &:hover,
      &:focus {
        color: @link-hover-colour;
        background-color: @link-hover-bg;
      }

      cursor: pointer; // TODO move elsewhere

      > a {
        &,
        &:hover,
        &:focus {
          color: inherit;
          background: none;
        }
      }
    }
    > .active {
      &,
      &:hover,
      &:focus {
        color: @link-active-colour;
        background-color: @link-active-bg;
      }
    }
    > .disabled {
      &,
      &:hover,
      &:focus {
        color: @link-disabled-colour;
        background-color: @link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border: none;
    color: @link-colour;

    &:hover,
    &:focus {
      color: @link-colour;
      background: none;
    }
  }

  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        color: @link-hover-colour;
        background-color: @link-hover-bg;
      }
    }

    // Dropdowns get custom display
    .dropdown-menu {
      background-color: @bg;

      > .dropdown-header {
        border-color: darken(@bg, 7%);
      }
      .divider {
        background-color: darken(@bg, 7%);
      }
      > li > a {
        color: @link-colour;
        &:hover,
        &:focus {
          color: @link-hover-colour;
          background-color: @link-hover-bg;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: @link-active-colour;
          background-color: @link-active-bg;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: @link-disabled-colour;
          background-color: @link-disabled-bg;
        }
      }
    }
  }

  .navbar-link {
    color: @link-colour;
    &:hover {
      color: @link-hover-colour;
    }
  }

  .btn-link {
    color: @link-colour;
    &:hover,
    &:focus {
      color: @link-hover-colour;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: @link-disabled-colour;
      }
    }
  }
}

.apply-brand(@colour) {
  #main-content {
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
      color: @colour;
    }
  }

  .brand-bg { background: @colour; }
  .brand-text { color: @colour; }
  .brand-border { border-color: @colour; }

  #utility-masthead {
    &::after {
      background-color: @colour;
    }
  }

  #utility-masthead, #utility-bar > .container {
    background-color: fadeout(@colour, 50%);
  }

  .navbar-primary {
    .apply-navbar-brand(@colour);
  }

  .site-root & #navigation:hover {
    .navbar-primary {
      background-color: @colour; // TODO work out how to move into apply-navbar-brand
    }
  }

  @breadcrumbs-colour: lighten(@colour, 10%);
  .navbar-primary .navbar-brand {
    background-color: @breadcrumbs-colour;
  }

  .site-root & #navigation:hover .navbar-primary .navbar-brand {
    background-color: @breadcrumbs-colour;
  }

  .navbar-breadcrumbs {
    .apply-navbar-brand(
      @breadcrumbs-colour,
      contrast(@colour),
      contrast(@colour),
      contrast(@colour),
      darken(@breadcrumbs-colour, 7%),
      contrast(lighten(@colour, 20%)),
      lighten(@breadcrumbs-colour, 20%),
      contrast(@colour),
      darken(@breadcrumbs-colour, 7%)
    );

    .site-root & {
      .transition(~"background-color 0.15s linear, height .35s ease, visibility .35s ease");
    }
  }

  .site-root & #navigation:hover {
    .navbar-breadcrumbs {
      background-color: @breadcrumbs-colour; // TODO work out how to move into apply-navbar-brand
    }
  }

  .navbar-secondary {
    @secondary-colour: @id7-brand-orange; // FIXME hardcoded

    .apply-navbar-brand(@secondary-colour);
  }

  .opaque-navigation .navbar-primary {
    background-color: @colour;
    .transition(none);
  }

  &.bordered {
    #left-border, #right-border { border-color: fadeout(@colour, 70%); }
  }

  #site-footer {
    background: @id7-site-footer-colour;
    color: contrast(@id7-site-footer-colour);
    .link-colour(contrast(@id7-site-footer-colour));
  }

  #app-footer {
    background: @colour;
    color: contrast(@colour);
    .link-colour(contrast(@colour));
  }

  #masthead .search {
    #search-box {
      border-color: @colour;
    }

    .fa {
      color: fadeout(@colour, 50%);
      .transition(color .15s linear);
    }

    // FIXME this is a <span> not an <input> so focus/active don't make sense
    .twitter-typeahead:active + .fa,
    .twitter-typeahead:hover + .fa,
    .twitter-typeahead:focus + .fa {
      color: @colour;
    }

    .twitter-typeahead .tt-suggestion.tt-cursor {
      background: @colour;
      color: contrast(@colour);
    }
  }

  .form-control {
    .form-control-focus(@colour);
  }

  .carousel .carousel-indicators li {
    &::after {
      color: fadeout(@colour, 70%);
    }

    &.active::after {
      color: @colour;
    }
  }
}