.apply-site-imagery(
  @basedir,
  @banner-image: "banner-image.jpg",
  @masthead-image: "masthead-image.jpg",
  @border-image-left: "border-image-left.jpg",
  @border-image-right: "border-image-right.jpg") {

  #id7-header-image-container {
    background-image: url("@{basedir}/@{banner-image}");
  }

  #id7-fixed-width-container, #id7-utility-bar.affix {
    background-image: url("@{basedir}/@{masthead-image}");
  }

  @media (min-width: @grid-float-breakpoint) {
    #id7-left-border {
      background-image: url("@{basedir}/@{border-image-left}");
    }

    #id7-right-border {
      background-image: url("@{basedir}/@{border-image-right}");
    }
  }
}

.apply-navbar-brand(@colour, @active-colour: screen(@colour, lighten(black, 30%))) {
  @border-colour: multiply(@colour, darken(white, 10%));

  .apply-navbar-brand(@colour,
    contrast(@colour),
    contrast(@colour),
    contrast(@colour),
    @border-colour,
    contrast(@active-colour),
    @active-colour,
    contrast(@colour),
    @border-colour
  );

  @media (min-width: @grid-float-breakpoint) {
    .id7-homepage-layout & {
      background-color: fadeout(@colour, 20%);

      .transition(background-color 0.15s linear);
    }
  }
}

.apply-navbar-brand(
  @bg,
  @text,
  @link-colour,
  @link-hover-colour,
  @link-hover-bg,
  @link-active-colour,
  @link-active-bg,
  @link-disabled-colour,
  @link-disabled-bg) {

  background-color: @bg;

  .navbar-text {
    color: @text;
  }

  .navbar-nav {
    > li {
      color: @link-colour;

      &:hover,
      &:focus {
        color: @link-hover-colour;
        background-color: @link-hover-bg;
      }

      > a {
        &,
        &:hover,
        &:focus {
          color: inherit;
          background: none;
        }
      }
    }
    > .active {
      &,
      &:hover,
      &:focus,
      &.nav-breadcrumb,
      &.nav-breadcrumb:hover,
      &.nav-breadcrumb:focus, {
        color: @link-active-colour;
        background-color: @link-active-bg;

        &::after {
          border-left-color: @link-active-bg !important;
        }
      }
    }
    > .disabled {
      &,
      &:hover,
      &:focus {
        color: @link-disabled-colour;
        background-color: @link-disabled-bg;
      }
    }
    > .nav-breadcrumb {
      @breadcrumb-colour: multiply(@bg, darken(white, 15%));

      color: contrast(@breadcrumb-colour);
      background-color: @breadcrumb-colour;

      &::after {
        border-left-color: @breadcrumb-colour !important;
      }

      &:hover,
      &:focus {
        color: contrast(@breadcrumb-colour);
        background-color: multiply(@breadcrumb-colour, darken(white, 10%));

        &::after {
          border-left-color: multiply(@breadcrumb-colour, darken(white, 10%)) !important;
        }
      }
    }
  }

  .navbar-toggle {
    border: none;
    color: @link-colour;

    &:hover,
    &:focus {
      color: @link-colour;
      background: none;
    }
  }

  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        color: @link-hover-colour;
        background-color: @link-hover-bg;
      }
    }

    // Dropdowns get custom display
    .dropdown-menu {
      background-color: @bg;

      @dropdown-accent-colour: multiply(@bg, darken(white, 10%));

      > .dropdown-header {
        border-color: @dropdown-accent-colour;
      }
      .divider {
        background-color: @dropdown-accent-colour;
      }
      > li > a {
        color: @link-colour;
        &:hover,
        &:focus {
          color: @link-hover-colour;
          background-color: @link-hover-bg;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: @link-active-colour;
          background-color: @link-active-bg;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: @link-disabled-colour;
          background-color: @link-disabled-bg;
        }
      }
    }
  }

  .navbar-link {
    color: @link-colour;
    &:hover {
      color: @link-hover-colour;
    }
  }

  .btn-link {
    color: @link-colour;
    &:hover,
    &:focus {
      color: @link-hover-colour;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: @link-disabled-colour;
      }
    }
  }
}

.apply-brand(@colour, @bright-colour: screen(@colour, lighten(black, 20%))) {
  // For older browsers where #id7-left-border and #id7-right-border don't display
  html {
    background: screen(@colour, lighten(black, 20%));
  }

  .header-colour(@colour);

  .brand-bg { background: @colour; }
  .brand-text { color: @colour; }
  .brand-border { border-color: @colour; }

  #id7-utility-masthead::after {
    background-color: @colour;
  }

  #id7-utility-masthead, #id7-utility-bar > nav {
    // IE8 won't put our semi-transparent overlay on here. Just make it the brand colour
    background-color: @colour;
    background-color: fadeout(@colour, 50%);
  }

  .navbar-primary {
    .apply-navbar-brand(@colour, @bright-colour);
  }

  .id7-homepage-layout & #id7-navigation:hover {
    .navbar-primary {
      background-color: @colour; // TODO work out how to move into apply-navbar-brand
    }
  }

  @breadcrumbs-colour: multiply(@colour, darken(white, 20%));
  .navbar-primary .navbar-brand {
    background-color: @breadcrumbs-colour;
  }

  .id7-homepage-layout & #id7-navigation:hover .navbar-primary .navbar-brand {
    background-color: @breadcrumbs-colour;
  }

  .navbar-breadcrumbs {
    @active-breadcrumbs-bg: screen(@breadcrumbs-colour, lighten(black, 20%));
    @breadcrumbs-accent-colour: multiply(@breadcrumbs-colour, darken(white, 10%));

    .apply-navbar-brand(
      @breadcrumbs-colour,
      contrast(@colour),
      contrast(@colour),
      contrast(@colour),
      @breadcrumbs-accent-colour,
      contrast(@active-breadcrumbs-bg),
      @active-breadcrumbs-bg,
      contrast(@colour),
      @breadcrumbs-accent-colour
    );

    .id7-homepage-layout & {
      .transition(~"background-color 0.15s linear, height .35s ease, visibility .35s ease");
    }
  }

  .id7-homepage-layout & #id7-navigation:hover {
    .navbar-breadcrumbs {
      background-color: @breadcrumbs-colour; // TODO work out how to move into apply-navbar-brand
    }
  }

  .navbar-secondary {
    @secondary-colour: screen(@bright-colour, lighten(black, 40%));
    @secondary-accent-colour: multiply(@secondary-colour, darken(white, 10%));

    .apply-navbar-brand(
      @secondary-colour,
      contrast(@secondary-colour),
      contrast(@secondary-colour),
      contrast(@secondary-colour),
      @secondary-accent-colour,
      black,
      white,
      contrast(@secondary-colour),
      @secondary-accent-colour
    );

    .breadcrumb > li + li:before {
      color: @colour;
    }
  }

  .opaque-navigation .navbar-primary {
    background-color: @colour;
    .transition(none);
  }

  &.bordered {
    #id7-left-border, #id7-right-border { border-color: fadeout(@colour, 70%); }
  }

  #id7-site-footer {
    background: @id7-site-footer-colour;
    color: contrast(@id7-site-footer-colour);
    .link-colour(contrast(@id7-site-footer-colour));
  }

  #id7-app-footer {
    background: @colour;
    color: contrast(@colour);
    .link-colour(contrast(@colour));
  }

  #id7-masthead #id7-search {
    #id7-search-box {
      border-color: @colour;
    }

    .fa {
      color: fadeout(@colour, 50%);
      .transition(color .15s linear);
    }

    .twitter-typeahead:hover + .fa {
      color: @colour;
    }

    .twitter-typeahead .tt-suggestion.tt-cursor {
      background: @colour;
      color: contrast(@colour);
    }
  }

  .form-control {
    .form-control-focus(@colour);
  }

  .carousel .carousel-indicators li {
    &::after {
      color: fadeout(@colour, 70%);
    }

    &.active::after {
      color: @colour;
    }
  }

  // Box styles
  .boxstyle_ {
    &.box1 {
      #boxstyle > .filled(screen(@colour, lighten(black, 80%)));
    }

    &.box2 {
      #boxstyle > .filled(@gray-lighter);
    }

    &.box3 {
      #boxstyle > .bordered(@colour);
    }

    &.box4 {
      #boxstyle > .bordered(@gray-light);
    }
  }
}