.equal-height-columns() {
  display: flex;

  > [class*='col-'] {
    display: flex;
    flex-direction: column;

    > * {
      flex: auto;
    }
  }

  // Undo boxstyle_ margins
  .boxstyle_ {
    margin: 0;
  }
}