.equal-height-columns() {
  display: flex;

  > [class*='col-'] {
    display: flex;
    flex-direction: column;

    > * {
      flex: auto;
    }
  }

  // Undo boxstyle_ margins
  .boxstyle_, .boxstyle-xs, .boxstyle-sm, .boxstyle-md, .boxstyle-lg {
    margin: 0;
  }
}