.horizontal-utility-links(@spacing: 0.2em, @separator-colour: @gray-light) {
  .list-unstyled();
  margin: 0;

  > li {
    display: inline-block;
    padding: 0;

    .lt-ie9 & {
      margin: 0 @spacing;
    }

    &:not(:first-child)::before {
      content: '|';
      margin-left: (@spacing / 2);
      margin-right: @spacing;
      color: @separator-colour;
    }
  }
}