.link-colour(@base) when not (@base = inherit) {
  a, a:link, a:visited {
    &:not(.btn) {
      color: @base;
      text-decoration: none;
    }
  }

  a:hover, a:focus, a:active {
    &:not(.btn) {
      color: darken(@base, 20%);
      text-decoration: @link-hover-decoration;
    }
  }

  a:hover .new-window-link {
    color: darken(@base, 20%);
  }
}

.link-colour(@base) when (@base = inherit) {
  a, a:link, a:visited {
    &:not(.btn) {
      color: inherit;
      text-decoration: none;
    }
  }

  a:hover, a:focus, a:active {
    &:not(.btn) {
      color: inherit;
      text-decoration: @link-hover-decoration;
    }
  }
}
