.link-colour(@base, @hover) {
  a, a:link, a:visited {
    color: @base;
  }

  a:hover, a:focus, a:active {
    color: @hover;
  }

  a:hover .new-window-link {
    color: @hover;
  }
}

.link-colour(@base, @hover) when not (@base = inherit) {
  a, a:link, a:visited {
    -webkit-text-decoration-color: lighten(@base, 20%); // Bug in caniuse/autoprefixer
    text-decoration-color: lighten(@base, 20%);
  }

  a:hover, a:focus, a:active {
    -webkit-text-decoration-color: @hover; // Bug in caniuse/autoprefixer
    text-decoration-color: @hover;
  }
}

.link-colour(@base) when not (@base = inherit) {
  .link-colour(@base, darken(@base, 20%));
}

.link-colour(@base) when (@base = inherit) {
  a, a:link, a:visited {
    color: inherit;
  }

  a:hover, a:focus, a:active {
    color: inherit;
  }
}

.link-decoration(@base: none, @hover: underline) {
  a, a:link, a:visited {
    text-decoration: @base;
  }

  a:hover, a:focus, a:active {
    text-decoration: @hover;
  }
}