.link-colour(@base, @hover) {
  a, a:link, a:visited {
    &:not(.btn) {
      color: @base;
    }
  }

  a:hover, a:focus, a:active {
    &:not(.btn) {
      color: @hover;
    }
  }

  a:hover .new-window-link {
    color: @hover;
  }
}

.link-colour(@base) when not (@base = inherit) {
  .link-colour(@base, darken(@base, 20%));
}

.link-colour(@base) when (@base = inherit) {
  a, a:link, a:visited {
    &:not(.btn) {
      color: inherit;
    }
  }

  a:hover, a:focus, a:active {
    &:not(.btn) {
      color: inherit;
    }
  }
}

.link-decoration(@base: none, @hover: underline) {
  a, a:link, a:visited {
    &:not(.btn) {
      text-decoration: @base;
    }
  }

  a:hover, a:focus, a:active {
    &:not(.btn) {
      text-decoration: @hover;
    }
  }
}