# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Software Engineering own all things
* @UniversityofWarwick/software-engineering-team
