.id7-outline() {
  outline: 3px solid transparent;
  color: #0b0c0c !important;
  background-color: @focus-outline !important;
  box-shadow: 0 -2px @focus-outline, 0 4px #0b0c0c;
  text-decoration: none !important;
}

.tab-focus() {
  outline-offset: 0;
  .id7-outline();
}

.open > a:focus, .dropdown-menu > .active > a:focus, .dropdown-toggle:focus, [role="button"]:focus {
  .id7-outline();
}
