@import (reference) '../bootstrap/less/variables.less';
@import (reference) '../bootstrap/less/mixins.less';
@import (reference) 'variables.less';
@import (reference) 'mixins.less';
@import (reference) 'design-tokens/all.less';

@media (min-width: @grid-float-breakpoint) {
  .id7-left-border {
    background-color: @gray-lighter;
  }

  .id7-right-border {
    background-color: @gray-lighter;
  }
}

:where(:root) {
  // Keep default theme colour as it was before
  //@brand-var: "id7-brand-lavender";
  @brand-var: "id7-brand-blue";
  .brand-css-variables(@@brand-var);
}
