@import 'bootstrap/variables.less';
@import 'bootstrap/mixins.less';
@import 'variables.less';
@import 'mixins.less';

/* A default theme */
.id7-fixed-width-container {
  background-color: @gray-lighter;
}

@media (min-width: @grid-float-breakpoint) {
  .id7-left-border {
    background-color: @gray-lighter;
  }

  .id7-right-border {
    background-color: @gray-lighter;
  }
}

.apply-brand(@id7-brand-default);