body {
  width: 100%;
  min-height: 100vh;
}

.id7-fixed-width-container {
  .container-fixed(0);
  min-height: 100vh;

  background-position: left top;
  background-repeat: no-repeat;

  > a.sr-only-focusable { // "Skip to main content" link
    top: 0px;
    left: @grid-gutter-width;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    z-index: 100;

    &:focus, &:active {
      position: absolute;
    }

    &, &:link, &:visited, &:hover, &:focus, &:active {
      color: white;
    }
  }

  // Stretch the content down to the footer, using Flexbox
  @media (min-width: @grid-float-breakpoint) {
    html.flexbox & {
      display: flex;
      flex-direction: column;

      .id7-main-content-area {
        flex: 1 0 auto;

        display: flex;
        flex-direction: column;

        .id7-main-content {
          flex: 1 0 auto;
        }
      }
    }
  }

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }

  position: relative;
  z-index: 1;

  @media (min-width: @grid-float-breakpoint) {
    &.shadowed {
      box-shadow: 0 0 25px rgba(0, 0, 0, .1);
    }
  }
}

@media (min-width: @grid-float-breakpoint) {
  .id7-left-border, .id7-right-border {
    position: fixed;
    top: 0px;
    width: 50%;
    height: 100%;
    z-index: 0;
  }

  .id7-left-border {
    background-position: right top;
    background-repeat: no-repeat;
    left: 0;

    .translate((-(@container-sm/2)), 0);

    .bordered & {
      border-right: 1px solid #808080;
    }
  }

  .id7-right-border {
    background-position: left top;
    background-repeat: no-repeat;
    right: 0;

    .translate((@container-sm / 2), 0);

    .bordered & {
      border-left: 1px solid #808080;
    }
  }
}

@media (min-width: @screen-md-min) {
  .id7-left-border {
    .translate((-(@container-md / 2)), 0);

  }
  .id7-right-border {
    .translate((@container-md / 2), 0);
  }
}

@media (min-width: @screen-lg-min) {
  .id7-left-border {
    .translate((-(@container-lg / 2)), 0);
  }
  .id7-right-border {
    .translate((@container-lg / 2), 0);
  }
}

@media (min-height: (@id7-border-image-height + 1)) {
  .id7-left-border, .id7-right-border {
    background-size: @id7-border-image-width 100%;
  }
}

@media (min-width: (@container-lg + (@id7-border-image-width * 2) + 1)) {
  .id7-left-border, .id7-right-border {
    background-size: (@id7-border-image-width * 2) 100%;
  }
}

@media (min-width: (@container-lg + (@id7-border-image-width * 4) + 1)) {
  .id7-left-border, .id7-right-border {
    background-size: (@id7-border-image-width * 4) 100%;
  }
}

@media (min-width: (@container-lg + (@id7-border-image-width * 8) + 1)) {
  .id7-left-border, .id7-right-border {
    background-size: cover;
  }
}