footer {
  .id7-site-footer, .id7-app-footer {
    .container-fluid();
    position: relative;
    padding-top: (@grid-gutter-width / 2);

    @media screen {
      .id7-logo-bleed {
        .logo-as-css(auto, @grid-gutter-width, @id7-site-footer-colour);
        position: absolute;
        top: 0px;
        right: 10%;

        + * {
          margin-top: (@grid-gutter-width / 2);
        }
      }
    }
  }

  .id7-app-footer {
    .small();

    .page-footer-elements {
      margin-top: 0;

      ul {
        margin: 0;
        padding-left: 0;
        list-style: none;
      }
    }

    .id7-footer-utility {
      margin-bottom: (@grid-gutter-width / 2);

      ul {
        .horizontal-utility-links();
      }
    }
  }
}

.id7-non-branded {
  .id7-page-footer {
    .id7-site-footer, .id7-app-footer {
      .id7-logo-bleed {
        display: none;

        + * {
          margin-top: 0;
        }
      }
    }
  }
}