.id7-page-header {
  .link-decoration(none);
  .bordered-headings(none);

  & when (@id7-gen-layout > 2024) {
    border-bottom: 1px solid @text-color;
  }

  // Hide the whole header when printing
  @media print {
    display: none;
  }

  .alert {
    padding: 0.3em;
    text-align: center;
    margin: 0;
  }

  .alert a {
    color: @link-color;
  }
}

@import 'utility-bar.less';
@import 'masthead.less';
@import 'header-image.less';
@import 'carousel.less';
