#id7-main-content-header {
  .container();
  background: white;
}

#id7-main-content {
  .container();
  background: white;
  padding-top: (@grid-gutter-width / 2);
  padding-bottom: (@grid-gutter-width / 2);
}

@import "main-content/box-styles.less";
@import "main-content/max-widths.less";
@import "main-content/text-styles.less";
@import "main-content/id6-legacy.less";