#id7-main-content-header {
  .container();
  background: white;
}

#id7-main-content {
  .container();
  background: white;
  padding-top: (@grid-gutter-width / 2);
  padding-bottom: (@grid-gutter-width / 2);
}

// TODO move these into main-content/
.bordered-headings(@id7-subtle-line-colour);

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  &:first-child {
    margin-top: 0;
  }
}

#id7-page-title {
  margin-top: (@grid-gutter-width / 2);
  margin-bottom: @line-height-computed;
}

.bordered {
  border-bottom: 1px solid @id7-subtle-line-colour;
}

@import "main-content/box-styles.less";
@import "main-content/max-widths.less";
@import "main-content/text-styles.less";
@import "main-content/id6-legacy.less";