.id7-masthead {
  .container-fluid();
  .id7-masthead-contents {
    .make-row();
  }
  .id7-logo-column {
    .make-sm-column(8);

    margin-bottom: 2px;

    @media (max-width: @screen-xs-max) {
      margin-bottom: 10px;
    }
  }
  .id7-search-column {
    .make-sm-column(4);
  }

  .id7-logo-row {
    .make-row();
    height: @id7-masthead-logo-height-xs;

    > .id7-logo {
      img { visibility: hidden; }
    }
  }

  background-image: url("../images/masthead-logo-bleed-xs.png");
  background-size: @screen-sm-min 300px;

  @media (min-width: @grid-float-breakpoint) {
    background-image: url("../images/masthead-logo-bleed-sm.png");
    background-size: @container-lg 300px;

    .id7-logo-row {
      height: @id7-masthead-logo-height-sm;

      > .id7-logo {
        width: @id7-masthead-logo-width-sm;
        float: left;
      }
    }
  }

  .id7-logo a {
    display: block;
    height: @id7-masthead-logo-height-xs;
    width: 100%;
    text-align: center;

    @media (min-width: @grid-float-breakpoint) {
      height: @id7-masthead-logo-height-sm;
    }

    img {
      height: 100%;
    }
  }

  .id7-header-text {
    .header-colour(@text-color);
    .link-colour(inherit);
    padding: 0 20px;

    h1 {
      @id7-header-h1-height: (1.5 * @main-font-size);
      @id7-header-h1-margin-top: (@id7-masthead-bleed-height + @id7-masthead-logo-height-sm);
      @id7-header-h1-margin-bottom: (@id7-masthead-height - @id7-header-h1-height - @id7-header-h1-margin-top);

      font-size: @id7-header-h1-height;
      line-height: @id7-header-h1-height;
      margin: @id7-header-h1-margin-top 0 @id7-header-h1-margin-bottom 0;

      @media (max-width: (@grid-float-breakpoint - 1)) {
        .text-overflow();
      }
    }

    .id7-parent-site-link {
      color: @gray-light;

      &.hidden-xs::after {
        .fa();
        font-size: 12px;
        content: @fa-var-play;
        margin-left: (@grid-gutter-width / 5);

        position: relative;
        top: -4px;
      }

      &.visible-xs-block {
        font-size: 1.25rem;
      }
    }

    .id7-current-site-link.visible-xs-block {
      font-size: 2rem;
    }
  }

  .id7-logo-row nav {
    .hidden-xs();
    .hidden-sm();

    margin-left: (@id7-masthead-logo-width-sm + (@grid-gutter-width / 2));

    .opacity(0);
    .transition(opacity 0.15s linear);
    .small();

    @line-height-small-computed: floor((@font-size-small * @line-height-small)); // ~17px
    margin-top: ((@id7-masthead-logo-height-sm * 5/6) - (@line-height-small-computed / 2));

    ul {
      .horizontal-utility-links();
    }

    .link-colour(@gray-dark);
  }

  .id7-logo-row:hover nav { .opacity(1); }

  .id7-search {
    .id7-search-box-container {
      @media (min-width: @grid-float-breakpoint) {
        margin-top: (@id7-masthead-search-offset + (@line-height-computed / 2));
      }

      position: relative;

      .input-lg {
        padding-right: (@padding-large-horizontal + @id7-masthead-search-button-width);
      }
    }

    .form-group {
      margin-bottom: 0;
    }

    .fa {
      position: absolute;
      top: 9px;
      right: 9px;

      color: @gray-light;
      .transition(color .15s linear);
    }

    .id7-search-box:active + .fa,
    .id7-search-box:hover + .fa,
    .id7-search-box:focus + .fa {
      color: black;
    }

    .id7-search-box {
      border-radius: 0;
    }

    .twitter-typeahead {
      width: 100%;
    }

    .tt-dropdown-menu {
      width: 100%;
      margin-top: -1px;
      background-color: #fff;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.2);
      .box-shadow(0 5px 10px rgba(0,0,0,.2));
    }

    .tt-suggestion {
      padding: 8px 20px;
      line-height: 18px;
    }

    .tt-suggestion + .tt-suggestion {
      border-top: 1px solid #ccc;
    }

    .tt-suggestions .go-path {
      font-size: 20px;
      font-weight: bold;
    }

    .tt-suggestions .go-description {
      margin: 0;
    }

    .twitter-typeahead .tt-suggestion.tt-cursor {
      cursor: pointer;
    }
  }
}

// Retina versions of masthead images
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .id7-masthead {
    background-image: url("../images/masthead-logo-bleed-xs@2x.png");
  }
}

@media
only screen and (min-width: @grid-float-breakpoint) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: @grid-float-breakpoint) and (   min--moz-device-pixel-ratio: 2),
only screen and (min-width: @grid-float-breakpoint) and (     -o-min-device-pixel-ratio: 2/1),
only screen and (min-width: @grid-float-breakpoint) and (        min-device-pixel-ratio: 2),
only screen and (min-width: @grid-float-breakpoint) and (                min-resolution: 192dpi),
only screen and (min-width: @grid-float-breakpoint) and (                min-resolution: 2dppx) {
  .id7-masthead {
    background-image: url("../images/masthead-logo-bleed-sm@2x.png");
  }
}

// Unbranded sites don't get the logo in the masthead
.id7-non-branded {
  .id7-masthead {
    background: white !important;
  }

  .id7-logo-column,
  .id7-utility-masthead::after {
    content: none;
    display: none;
  }

  .id7-search-box-container {
    margin-top: (@line-height-computed / 2) !important;
  }
}