@nav-triangle-width: 13px;
@nav-triangle-height: 7px;

.id7-navigation {
  position: relative;
  z-index: 1;

  .navbar {
    min-height: 0;
    border-width: 0px;

    .navbar-nav {
      padding-right: 10px;

      li.first {
        padding-left: 20px;
      }
    }
  }

  &.affix {
    position: fixed;
    top: @id7-masthead-bleed-height;
    width: 100%;
    z-index: 10;

    @media (min-width: @screen-sm-min) {
      width: @container-sm;
    }

    @media (min-width: @screen-md-min) {
      width: @container-md;
    }

    @media (min-width: @screen-lg-min) {
      width: @container-lg;
    }
  }

  .navbar-breadcrumb-collapse {
    overflow-x: visible;
    padding-right: @navbar-padding-horizontal;
    padding-left:  @navbar-padding-horizontal;
    min-height: 0;
    width: auto;

    &:extend(.clearfix all);
    -webkit-overflow-scrolling: touch;

    // Uncollapse the nav
    .navbar-nav {
      float: left;
      margin: 0;

      > li {
        float: left;
      }
    }
  }

  .navbar-breadcrumb-collapse {
    border-width: 0px;
  }

  .dropdown-menu {
    border: 0;
  }

  @media (min-width: @grid-float-breakpoint) {
    .navbar-nav .dropdown:hover .dropdown-menu {
      display: block;
    }
  }

  // Fiddle with the padding to expand the <a> all the way out
  .navbar-nav > li {
    padding: @nav-link-padding;
    padding-top: @navbar-padding-vertical;
    padding-bottom: @navbar-padding-vertical;

    cursor: pointer;

    > a {
      padding: 0;
    }
  }

  .navbar {
    .navbar-nav ul.dropdown-menu > li.active {
      // highlighting in 'more' dropdowns
      > a {
        font-weight: bold;
      }

      // active section triangle indicator
      &::after {
          content: ' ';
          position: absolute;
          z-index: 2;
          margin-top: (-@font-size-base + 1 - @nav-triangle-width/2);

          .triangle(right, @nav-triangle-width, @nav-triangle-height, white);
      }
    }

    .navbar-nav > li {
      position: relative;
      margin: 0 2px;

      &.first {
        margin-left: 0;
      }

      // Arrow background for first breadcrumb in .navbar-secondary
      &.nav-breadcrumb.first {
        margin-right: 17px;

        &::after {
          top: 0;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          right: -17px;
          border-style: solid;
          border-width: 17px 0 17px 17px;
          z-index: 10;
        }
      }

      // For breadcrumbs in .navbar-secondary
      &.nav-breadcrumb:not(.first):not(.nav-last-breadcrumb):not(.dropdown) {
        margin-right: 0.5em;

        &::after {
          .fa();
          font-size: 0.7em;
          content: @fa-var-play;
          position: absolute;
          left: 101%;
          top: 14px;
          .opacity(1);
        }
      }

      // bar between breadcrumbs and siblings (if present)
      // bar between siblings
      &.nav-last-breadcrumb + li::before,
      &:not(.nav-breadcrumb):not(:last-child)::after {
        content: '|';
        font-size: 15px;
        font-weight: normal;
        position: absolute;
        top: 5px;
        width: 2px;
        .opacity(0.5);
      }

      // bar between breadcrumbs and siblings (if present)
      &.nav-last-breadcrumb + li::before {
        left: 0%;
        margin-left: -3px;
      }

      // bar between siblings
      &:not(.nav-breadcrumb):not(:last-child)::after {
        left: 100%;
        margin-left: 1px;
      }

      &.active {
        font-weight: bold;

        // active section triangle indicator
        &::before {
          content: " ";
          position: absolute;
          bottom: 0px;
          left: 50%;
          z-index: 2;
          margin-left: (-@nav-triangle-width / 2);

          .triangle(up, @nav-triangle-width, @nav-triangle-height, white);
        }

        // hide the triangle on hover if there's a menu
        &.dropdown:hover::before,
        &.dropdown:active::before {
          display: none;
        }
      }
    }
  }

  .navbar-secondary, .navbar-tertiary {
    .navbar-nav > li:not(.nav-breadcrumb) {
      font-size: (@font-size-base - 1px);
    }
  }

  .navbar-nav > li,
  .navbar-secondary > li.first::after {
    .transition(~"background-color .15s linear, color .15s linear")
  }

  // Don't collapse nav
  .navbar-header {
    float: left !important;
  }

  .navbar-nav {
    // Uncollapse the nav
    float: left;
    margin: 0;

    > li {
      float: left;
    }

    &.navbar-right {
      float: right !important;

      .dropdown-menu {
        .dropdown-menu-right();

        .dropdown-menu {
          display: none;
        }
      }
    }
  }

  &.affix + .id7-navigation-marker {
    display: block;
  }

  .discreet {
    .opacity(0.4);
  }
}

.id7-navigation-marker { display: none; }