#id7-navigation {
  position: relative;
  z-index: 1;

  .navbar {
    min-height: 0;
    border-width: 0px;
  }

  &.affix {
    position: fixed;
    top: @id7-masthead-bleed-height;
    width: 100%;
    z-index: 10;

    @media (min-width: @screen-sm-min) {
      width: @container-sm;
    }

    @media (min-width: @screen-md-min) {
      width: @container-md;
    }

    @media (min-width: @screen-lg-min) {
      width: @container-lg;
    }
  }

  .navbar-breadcrumb-collapse {
    overflow-x: visible;
    padding-right: @navbar-padding-horizontal;
    padding-left:  @navbar-padding-horizontal;
    min-height: 0;
    width: auto;

    &:extend(.clearfix all);
    -webkit-overflow-scrolling: touch;

    // Uncollapse the nav
    .navbar-nav {
      float: left;
      margin: 0;

      > li {
        float: left;
      }
    }
  }

  .navbar-breadcrumb-collapse {
    border-width: 0px;
  }

  .navbar-toggle, .navbar-brand {
    padding: 7px 8px;
  }

  .navbar-brand {
    border: 0;

    &:focus {
      // remove focus outline
      outline: 0 !important;
    }

    i.fa {
      position: relative;
      top: -1.5px;

      .transition(transform .35s ease);

      &.active {
        .transform-origin(49% 48%);
        .fa-icon-rotate(508deg, 5);
      }
    }
  }

  .navbar-breadcrumbs {
    // Float above secondary nav (or content)
    position: absolute;
    width: 100%;
    z-index: 4;

    .small();

    .navbar-nav {
      > li {
        padding-left: 4px;
        padding-right: 6px;
        margin: 0 (@line-height-computed / 2) 0 0;

        &:first-child { margin-left: 0; }
        &::after {
          .fa();
          font-size: 0.7em;
          content: @fa-var-play;
          position: absolute;
          left: 100%;
          top: 11px;
        }
      }
      > li.navbar-text {
        margin: 0 (@line-height-computed / 2) 0 0;
        line-height: @line-height-computed;
        cursor: auto;

        &::after {
          content: none;
          display: none;
        }
      }
    }
  }

  .dropdown-menu {
    border: 0;
  }

  @media (min-width: @grid-float-breakpoint) {
    .navbar-nav .dropdown:hover .dropdown-menu {
      display: block;
    }
  }

  // Fiddle with the padding to expand the <a> all the way out
  .navbar-nav > li {
    padding: @nav-link-padding;
    padding-top: @navbar-padding-vertical;
    padding-bottom: @navbar-padding-vertical;

    cursor: pointer;

    > a {
      padding: 0;
    }
  }

  .navbar-primary, .navbar-secondary {
    .navbar-nav > li {
      position: relative;

      &:not(.nav-breadcrumb):not(:first-child)::before {
        content: '|';
        position: absolute;
        right: 100%;
        top: 6px;
        width: 2px;
        margin-left: 1px;
        .opacity(0.5);
      }

      // For breadcrumbs as a separate element
      &.nav-breadcrumb {
        &:not(.dropdown) + li::before {
          .fa();
          font-size: 0.7em;
          content: @fa-var-play;
          position: absolute;

          // 8px * 10px
          left: 0px;
          right: auto;
          top: 50%;
          margin-top: -4px;
          margin-left: -4px;
          width: auto;

          .opacity(1);
        }
      }

      &.active {
        font-weight: bold;

        // Add an upwards pointing triangle at the bottom to link it to the other sections
        &::after {
          content: " ";
          position: absolute;
          bottom: 0px;
          left: 50%;
          z-index: 2;

          @nav-triangle-width: 13px;
          @nav-triangle-height: 7px;

          margin-left: (-@nav-triangle-width / 2);

          .triangle(up, @nav-triangle-width, @nav-triangle-height, white);
        }
      }
    }
  }

  .navbar-secondary .navbar-nav > li:not(.nav-breadcrumb) {
    font-size: (@font-size-base - 1px);
  }

  .navbar-nav > li {
    .transition(~"background-color .15s linear, color .15s linear")
  }

  // Don't collapse nav
  .navbar-header {
    float: left !important;
  }

  .navbar-nav {
    // Uncollapse the nav
    float: left;
    margin: 0;

    > li {
      float: left;
    }

    &.navbar-right {
      float: right !important;

      .dropdown-menu {
        .dropdown-menu-right();
      }
    }
  }

  &.affix + .id7-navigation-marker {
    display: block;
  }
}

.id7-navigation-marker { display: none; }