.btn-group.id7-btn-group .btn-default.active {
  background: #284f90;
  box-shadow: none;
  color: #fff !important;
}

.btn-group.id7-btn-group .btn-default {
  background: transparent;
}

.btn-group.id7-btn-group .btn-default {
  padding: 0.75rem 2rem;
  transition: none;
}

.btn-group.id7-btn-group .btn-default.active {
  border-color: #153a77;
}

.btn-group.id7-btn-group .btn-default:focus {
  background: #284f90 !important;
  color: #fff !important;
}
