.equal-height-xs {
  .equal-height-columns();
}

@media (min-width: @screen-sm-min) {
  // Legacy, use equal-height-sm
  .equal-height {
    .equal-height-columns();
  }

  .equal-height-sm {
    .equal-height-columns();
  }
}

@media (min-width: @screen-md-min) {
  .equal-height-md {
    .equal-height-columns();
  }
}

@media (min-width: @screen-lg-min) {
  .equal-height-lg {
    .equal-height-columns();
  }
}

.flush-left {
  margin-left: (-(@grid-gutter-width / 2));
}

.flush-right {
  margin-right: (-(@grid-gutter-width / 2));
}

.full-width {
  .flush-left;
  .flush-right;
}

.flush-top {
  margin-top: (-(@grid-gutter-width / 2));
}

.flush-bottom {
  margin-bottom: (-(@grid-gutter-width / 2));
}