.id7-utility-bar {
  .container-fluid((@grid-gutter-width * 2));
  position: relative;
  .small();
  white-space: nowrap;

  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  height: @id7-masthead-bleed-height;
  line-height: @id7-masthead-bleed-height;

  > ul {
    .pull-right();
    .horizontal-utility-links(0.4em, @gray-lighter);
  }

  .link-colour(white);

  .caret { margin-left: 5px; }

  iframe[seamless] {
    background-color: transparent;
    padding: 0px;
    overflow: hidden;
  }

  .dropdown-menu {
    margin-top: 0;
    padding: 5px 0;
    font-size: inherit;

    > li {
      margin: 0;

      > a {
        padding: 1px 20px;

        &,
        &:link,
        &:visited,
        &:hover {
          color: @text-color;
          text-decoration: none;
        }
      }
    }

    > li.divider {
      margin: 5px 0;
    }
  }

  .popover.account-information {
    text-shadow: none;

    max-width: 100%;
    width: @id7-account-popover-width;

    .account-info {
      margin-bottom: 9px;

      iframe {
        height: 80px;
        width: 100%;
      }
    }

    .actions {
      .link-colour(@gray-dark);

      a:hover, a:focus {
        text-decoration: none;
      }

      background: @id7-account-popover-actions-bg;
      border-top: 1px solid @id7-account-popover-actions-border;

      margin-left: (-(@popover-padding-horizontal + 1px));
      margin-right: (-(@popover-padding-horizontal + 1px));
      margin-bottom: (-(@popover-padding-vertical + 1px));

      .btn-group-justified {
        border-spacing: (@line-height-computed / 2);
      }
    }
  }
}