@import "bootstrap/variables.less";

@grid-gutter-width:         40px;

@container-tablet:          (710px + @grid-gutter-width);
@container-desktop:         (930px + @grid-gutter-width);
@container-large-desktop:   (1130px + @grid-gutter-width);

// Primary colour palette   // Secondary colour palette
@id7-brand-purple: #7b428e;
  @id7-brand-gray: #828c95;
 @id7-brand-white: #ffffff;
  @id7-brand-gold: #dcbe2d;   @id7-brand-gold-bright: #f5ca21;
@id7-brand-orange: #f1863c; @id7-brand-orange-bright: #f89d3c;
   @id7-brand-red: #bd3f4b;    @id7-brand-red-bright: #ef4050;
 @id7-brand-green: #a5ab2a;  @id7-brand-green-bright: #59c1a5;
  @id7-brand-blue: #6ca4d4;   @id7-brand-blue-bright: #07bbdb;

@id7-brand-default: @id7-brand-purple;

@id7-subtle-line-colour: #ababab;

@id7-account-popover-width: 320px;
@id7-account-popover-actions-bg: #f7f7f7;
@id7-account-popover-actions-border: #ebebeb;

@id7-masthead-bleed-height: 24px;
@id7-masthead-logo-height-xs: 54px;
@id7-masthead-logo-height-sm: 80px;
@id7-masthead-logo-width-xs: 125px;
@id7-masthead-logo-width-sm: 180px;

@id7-masthead-search-offset: 32px;
@id7-masthead-search-button-width: 26px;

@id7-header-height-lg: 375px;
@id7-header-ratio: (@container-lg / @id7-header-height-lg); // 3.12

@id7-header-height-md: (round(@container-md / @id7-header-ratio)); // ~311
@id7-header-height-sm: (round(@container-sm / @id7-header-ratio)); // ~240
@id7-header-height-xs: 200px;

@id7-header-h1-font-size: 30px;
@id7-header-h1-height: (1.5 * @main-font-size);
@id7-header-h1-padding-vertical: (@id7-masthead-bleed-height / 2);
@id7-affixed-header-height-xs: 52px;
@id7-affixed-header-height-sm: 48px;

@id7-navigation-height: 35px;
@id7-navigation-tertiary-background-colour: #f8f8f8;

@id7-screen-max-width: 1920px;
@id7-screen-max-height: 1200px;

@id7-site-footer-colour: #d3d3d3;

@id7-print-logo-width: 142px;

@id7-image-root-dir: "../images";

// Bootstrap and FA variable overrides
@icon-font-path: '../fonts';
@fa-font-path: '../fonts';
@body-bg: transparent;
@text-color: #383838;
@font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@line-height-base: 1.6;

@main-font-size: 16px;
@main-font-weight: 300;

@blockquote-font-size: @main-font-size;

@headings-font-weight: 400;

@nav-link-padding: 10px;

@navbar-height: @id7-navigation-height;
@navbar-margin-bottom: 0;

@navbar-padding-horizontal: 0;
@navbar-border-radius: 0;

@popover-padding-vertical: (@main-font-size - 1px); // 16px
@popover-padding-horizontal: ((@grid-gutter-width / 2) - 1px); // 19px

@input-color: #222222;

//@font-size-h1: floor((@font-size-base * 2.25)); // ~31px
//@font-size-h2: floor((@font-size-base * 2)); // ~28px

// see @id7-header-h1-font-size for site title size.
@font-size-h1: 28px;
@font-size-h2: 26px;
@font-size-h3: 24px;
@font-size-h4: 22px;
@font-size-h5: 20px;
@font-size-h6: @main-font-size;
@id7-h6-font-weight: bold;

@border-radius-base: 0px;
@border-radius-large: 0px;
@border-radius-small: 0px;

@btn-default-bg: #f4f4f4;

@grid-float-breakpoint-max: 0px; // Don't collapse nav

@brand-primary: @id7-brand-purple;
@brand-success: @id7-brand-green;
@brand-info: @id7-brand-blue;
@brand-warning: @id7-brand-orange;
@brand-danger: @id7-brand-red;
