// Support wider viewports than standard
.container(@gutter) {
  .container-fixed(@gutter);

  @media screen and (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media screen and (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media screen and (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}

.container(@gutter) when (@support-xl-viewport) {
  @media screen and (min-width: @screen-xl-min) {
    width: @container-xl;
  }
}

.container(@gutter) when (@support-xl-viewport) and (@support-2xl-viewport) {
  @media screen and (min-width: @screen-2xl-min) {
    width: @container-2xl;
  }
}

.container-fluid(@gutter) {
  .container-fixed(@gutter);
}

.apply-wide-viewport-support() when (@support-xl-viewport) {
  .id7-fixed-width-container {
    @media screen and (min-width: @screen-xl-min) {
      width: @container-xl;
    }
  }

  @media screen and (min-width: @screen-xl-min) {
    .id7-left-border {
      .translate((-(@container-xl / 2)), 0);
    }
    .id7-right-border {
      .translate((@container-xl / 2), 0);
    }
  }

  .id7-masthead {
    // Need a wider version of the SVGs/PNGs in the masthead
    @media (min-width: @screen-xl-min) {
      .svg-background-with-fallback("@{id7-image-root-dir}/masthead-logo-bleed-lg", "@{id7-image-root-dir}/masthead-logo-bleed-lg");
      background-size: @container-2xl 300px;
    }

    .id7-header-text h1.affix {
      @media (min-width: @screen-xl-min) {
        width: @container-xl;
      }
    }
  }

  .id7-navigation.affix {
    @media (min-width: @screen-xl-min) {
      width: @container-xl;
    }
  }
}
.apply-wide-viewport-support() when (@support-xl-viewport) and (@support-2xl-viewport) {
  .id7-fixed-width-container {
    @media screen and (min-width: @screen-2xl-min) {
      width: @container-2xl;
    }
  }

  @media screen and (min-width: @screen-2xl-min) {
    .id7-left-border {
      .translate((-(@container-2xl / 2)), 0);
    }
    .id7-right-border {
      .translate((@container-2xl / 2), 0);
    }
  }

  .id7-masthead .id7-header-text h1.affix {
    @media (min-width: @screen-2xl-min) {
      width: @container-2xl;
    }
  }

  .id7-navigation.affix {
    @media (min-width: @screen-2xl-min) {
      width: @container-2xl;
    }
  }
}
.apply-wide-viewport-support();

.id7-main-content-area {
  > header, > .id7-main-content {
    .container((@grid-gutter-width * 2));
  }
}

.id7-paging {
  .container((@grid-gutter-width * 2));
}

// col-xl and col-2xl
.make-xl-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-right: (@gutter / 2);
  padding-left: (@gutter / 2);

  @media (min-width: @screen-xl-min) {
    float: left;
    width: percentage((@columns / @grid-columns));
  }
}
.make-xl-column-offset(@columns) {
  @media (min-width: @screen-xl-min) {
    margin-left: percentage((@columns / @grid-columns));
  }
}
.make-xl-column-push(@columns) {
  @media (min-width: @screen-xl-min) {
    left: percentage((@columns / @grid-columns));
  }
}
.make-xl-column-pull(@columns) {
  @media (min-width: @screen-xl-min) {
    right: percentage((@columns / @grid-columns));
  }
}

.make-2xl-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-right: (@gutter / 2);
  padding-left: (@gutter / 2);

  @media (min-width: @screen-2xl-min) {
    float: left;
    width: percentage((@columns / @grid-columns));
  }
}
.make-2xl-column-offset(@columns) {
  @media (min-width: @screen-2xl-min) {
    margin-left: percentage((@columns / @grid-columns));
  }
}
.make-2xl-column-push(@columns) {
  @media (min-width: @screen-2xl-min) {
    left: percentage((@columns / @grid-columns));
  }
}
.make-2xl-column-pull(@columns) {
  @media (min-width: @screen-2xl-min) {
    right: percentage((@columns / @grid-columns));
  }
}

// Extra wide grid column styles for xl and 2xl
.make-wide-grid-columns() when (@support-xl-viewport) {
  // Common styles for all sizes of grid columns, widths 1-12
  .col(@index) { // initial
    @item: ~".col-xl-@{index}";
    .col((@index + 1), @item);
  }
  .col(@index, @list) when (@index =< @grid-columns) { // general; "=<" isn't a typo
    @item: ~".col-xl-@{index}";
    .col((@index + 1), ~"@{list}, @{item}");
  }
  .col(@index, @list) when (@index > @grid-columns) { // terminal
    @{list} {
      position: relative;
      // Prevent columns from collapsing when empty
      min-height: 1px;
      // Inner gutter via padding
      padding-right: floor((@grid-gutter-width / 2));
      padding-left: ceil((@grid-gutter-width / 2));
    }
  }
  .col(1); // kickstart it
}
.make-wide-grid-columns() when (@support-xl-viewport) and (@support-2xl-viewport) {
  // Common styles for all sizes of grid columns, widths 1-12
  .col(@index) { // initial
    @item: ~".col-2xl-@{index}";
    .col((@index + 1), @item);
  }
  .col(@index, @list) when (@index =< @grid-columns) { // general; "=<" isn't a typo
    @item: ~".col-2xl-@{index}";
    .col((@index + 1), ~"@{list}, @{item}");
  }
  .col(@index, @list) when (@index > @grid-columns) { // terminal
    @{list} {
      position: relative;
      // Prevent columns from collapsing when empty
      min-height: 1px;
      // Inner gutter via padding
      padding-right: floor((@grid-gutter-width / 2));
      padding-left: ceil((@grid-gutter-width / 2));
    }
  }
  .col(1); // kickstart it
}

.make-wide-grid-columns();

.make-wide-grid() when (@support-xl-viewport) {
  @media (min-width: @screen-xl-min) {
    .make-grid(xl);
  }
}
.make-wide-grid() when (@support-xl-viewport) and (@support-2xl-viewport) {
  @media (min-width: @screen-2xl-min) {
    .make-grid(2xl);
  }
}
.make-wide-grid();

.make-wide-border-images() when (@support-xl-viewport) {
  .id7-left-border, .id7-right-border {
    .make-large-screen-border-image-sizes(@max-container-width: @container-xl-desktop);
  }
}
.make-wide-border-images() when (@support-xl-viewport) and (@support-2xl-viewport) {
  .id7-left-border, .id7-right-border {
    .make-large-screen-border-image-sizes(@max-container-width: @container-2xl-desktop);
  }
}