Mat Mannion <m.mannion@warwick.ac.uk>
Mat Mannion <m.mannion@warwick.ac.uk> <M.Mannion@warwick.ac.uk>
Mat Mannion <m.mannion@warwick.ac.uk> <mat.mannion@gmail.com>
James Barrett <j.barrett@warwick.ac.uk>
James Barrett <j.barrett@warwick.ac.uk> <j.barrett.1@warwick.ac.uk>
James Barrett <j.barrett@warwick.ac.uk> <J.Barrett@warwick.ac.uk>
James Barrett <j.barrett@warwick.ac.uk> <cusmbg@gordon>
Nick Howes <n.howes@warwick.ac.uk>
Nick Howes <n.howes@warwick.ac.uk> <Nick@.(none)>
Nick Howes <n.howes@warwick.ac.uk> <nick@nickhowes.co.uk>
Nick Kaijaks <nick.kaijaks@warwick.ac.uk>
Nick Kaijaks <nick.kaijaks@warwick.ac.uk> <Nick.Kaijaks@warwick.ac.uk>
Nick Kaijaks <nick.kaijaks@warwick.ac.uk> <github@thekx.org>
Sarah O'Toole <s.o-toole@warwick.ac.uk>
Sarah O'Toole <s.o-toole@warwick.ac.uk> <sarah.o-toole@warwick.ac.uk>
Sarah O'Toole <s.o-toole@warwick.ac.uk> <# cuscao>
Matt Jones <matthew.jones@warwick.ac.uk>
Matt Jones <matthew.jones@warwick.ac.uk> <Matthew.Jones@warwick.ac.uk>
Chris May <chris.may@blackpepper.co.uk> <chrismay50@gmail.com>
Steve Woodward <s.woodward@warwick.ac.uk>
Steve Woodward <s.woodward@warwick.ac.uk> <S.Woodward@warwick.ac.uk>
Zoe James <zoe.james@warwick.ac.uk>
Ritchie Allen <ritchie.allen@warwick.ac.uk>
Ritchie Allen <ritchie.allen@warwick.ac.uk> <Ritchie.Allen@warwick.ac.uk>
Archana Mathur <archana.mathur@warwick.ac.uk>
Paul Strapps <paul.strapps@warwick.ac.uk>
Tom Park <t.park@warwick.ac.uk>
