# Override to fetch fontawesome-free from the public registry, otherwise if you commit a
# package-lock.json where it's fetched from the private registry, Netlify will fail to build
@fortawesome:registry=https://registry.npmjs.org/