<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>

  <link href="/stylesheets/id7.css" rel="stylesheet">
  <link href="/site/site.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="/javascripts/html5shiv-3.7.2.min.js"></script>
  <script src="/javascripts/respond-1.4.2.min.js"></script>
  <![endif]-->
</head>
<body>
<div class="container main">
  <header id="page-header">
    <div id="masthead">

    </div>
    <div id="navigation">
      <nav class="primary-navigation"></nav>
      <nav class="secondary-navigation"></nav>
    </div>
    <div id="header-image">

    </div>
  </header>
  <section id="main-content-section">
    <header id="page-header">
      <h1>PAGE HEADER</h1>
    </header>

    <div id="main-content">
      BLAH BLAH BLAH CONTENT
    </div>
  </section>
  <footer id="page-footer">
    OH GOOD A FOOTER
  </footer>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery-1.11.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap-3.3.1.min.js"></script>
</body>
</html>
