@avenir-font-path: '../fonts/';

@avenir-ultralight-svg-id: '9fd4ea0c-b19a-4b21-9fdf-37045707dd78';
@avenir-ultralight-italic-svg-id: '3966f856-9dcf-48e7-88e7-7400f1b7d619';
@avenir-regular-svg-id: '52a192b1-bea5-4b48-879f-107f009b666f';
@avenir-italic-svg-id: '1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585';
@avenir-demi-svg-id: '99affa9a-a5e9-4559-bd07-20cf0071852d';
@avenir-demi-italic-svg-id: '4862b373-2643-46b1-b0b5-88537c52d15c';

@font-face {
  font-family: 'Avenir Next';
  src: url('@{avenir-font-path}/avenirnext-ultralight.eot');
  src: url('@{avenir-font-path}/avenirnext-ultralight.eot?#iefix') format('embedded-opentype'),
       url('@{avenir-font-path}/avenirnext-ultralight.woff') format('woff'),
       url('@{avenir-font-path}/avenirnext-ultralight.ttf') format('truetype'),
       url('@{avenir-font-path}/avenirnext-ultralight.svg#@{avenir-ultralight-svg-id}') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@{avenir-font-path}/avenirnext-ultralight-italic.eot');
  src: url('@{avenir-font-path}/avenirnext-ultralight-italic.eot?#iefix') format('embedded-opentype'),
       url('@{avenir-font-path}/avenirnext-ultralight-italic.woff') format('woff'),
       url('@{avenir-font-path}/avenirnext-ultralight-italic.ttf') format('truetype'),
       url('@{avenir-font-path}/avenirnext-ultralight-italic.svg#@{avenir-ultralight-italic-svg-id}') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@{avenir-font-path}/avenirnext-regular.eot');
  src: url('@{avenir-font-path}/avenirnext-regular.eot?#iefix') format('embedded-opentype'),
       url('@{avenir-font-path}/avenirnext-regular.woff') format('woff'),
       url('@{avenir-font-path}/avenirnext-regular.ttf') format('truetype'),
       url('@{avenir-font-path}/avenirnext-regular.svg#@{avenir-regular-svg-id}') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@{avenir-font-path}/avenirnext-italic.eot');
  src: url('@{avenir-font-path}/avenirnext-italic.eot?#iefix') format('embedded-opentype'),
       url('@{avenir-font-path}/avenirnext-italic.woff') format('woff'),
       url('@{avenir-font-path}/avenirnext-italic.ttf') format('truetype'),
       url('@{avenir-font-path}/avenirnext-italic.svg#@{avenir-italic-svg-id}') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@{avenir-font-path}/avenirnext-demi.eot');
  src: url('@{avenir-font-path}/avenirnext-demi.eot?#iefix') format('embedded-opentype'),
       url('@{avenir-font-path}/avenirnext-demi.woff') format('woff'),
       url('@{avenir-font-path}/avenirnext-demi.ttf') format('truetype'),
       url('@{avenir-font-path}/avenirnext-demi.svg#@{avenir-demi-svg-id}') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('@{avenir-font-path}/avenirnext-demi-italic.eot');
  src: url('@{avenir-font-path}/avenirnext-demi-italic.eot?#iefix') format('embedded-opentype'),
       url('@{avenir-font-path}/avenirnext-demi-italic.woff') format('woff'),
       url('@{avenir-font-path}/avenirnext-demi-italic.ttf') format('truetype'),
       url('@{avenir-font-path}/avenirnext-demi-italic.svg#@{avenir-demi-italic-svg-id}') format('svg');
  font-weight: 700;
  font-style: italic;
}