.apply-navbar-brand(
  @bg,
  @text,
  @link-colour,
  @link-hover-colour,
  @link-hover-bg,
  @link-active-colour,
  @link-active-bg,
  @link-disabled-colour,
  @link-disabled-bg) {

  background-color: @bg;
  @media (min-width: @screen-sm-min) {
    .site-root & {
      background-color: fadeout(@bg, 20%);
      &:hover {
        background-color: @bg;
      }

      .transition(background-color 0.15s linear);
    }
  }

  .navbar-text {
    color: @text;
  }

  .navbar-nav {
    > li > a {
      color: @link-colour;

      &:hover,
      &:focus {
        color: @link-hover-colour;
        background-color: @link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @link-active-colour;
        background-color: @link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @link-disabled-colour;
        background-color: @link-disabled-bg;
      }
    }
  }

  .navbar-collapse {
    border-color: darken(@bg, 7%);
  }

  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: @link-active-bg;
        color: @link-active-colour;
      }
    }

    @media (max-width: @grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: darken(@bg, 7%);
        }
        .divider {
          background-color: darken(@bg, 7%);
        }
        > li > a {
          color: @link-colour;
          &:hover,
          &:focus {
            color: @link-hover-colour;
            background-color: @link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: @link-active-colour;
            background-color: @link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: @link-disabled-colour;
            background-color: @link-disabled-bg;
          }
        }
      }
    }
  }

  .navbar-link {
    color: @link-colour;
    &:hover {
      color: @link-hover-colour;
    }
  }

  .btn-link {
    color: @link-colour;
    &:hover,
    &:focus {
      color: @link-hover-colour;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: @link-disabled-colour;
      }
    }
  }
}

.apply-brand(@colour) {
  #main-content {
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
      color: @colour;
    }
  }

  .brand-bg { background: @colour; }
  .brand-text { color: @colour; }
  .brand-border { border-color: @colour; }

  #utility-masthead {
    //background-color: fadeout(@colour, 30%);
    &::after {
      background-color: @colour;
    }
  }

  .navbar-primary {
    .apply-navbar-brand(
      @colour,
      contrast(@colour),
      contrast(@colour),
      contrast(@colour),
      darken(@colour, 7%),
      contrast(lighten(@colour, 20%)),
      lighten(@colour, 20%),
      contrast(@colour),
      darken(@colour, 7%)
    );
  }

  .opaque-navigation .navbar-primary {
    background-color: @colour;
    .transition(none);
  }

  &.bordered {
    #left-border, #right-border { border-color: fadeout(@colour, 70%); }
  }

  #site-footer {
    background: @id7-site-footer-colour;
    color: contrast(@id7-site-footer-colour);
  }

  #app-footer {
    background: @colour;
    color: contrast(@colour);
  }

  #masthead .search {
    #search-box {
      border-color: @colour;
    }

    .fa {
      color: fadeout(@colour, 50%);
      .transition(color .15s linear);
    }

    // FIXME this is a <span> not an <input> so focus/active don't make sense
    .twitter-typeahead:active + .fa,
    .twitter-typeahead:hover + .fa,
    .twitter-typeahead:focus + .fa {
      color: @colour;
    }

    .twitter-typeahead .tt-suggestion.tt-cursor {
      background: @colour;
      color: contrast(@colour);
    }
  }

  .form-control {
    .form-control-focus(@colour);
  }
}

body {
  .apply-brand(@id7-brand-default);

  &.brand-purple { .apply-brand(@id7-brand-purple); }
  &.brand-grey { .apply-brand(@id7-brand-grey); }
  &.brand-yellow { .apply-brand(@id7-brand-yellow); }
  &.brand-blue { .apply-brand(@id7-brand-blue); }
  &.brand-orange { .apply-brand(@id7-brand-orange); }
  &.brand-green { .apply-brand(@id7-brand-green); }
  &.brand-red { .apply-brand(@id7-brand-red); }
  &.brand-red-bold { .apply-brand(@id7-brand-red-bold); }
}