body {
  width: 100%;
  min-height: 100vh;
}

#fixed-width-container {
  .container-fixed(0);
  min-height: 100vh;

  @media (min-width: @screen-sm-min) {
    width: @container-sm;

    .flexbox();
    .flex-direction(column);

    #main-content-section {
      .flex(2013, 1, 0, auto);

      .flexbox();
      .flex-direction(column);
      #main-content { .flex(2013, 1, 0, auto); }
    }
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }

  position: relative;
  z-index: 1;

  @media (min-width: @screen-sm-min) {
    &.shadowed {
      box-shadow: 0 0 25px rgba(0, 0, 0, .1);
    }
  }
}

@media (min-width: @screen-sm-min) {
  #left-border, #right-border {
    position: fixed;
    top: 0px;
    width: 50%;
    height: 100%;
    z-index: 0;
  }

  #left-border {
    background-position: right top;
    background-repeat: no-repeat;
    left: 0;

    .translate(-(@container-sm/2), 0);

    .bordered & {
      border-right: 1px solid #808080;
    }
  }

  #right-border {
    background-position: left top;
    background-repeat: no-repeat;
    right: 0;

    .translate(@container-sm / 2, 0);

    .bordered & {
      border-left: 1px solid #808080;
    }
  }
}

@media (min-width: @screen-md-min) {
  #left-border {
    .translate(-(@container-md / 2), 0);

  }
  #right-border {
    .translate(@container-md / 2, 0);
  }
}

@media (min-width: @screen-lg-min) {
  #left-border {
    .translate(-(@container-lg / 2), 0);
  }
  #right-border {
    .translate(@container-lg / 2, 0);
  }
}

@media (min-width: @id7-screen-max-width), (min-height: @id7-screen-max-height) {
  #left-border, #right-border {
    background-size: cover;
  }
}