body {
  width: 100%;
  min-height: 100vh;
}

#fixed-width-container {
  .container-fixed(0);
  height: 100%;

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }

  position: relative;

  @media (min-width: @screen-sm-min) {
    &::before, &::after {
      position: fixed;
      top: 0px;
      width: 50%;
      height: 100%;
      z-index: 0;
    }

    &::before {
      background-position: right top;
      background-repeat: no-repeat;
      left: 0;

      .translate(-(@container-sm/2), 0);
    }

    &::after {
      background-position: left top;
      background-repeat: no-repeat;
      right: 0;

      .translate(@container-sm / 2, 0);
    }

    &.bordered::before {
      border-right: 1px solid #ccc;
    }

    &.bordered::after {
      border-left: 1px solid #ccc;
    }

    &.shadowed {
      box-shadow: 0 0 35px rgba(0, 0, 0, .4);
    }
  }

  @media (min-width: @screen-md-min) {
    &::before {
      .translate(-(@container-md / 2), 0);

    }
    &::after {
      .translate(@container-md / 2, 0);
    }
  }
  @media (min-width: @screen-lg-min) {
    &::before {
      .translate(-(@container-lg / 2), 0);
    }
    &::after {
      .translate(@container-lg / 2, 0);
    }
  }
}