#page-footer {
  #site-footer, #app-footer {
    > .container {
      padding-top: @grid-gutter-width / 2;
    }
  }

  #app-footer {
    position: relative;

    > .logo-bleed {
      .logo-as-css(auto, @grid-gutter-width, @id7-site-footer-colour);
      position: absolute;
      top: 0px;
      left: 15%; // FIXME magic number
    }

    > .container {
      padding-top: @grid-gutter-width;
      .small();
    }
  }
}