@import "utility-bar.less";
@import "masthead.less";
@import "header-image.less";

#utility-masthead {
  background: rgba(0, 0, 0, 0.3);
}

#page-header {
  background-position: left top;
  background-repeat: no-repeat;
}