#header-image {
  min-height: @id7-header-bleed-height;

  &.small {
    min-height: @id7-header-subpage-height;
  }

  position: relative;

  .header-text {
    .clearfix();
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-variant: small-caps;

    h1, h2 {
      margin: (@line-height-computed / 2) 0;
    }
  }
}

@media (min-width: @screen-sm-min) {
  #header-image {
    .header-text {
      position: absolute;
      left: 0px;
      width: 100%;
      margin: 0;

      bottom: -@id7-content-header-height;
      padding-bottom: @id7-content-header-height;

      h1, h2 {
        display: inline-block;
      }

      h1 + h2::before {
        content: "\00BB";
        margin: 0 (@grid-gutter-width / 4);
      }
    }

    &.small {
      .header-text {
        top: 0px;
        bottom: auto;
      }
    }
  }
}