#header-image-container {
  .site-root & {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: @container-sm 195px; // FIXME magic number

    // Set this on #header-image-container to allow the collapsing nav on smallscreens to fill this height up
    min-height: @id7-header-height-xs;
    @media (min-width: @grid-float-breakpoint) {
      @id7-header-height-sm-total: @navbar-height + @id7-header-height-sm + @id7-content-header-height;

      background-size: @container-lg @id7-header-height-sm-total;
      min-height: @id7-header-height-sm-total;
      margin-bottom: -@id7-content-header-height;

      &.opaque-navigation {
        background-position: center @id7-navigation-height;
      }
    }
  }

  position: relative;
  .strapline {
    display: none;

    @media (min-width: @grid-float-breakpoint) {
      .site-root & {
        display: block;

        color: white;
        background: rgba(80, 80, 80, 0.3);

        h2 {
          margin: (@line-height-computed / 2) 0;
        }

        &.bottom {
          position: absolute;
          bottom: 0px;
          padding-bottom: @id7-content-header-height;
        }
      }
    }
  }
}