#main-content-header {
  background: white;

  @media (min-width: @screen-sm-min) {
    background: none;
    height: @id7-content-header-height;

    .container, .row, .header-text, .logo-bleed {
      height: 100%;
    }

    .header-text {
      background: white;
    }

    .logo-bleed {
      background: transparent url(../images/content-header-logo-bleed@2x.png) left top no-repeat;
      background-size: 500px @id7-content-header-height;

      .subpage & {
        background: white;
      }
    }
  }
}

#main-content {
  background: white;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    padding-bottom: (@line-height-computed / 2);
    border-bottom: 1px solid @id7-subtle-line-colour;

    &:first-child {
      margin-top: 0;
    }
  }

  #page-title {
    margin-top: @grid-gutter-width / 2;
    margin-bottom: @line-height-computed;
  }

  .bordered {
    border-bottom: 1px solid @id7-subtle-line-colour;
  }
}