#masthead {
  .logo-row {
    height: @id7-masthead-height-xs;

    > .logo {
      img { visibility: hidden; }
    }
  }

  background-image: url(../images/masthead-logo-bleed-xs@2x.png);
  background-size: @screen-sm-min 300px;
  background-position: left top;
  background-repeat: no-repeat;

  @media (min-width: @screen-sm-min) {
    background-image: url(../images/masthead-logo-bleed-sm@2x.png);
    background-size: @container-lg 300px;

    .logo-row {
      height: @id7-masthead-height-sm;

      > .logo {
        width: @id7-masthead-logo-width-sm;
        float: left;
      }

      > .container-fluid {
        float: left;
      }
    }
  }

  .logo-row > .container-fluid {
    @media (min-width: @screen-sm-min) {
      width: (@container-sm * 2/3) - @id7-masthead-logo-width-sm;
    }

    @media (min-width: @screen-md-min) {
      width: (@container-md * 2/3) - @id7-masthead-logo-width-sm;
    }

    @media (min-width: @screen-lg-min) {
      width: (@container-lg * 2/3) - @id7-masthead-logo-width-sm;
    }
  }

  .logo a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;

    img {
      height: 100%;
    }
  }

  .header-text {
    color: black;

    h1 {
      margin: (@line-height-computed / 2) 0;
    }

    .parent-site-link {
      font-weight: 100;
    }

    .parent-site-link + .current-site-link::before {
      content: "\00BB";
      font-weight: 100;
      margin-right: (@grid-gutter-width / 4);
    }
  }

  .warwick-site-links {
    margin-left: @id7-masthead-logo-width-sm + (@grid-gutter-width / 2);

    .opacity(0);
    .transition(opacity 0.15s linear);
    .small();

    @line-height-small-computed: floor((@font-size-small * @line-height-small)); // ~17px
    margin-top: (@id7-masthead-height-sm * 3/4) - (@line-height-small-computed / 2);

    ul {
      .list-inline();

      margin: 0;

      > li {
        padding: 0;

        &:not(:first-child)::before {
          content: '|';
          margin-left: 0.1em;
          margin-right: 0.2em;
          color: @gray-light;
        }
      }
    }

    .link-colour(@gray-dark);
  }

  .logo-row:hover .warwick-site-links { .opacity(1); }

  .search {
    .search-box {
      @media (min-width: @screen-sm-min) {
        margin-top: 38px + (@line-height-computed / 2); // FIXME Magic number
      }

      position: relative;

      .input-lg {
        padding-right: @padding-large-horizontal + 26px; // FIXME Magic number
      }
    }

    .form-group {
      margin-bottom: 0;
      padding-bottom: (@line-height-computed / 2);
    }

    .fa {
      position: absolute;
      top: 9px;
      right: 9px;

      color: @gray-light;
      .transition(color .15s linear);
    }

    #search-box:active + .fa,
    #search-box:hover + .fa,
    #search-box:focus + .fa {
      color: black;
    }

    #search-box {
      border-radius: 0;
    }

    .twitter-typeahead {
      width: 100%;
    }

    .tt-dropdown-menu {
      width: 100%;
      margin-top: -1px;
      background-color: #fff;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.2);
      .box-shadow(0 5px 10px rgba(0,0,0,.2));
    }

    .tt-suggestion {
      padding: 8px 20px;
      line-height: 18px;
    }

    .tt-suggestion + .tt-suggestion {
      border-top: 1px solid #ccc;
    }

    .tt-suggestions .go-path {
      font-size: 20px;
      font-weight: bold;
    }

    .tt-suggestions .go-description {
      margin: 0;
    }

    .twitter-typeahead .tt-suggestion.tt-cursor {
      cursor: pointer;
    }
  }
}