#masthead {
  > .container {
    > .row {
      background: white;

      &.logo-row { background: none; }
    }
  }

  .logo-row {
    height: @id7-masthead-height-xs;

    > * {
      height: 100%;
      background: white;
    }

    > .logo {
      background-color: transparent;
      background-image: url(../images/masthead-logo-bleed-xs.png);
      background-position: center top;
      background-repeat: no-repeat;
      img { visibility: hidden; }
    }
  }

  @media (min-width: @screen-sm-min) {
    .logo-row {
      height: @id7-masthead-height-sm;

      > .logo {
        background-image: url(../images/masthead-logo-bleed-sm.png);
        background-position: left top;

        width: @id7-masthead-logo-width-sm;
        float: left;
      }

      > .container-fluid {
        float: left;
      }
    }
  }

  .logo-row > .container-fluid {
    @media (min-width: @screen-sm-min) {
      width: @container-sm - @id7-masthead-logo-width-sm;
    }

    @media (min-width: @screen-md-min) {
      width: @container-md - @id7-masthead-logo-width-sm;
    }

    @media (min-width: @screen-lg-min) {
      width: @container-lg - @id7-masthead-logo-width-sm;
    }
  }

  .logo a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;

    img {
      height: 100%;
    }
  }

  .header-text {
    color: black;

    h1, h2 {
      margin: (@line-height-computed / 2) 0;
    }
  }

  .navbar-toggle {
    border-color: @navbar-default-toggle-border-color;

    &:hover, &:focus {
      background-color: @navbar-default-toggle-hover-bg;
    }

    .icon-bar {
      background-color: @navbar-default-toggle-icon-bar-bg;
    }
  }

  .warwick-site-links {
    .list-inline();
    .small();

    margin: 0;

    @line-height-small-computed: floor((@font-size-small * @line-height-small)); // ~17px
    margin-top: (@id7-masthead-height-sm * 3/4) - (@line-height-small-computed / 2);

    > li {
      padding: 0;

      &:not(:first-child)::before {
        content: '|';
        margin-left: 1px;
        margin-right: 2px;
        color: @gray-light;
      }
    }

    .link-colour(@gray-dark);
  }
}

@media (min-width: @screen-sm-min) {
  #masthead {
    .header-text {
      h1, h2 {
        display: inline-block;
      }

      h1 + h2::before {
        content: "\00BB";
        margin: 0 (@grid-gutter-width / 4);
      }
    }
  }
}