#navigation {
  .navbar {
    min-height: 0;
    border-width: 0px;

    @media (min-width: @grid-float-breakpoint) {
      min-height: @navbar-height;
    }
  }

  &.affix {
    top: @id7-masthead-bleed-height;
    width: 100%;
    z-index: 10;

    @media (min-width: @screen-sm-min) {
      width: @container-sm;
    }

    @media (min-width: @screen-md-min) {
      width: @container-md;
    }

    @media (min-width: @screen-lg-min) {
      width: @container-lg;
    }
  }

  .navbar-breadcrumb-collapse {
    overflow-x: visible;
    padding-right: @navbar-padding-horizontal;
    padding-left:  @navbar-padding-horizontal;
    min-height: 0;
    width: auto;

    &:extend(.clearfix all);
    -webkit-overflow-scrolling: touch;

    // Uncollapse the nav
    .navbar-nav {
      float: left;
      margin: 0;

      > li {
        float: left;
      }
    }
  }

  .navbar-collapse, .navbar-breadcrumb-collapse {
    border-width: 0px;
  }

  .navbar-toggle, .navbar-brand {
    padding: 7px 8px;
  }

  .navbar-brand {
    margin-left: -(@grid-gutter-width / 2);
    //background: @id7-breadcrumb-navigation-bg;

    &:focus {
      // remove focus outline
      outline: 0 !important;
    }

    i.fa {
      position: relative;
      top: -2px; // FIXME magic number

      &.fa-play {
        font-size: 10px; // FIXME magic number
        width: 23.140625px; // FIXME magic number
        top: -5px; // FIXME magic number
      }
    }
  }

  .navbar-breadcrumbs {
    .navbar-nav {
      > li {
        padding-left: 4px; // FIXME magic number
        padding-right: 6px; // FIXME magic number
        margin: 0 0 0 10px; // FIXME magic number

        &:first-child { margin-left: 0; }
        &::after {
          .fa();
          font-size: 0.7em; // FIXME magic number
          content: @fa-var-play;
          position: absolute;
          left: 100%;
          top: 11px; // FIXME magic number
        }
      }
      > li.navbar-text {
        margin: 0 0 0 10px; // FIXME magic number

        &::after {
          content: none;
          display: none;
        }
      }
    }
  }

  .dropdown-menu {
    border: 0;
  }

  @media (max-width: @grid-float-breakpoint-max) {
    .navbar-collapse {
      max-height: 70vh;
    }
  }

  @media (min-width: @grid-float-breakpoint) {
    .navbar-collapse > .navbar-nav:first-child .dropdown:hover .dropdown-menu {
      display: block;
    }

    .navbar-nav.nav-fixed-width {
      margin-right: -(@grid-gutter-width / 2);

      // Switch to table cell rendering to get equal-height columns
      display: table;

      > li {
        float: none;
        display: table-cell;
      }
    }

    .navbar-right {
      margin-right: -(@grid-gutter-width / 2);
    }
  }

  @media (min-width: @grid-float-breakpoint) {
    // Fiddle with the padding to expand the <a> all the way out
    .navbar-nav > li {
      // TODO could extract the horizontal variable here (we set it to 0)
      padding: @nav-link-padding;
      padding-top: @navbar-padding-vertical;
      padding-bottom: @navbar-padding-vertical;

      > a {
        padding: 0;
      }
    }
  }

  .navbar-nav > li > .description {
    display: none;
    .small();
    margin-top: 6px; // FIXME magic number
  }

  @media (min-width: @grid-float-breakpoint) {
    .site-root & .navbar-nav.nav-fixed-width > li > .description {
      display: block;
    }
  }

  .navbar-nav.nav-fixed-width {
    @media (min-width: @screen-sm-min) {
      max-width: @id7-navigation-fixed-width-sm * 5; // FIXME magic number
      > li {
        min-width: @id7-navigation-fixed-width-sm;
        max-width: @id7-navigation-fixed-width-sm;
      }
    }

    @media (min-width: @screen-md-min) {
      max-width: @id7-navigation-fixed-width-md * 6; // FIXME magic number
      > li {
        min-width: @id7-navigation-fixed-width-md;
        max-width: @id7-navigation-fixed-width-md;
      }
    }

    @media (min-width: @screen-lg-min) {
      max-width: @id7-navigation-fixed-width-lg * 7; // FIXME magic number
      > li {
        min-width: @id7-navigation-fixed-width-lg;
        max-width: @id7-navigation-fixed-width-lg;
      }
    }
  }
}