#navigation {
  .navbar {
    min-height: 0;
    border-width: 0px;

    @media (min-width: @screen-sm-min) {
      min-height: @navbar-height;
    }
  }

  &.affix {
    top: 0px;
    width: 100%;
    z-index: 10;

    @media (min-width: @screen-sm-min) {
      width: @container-sm;
    }

    @media (min-width: @screen-md-min) {
      width: @container-md;
    }

    @media (min-width: @screen-lg-min) {
      width: @container-lg;
    }
  }

  .navbar-breadcrumb-collapse {
    overflow-x: visible;
    padding-right: @navbar-padding-horizontal;
    padding-left:  @navbar-padding-horizontal;
    min-height: 0;
    width: auto;

    &:extend(.clearfix all);
    -webkit-overflow-scrolling: touch;

    // Uncollapse the nav
    .navbar-nav {
      float: left;
      margin: 0;

      > li {
        float: left;
        > a {
          padding-top: @navbar-padding-vertical;
          padding-bottom: @navbar-padding-vertical;
        }
      }
    }
  }

  .navbar-collapse, .navbar-breadcrumb-collapse {
    border-width: 0px;
  }

  .navbar-brand:focus {
    // remove focus outline
    outline: 0 !important;
  }

  .navbar-toggle, .navbar-brand {
    padding: 7px 8px;
  }

  .navbar-brand {
    margin-left: -(@grid-gutter-width / 2);

    background: @id7-breadcrumb-navigation-bg;
  }

  .navbar-breadcrumbs {
    .navbar-nav {
      > li > a {
        padding-left: 5px;
        padding-right: 5px;
        margin: 0 8px;
        text-decoration: underline;

        &:first-child { margin-left: 0; }
        &::after {
          content: '>';
          .small();
          position: absolute;
          left: 100%;
        }
      }
      > li.navbar-text {
        padding-left: 5px;
      }
    }
  }
}