#utility-bar {
  .small();
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  height: @id7-masthead-bleed-height;
  line-height: @id7-masthead-bleed-height;

  ul {
    margin-bottom: 0;
  }

  .link-colour(white);

  &.affix {
    top: 0px;
    width: 100%;
    z-index: 10;

    @media (min-width: @screen-sm-min) {
      width: @container-sm;
    }

    @media (min-width: @screen-md-min) {
      width: @container-md;
    }

    @media (min-width: @screen-lg-min) {
      width: @container-lg;
    }

    + #masthead {
      margin-top: @id7-masthead-bleed-height;
    }
  }

  .popover.account-information {
    text-shadow: none;

    max-width: 100%;
    width: 300px; // FIXME magic number

    img { max-width: 100%; }

    .account-info {
      margin-bottom: 9px; // FIXME magic number
    }

    .actions {
      background: #f7f7f7; // FIXME magic colour
      border-top: 1px solid #ebebeb; // FIXME magic colour
      margin-bottom: -9px; // FIXME magic number

      .btn-group-justified {
        border-spacing: 10px; // FIXME magic number
      }
    }
  }
}