@id7-brand-purple: #7a3b83;
@id7-brand-grey: #8a8a8d;
@id7-brand-yellow: #c4a11c;
@id7-brand-blue: #7e9bc0;
@id7-brand-orange: #e75300;
@id7-brand-green: #9b9b30;
@id7-brand-red: #a93439;

@id7-brand-default: @id7-brand-purple;

@id7-subtle-line-colour: #ababab;

@id7-masthead-bleed-height: 5px;
@id7-masthead-height-xs: 75px;
@id7-masthead-height-sm: 100px;
@id7-header-bleed-height: 200px;
@id7-header-subpage-height: 59px;

@id7-navigation-height: 32px;

@id7-content-header-height: 72px;