@id7-brand-purple: #7a3b83;
@id7-brand-grey: #8a8a8d;
@id7-brand-yellow: #c4a11c;
@id7-brand-blue: #7e9bc0;
@id7-brand-orange: #e75300;
@id7-brand-green: #9b9b30;
//@id7-brand-red: #a93439; // From agency
@id7-brand-red: #b71622;

@id7-brand-default: @id7-brand-purple;

@id7-subtle-line-colour: #ababab;

@id7-masthead-bleed-height: @grid-gutter-width;
@id7-masthead-height-xs: 60px;
@id7-masthead-height-sm: 80px;
@id7-header-text-height: 60px;
@id7-masthead-logo-width-xs: 123px;
@id7-masthead-logo-width-sm: 164px;
@id7-header-height-xs: 150px;
@id7-header-height-sm: 200px;
@id7-header-subpage-height: 59px;

@id7-navigation-height: 32px;

@id7-content-header-height: 75px;

@id7-screen-max-width: 1920px;
@id7-screen-max-height: 1200px;

@id7-site-footer-colour: #d3d3d3;