body {
  font-size: 12px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  font-weight: normal;
}
#masthead {
  /* SBTWO-4676 SBTWO-4677 Elements in the masthead aren't part of the site design, always display them in Calibri */
  font-family: Calibri, "Bitstream Vera Sans", "Trebuchet MS", Trebuchet, sans-serif;
  font-size: 12px;
}
#main-content {
  line-height: 20px;
}
#main-content ul,
#main-content ol {
  font-size: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  font-weight: inherit;
  font-family: inherit;
}
#site-header-container {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 52px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -2px;
  line-height: normal;
}
#site-header-container h1#site-header {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  font-weight: inherit;
  line-height: inherit;
}
#site-header-container h2#strapline {
  font-family: inherit;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
}
#header.header-small #site-header-container h1#site-header {
  font-size: 32px;
}
pre,
code,
kbd,
samp,
pre,
tt,
var {
  font-family: Courier New, Bitstream Vera Sans Mono, Courier, monospace;
  font-size: 12px;
  letter-spacing: -0.5px;
}
pre,
code {
  line-height: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.4em;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -1.5px;
}
h2 {
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -1px;
  margin: 0 0 0.3em 0;
  padding: 0;
}
h3 {
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -0.5px;
  margin: 0 0 0.2em 0;
  padding: 0;
}
h4 {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -0.5px;
  margin: 0 0 0.2em 0;
  padding: 0;
}
h5 {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  margin: 0 0 -0.1em 0;
  padding: 0;
}
h6 {
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  margin: 0 0 0em 0;
  padding: 0;
}
blockquote {
  font-family: inherit;
  font-size: 11px;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: inherit;
  line-height: inherit;
}
#navigation {
  font-size: 12px;
}
#navigation.horizontal .fixed-width ul#primary-navigation .title.rendered-link-content {
  font-size: 12px;
}
#navigation .description {
  font-size: 9px;
  line-height: 1.2em;
}
#common-footer {
  font-size: 11px;
}
#common-footer ul,
#common-footer ol {
  font-size: 11px;
}
#common-footer .page-iterator,
#common-footer #page-footer-elements,
#common-footer #footer-utility {
  margin-top: 0.5em;
}
@media screen and (max-width: 959px) {
  #site-header-container h1#site-header {
    font-size: 22px !important;
    letter-spacing: -1px !important;
    line-height: normal !important;
  }
  h1 {
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: -1px;
  }
  h2 {
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: -0.5px;
    margin: 0 0 0.2em 0;
    padding: 0;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: -0.5px;
    margin: 0 0 0.2em 0;
    padding: 0;
  }
  h4 {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    margin: 0 0 -0.1em 0;
    padding: 0;
  }
  h5 {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    margin: 0 0 0em 0;
    padding: 0;
  }
  h6 {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
  }
  #masthead {
    font-size: 12px;
  }
  #common-footer {
    font-size: 12px;
  }
  #common-footer ul,
  #common-footer ol {
    font-size: 12px;
  }
}
#search-container ul.index-section {
  font-size: 9px;
  top: -1em;
}
