@import '../../../less/bootstrap/variables.less';
@import '../../../less/bootstrap/mixins.less';
@import '../../../less/variables.less';
@import '../../../less/mixins.less';

body {
  //.apply-brand(@id7-brand-purple);

  @secondary-colour: screen(@id7-brand-purple, lighten(black, 60%));

  .id7-navigation .navbar-primary {
    .apply-navbar-brand(@id7-brand-purple, @secondary-colour);
  }

  .id7-navigation {
    background: @id7-brand-purple;
  }

  .apply-form-control-brand(@id7-brand-purple);

  .id7-utility-bar {
    background: #87466b url('/assets/external-homepage/utility-bar.jpg') center top no-repeat;
  }
}

.id7-page-header {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 1;
}

main > .id7-main-content {
  width: 100% !important;
  padding: 0;
}

// Containers
.id7-utility-bar > nav, .id7-masthead, .id7-navigation > .navbar {
  .container-fixed(0);

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}

.id7-masthead {
  background-color: white;
  background-image: url('/assets/external-homepage/logo.png');
  background-repeat: no-repeat;
  background-size: 135px 75px;

  .id7-logo-row nav {
    margin-left: (135px + (@grid-gutter-width / 2));
    .opacity(1);

    @line-height-small-computed: floor((@font-size-small * @line-height-small)); // ~17px
    margin-top: (40px - (@line-height-small-computed / 2));
  }

  .id7-search {
    .id7-search-box-container {
      @media (min-width: @grid-float-breakpoint) {
        margin-top: (7px + (@line-height-computed / 2));
      }
    }
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .id7-masthead {
    background-image: url('/assets/external-homepage/logo@2x.png');
  }
}

// Jumbotron content blocks
.jumbotron {
  margin: 0;
  padding: 0;

  color: white;
  .link-colour(white);

  .flexbox();
  .flex-direction(column);

  .container-fluid {
    width: 100%;
  }

  .container, .container-fluid {
    .flexbox();
    .flex-direction(column);
    .flex(2013, 1, 1, auto);

    > .row, > .layout {
      .flexbox();
      .flex(2013, 1, 1, auto);

      > * {
        .flexbox();
        .flex-direction(column);
        .flex(2013, 1, 1, auto);
      }
    }
  }

  .container, .container-fluid {
    > .row {
      .align-items(center);
    }

    > .layout {
      > .column-1, > .column-2 {
        .flex-direction(row);
        .align-items(center);
        padding: 0;

        > .column-1-content, > .column-2-content {
          padding: 0 (@grid-gutter-width / 2);

          @media (min-width: @screen-sm-min) {
            width: (@container-sm / 2);
          }
          @media (min-width: @screen-md-min) {
            width: (@container-md / 2);
          }
          @media (min-width: @screen-lg-min) {
            width: (@container-lg / 2);
          }
        }
      }

      > .column-1 {
        .justify-content(end);
      }

      > .column-2 {
        .justify-content(start);
      }
    }
  }

  h2 {
    font-size: 40px;
  }

  p {
    margin-bottom: (@grid-gutter-width / 2);
    font-size: @font-size-h3;
    font-weight: 200;
  }

  &.jumbotron-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(40, 40, 40, 0.5);
    }

    .container {
      margin: (104px + (@grid-gutter-width / 2)) auto;
    }
  }

  min-height: 400px;
  height: 90vh;
  max-height: 800px;
}

.carousel-nav {
  position: fixed;
  width: 250px;
  height: 100px;
  right: 0px;
  top: 50%;
  margin-top: -50px;
  z-index: 10;
  text-align: right;

  color: white;
  .link-colour(white);

  ul {
    padding: 0;
    padding-right: (@grid-gutter-width / 2);
    list-style: none;
    margin: 0;
  }
}