@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
body {
  position: relative;
}
@media (max-width: 767px) {
  body {
    margin-top: 170px;
  }
}
/***** START HOMEPAGE MASTHEAD *****/
.id7-utility-bar > nav,
.id7-masthead {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .id7-utility-bar > nav,
  .id7-masthead {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .id7-utility-bar > nav,
  .id7-masthead {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .id7-utility-bar > nav,
  .id7-masthead {
    width: 1170px;
  }
}
.id7-page-header {
  position: fixed;
  width: 100%;
  -webkit-transition: background-color 0.15s linear;
  -o-transition: background-color 0.15s linear;
  transition: background-color 0.15s linear;
  z-index: 30;
  top: 0px;
  left: 0px;
}
.id7-masthead {
  background: none;
}
.id7-utility-masthead {
  background-image: url("/dist/images/masthead-logo-bleed-homepage-xs.png");
  background-position: 0 24px;
  background-repeat: no-repeat;
  background-size: 768px 300px;
}
@media (min-width: 768px) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-homepage-sm.png");
    background-size: 992px 80px;
    background-position: center 24px;
  }
}
@media (min-width: 992px) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-homepage-md.png");
    background-size: 1200px 80px;
  }
}
@media (min-width: 1200px) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-homepage-lg.png");
    background-size: 3000px 80px;
  }
}
.id7-utility-masthead::after {
  display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-homepage-xs@2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 768px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 768px), only screen and (min-device-pixel-ratio: 2) and (min-width: 768px), only screen and (min-resolution: 192dpi) and (min-width: 768px), only screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-homepage-sm@2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 992px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 992px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 992px), only screen and (min-device-pixel-ratio: 2) and (min-width: 992px), only screen and (min-resolution: 192dpi) and (min-width: 992px), only screen and (min-resolution: 2dppx) and (min-width: 992px) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-homepage-md@2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1200px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1200px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), only screen and (min-resolution: 192dpi) and (min-width: 1200px), only screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-homepage-lg@2x.png");
  }
}
.id7-masthead .id7-logo-row {
  height: 80px;
}
.id7-masthead .id7-logo-row > .id7-logo {
  height: 80px;
  width: 100%;
}
@media (min-width: 768px) {
  .id7-masthead .id7-logo-row > .id7-logo {
    width: 150px;
  }
}
.id7-masthead {
  height: auto;
}
.id7-masthead .id7-logo-column {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .id7-masthead .id7-logo-column {
    float: left;
    width: 75%;
  }
}
.id7-masthead .id7-search-column {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .id7-masthead .id7-search-column {
    float: left;
    width: 25%;
  }
}
@media (max-width: 767px) {
  .id7-masthead .id7-search-column {
    margin-bottom: 10px;
  }
}
/***** END HOMEPAGE MASTHEAD *****/
/***** START MAIN CONTENT AREA *****/
.id7-main-content-area > .id7-main-content {
  width: 100%;
  padding: 0;
}
/***** START CAROUSEL NAV *****/
@media (max-width: 767px) {
  .carousel-nav {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-nav .title {
    display: none !important;
  }
}
.carousel-nav a:not(.btn),
.carousel-nav a:link:not(.btn),
.carousel-nav a:visited:not(.btn) {
  text-decoration: none;
}
.carousel-nav a:hover:not(.btn),
.carousel-nav a:focus:not(.btn),
.carousel-nav a:active:not(.btn) {
  text-decoration: underline;
}
/***** END CAROUSEL NAV *****/
/***** START MORE LINKS FOOTER *****/
.popover.megamenu-links {
  text-shadow: none;
  max-width: 100%;
  width: 970px;
  min-width: 750px;
}
@media (min-width: 992px) {
  .popover.megamenu-links {
    min-width: 970px;
  }
}
#more-links {
  padding: 20px 0;
  background: #555555;
  color: white;
}
#more-links a:not(.btn),
#more-links a:link:not(.btn),
#more-links a:visited:not(.btn) {
  color: white;
}
#more-links a:hover:not(.btn),
#more-links a:focus:not(.btn),
#more-links a:active:not(.btn) {
  color: #e0e4f8;
}
#more-links a:hover .new-window-link {
  color: #e0e4f8;
}
@media (min-width: 768px) {
  #more-links {
    display: none;
  }
}
.more-links-sitemap,
.more-links-sitemap ul {
  padding-left: 0;
  list-style: none;
}
.more-links-sitemap > li {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 20px 0;
}
.more-links-sitemap > li > i {
  font-size: 2em;
  display: block;
}
.more-links-sitemap > li ul {
  font-weight: normal;
  text-align: left;
  font-size: 14px;
}
#more-links .more-links-sitemap > li + li {
  border-top: 1px solid #777777;
}
#more-links .more-links-sitemap > li > i {
  color: #eeeeee;
}
.megamenu-links .more-links-sitemap {
  margin-left: -20px;
  margin-right: -20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-lines: multiple;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-box-lines: multiple;
  -o-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.megamenu-links .more-links-sitemap a:not(.btn),
.megamenu-links .more-links-sitemap a:link:not(.btn),
.megamenu-links .more-links-sitemap a:visited:not(.btn) {
  color: #333333;
}
.megamenu-links .more-links-sitemap a:hover:not(.btn),
.megamenu-links .more-links-sitemap a:focus:not(.btn),
.megamenu-links .more-links-sitemap a:active:not(.btn) {
  color: #2c66e8;
}
.megamenu-links .more-links-sitemap a:hover .new-window-link {
  color: #2c66e8;
}
.megamenu-links .more-links-sitemap a {
  text-decoration: underline;
}
.megamenu-links .more-links-sitemap > li {
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}
.megamenu-links .more-links-sitemap > li + li {
  border-left: 1px solid #eeeeee;
}
.megamenu-links .more-links-sitemap > li > i {
  color: #777777;
}
.megamenu-links-address {
  margin-top: 20px;
  text-align: center;
}
.megamenu-links-address a:not(.btn),
.megamenu-links-address a:link:not(.btn),
.megamenu-links-address a:visited:not(.btn) {
  color: #333333;
}
.megamenu-links-address a:hover:not(.btn),
.megamenu-links-address a:focus:not(.btn),
.megamenu-links-address a:active:not(.btn) {
  color: #2c66e8;
}
.megamenu-links-address a:hover .new-window-link {
  color: #2c66e8;
}
.megamenu-links-address .utility {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.megamenu-links-address .utility > li {
  display: inline-block;
  padding: 0;
}
.lt-ie9 .megamenu-links-address .utility > li {
  margin: 0 0.2em;
}
.megamenu-links-address .utility > li:not(:first-child)::before {
  content: '|';
  margin-left: 0.1em;
  margin-right: 0.2em;
  color: #777777;
}
@media print {
  .megamenu-links-address .utility a[href]:after {
    content: "";
  }
}
/***** END MORE LINKS FOOTER *****/
/***** END MAIN CONTENT AREA *****/
