@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
body {
  position: relative;
  margin-top: 104px;
}
@media (min-width: 768px) {
  html.flexbox body {
    margin-top: 0;
  }
}
/***** START HOMEPAGE MASTHEAD *****/
.id7-utility-bar,
.id7-masthead {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .id7-utility-bar,
  .id7-masthead {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .id7-utility-bar,
  .id7-masthead {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .id7-utility-bar,
  .id7-masthead {
    width: 1170px;
  }
}
.id7-page-header {
  position: fixed;
  width: 100%;
  -webkit-transition: background-color 0.15s linear;
  -o-transition: background-color 0.15s linear;
  transition: background-color 0.15s linear;
  z-index: 30;
  top: 0;
  left: 0;
}
.id7-page-header .id7-header-text {
  display: none;
}
.id7-masthead {
  background: none !important;
}
.id7-utility-masthead {
  background-color: transparent;
  background-image: url("/dist/images/masthead-logo-bleed-wide-xs.png");
  background-position: 0 24px;
  background-repeat: no-repeat;
  -webkit-background-size: 1680px 300px;
          background-size: 1680px 300px;
}
@media (min-width: 768px) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-wide-sm.png");
    background-position: center 24px;
    background-repeat: no-repeat;
    -webkit-background-size: 992px 80px;
            background-size: 992px 80px;
  }
}
@media (min-width: 992px) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-wide-md.png");
    -webkit-background-size: 1200px 80px;
            background-size: 1200px 80px;
  }
}
@media (min-width: 1200px) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-wide-lg.png");
    -webkit-background-size: 3000px 80px;
            background-size: 3000px 80px;
  }
}
.id7-utility-masthead::after {
  display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-wide-xs@2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 768px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 768px), only screen and (min-device-pixel-ratio: 2) and (min-width: 768px), only screen and (min-resolution: 192dpi) and (min-width: 768px), only screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-wide-sm@2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 992px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 992px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 992px), only screen and (min-device-pixel-ratio: 2) and (min-width: 992px), only screen and (min-resolution: 192dpi) and (min-width: 992px), only screen and (min-resolution: 2dppx) and (min-width: 992px) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-wide-md@2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1200px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1200px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), only screen and (min-resolution: 192dpi) and (min-width: 1200px), only screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-wide-lg@2x.png");
  }
}
.id7-masthead .id7-logo-row {
  height: 80px;
}
.id7-masthead .id7-logo-row > .id7-logo {
  height: 80px;
  width: 100%;
}
@media (min-width: 768px) {
  .id7-masthead .id7-logo-row > .id7-logo {
    width: 150px;
  }
}
.id7-masthead {
  height: auto;
}
.id7-masthead .id7-logo-column {
  float: left;
  width: 150px;
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .id7-masthead .id7-logo-column {
    float: left;
    width: 75%;
  }
}
@media (max-width: 767px) {
  .id7-masthead .id7-logo-column {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .id7-masthead .id7-logo-column {
    margin-bottom: 0;
  }
}
.id7-masthead .id7-search-column {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  padding-left: 150px;
  margin-left: -150px;
  width: 100%;
}
@media (min-width: 768px) {
  .id7-masthead .id7-search-column {
    float: left;
    width: 25%;
  }
}
@media (min-width: 768px) {
  .id7-masthead .id7-search-column {
    padding-left: 20px;
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  .id7-masthead .id7-search-column .id7-search-box-container .input-lg::-moz-placeholder {
    font-size: 11.5px;
    line-height: 24px;
  }
  .id7-masthead .id7-search-column .id7-search-box-container .input-lg:-ms-input-placeholder {
    font-size: 11.5px;
    line-height: 24px;
  }
  .id7-masthead .id7-search-column .id7-search-box-container .input-lg::-webkit-input-placeholder {
    font-size: 11.5px;
    line-height: 24px;
  }
}
.id7-masthead .id7-search .id7-search-box-container {
  margin-top: 18px;
}
.id7-masthead .id7-logo-row nav {
  margin-left: 150px;
  font-size: 16px;
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  letter-spacing: 1px;
  margin-top: 44px;
}
.id7-masthead .id7-logo-row nav a {
  color: white !important;
}
.id7-masthead .id7-logo-row nav ul > li:not(:first-child)::before {
  content: '';
  margin: 0 0.2em;
}
@media (min-width: 992px) {
  .id7-masthead .id7-logo-row nav ul > li:not(:first-child)::before {
    margin: 0 0.6em;
  }
}
.id7-masthead .id7-logo-row nav .more-links-trigger {
  display: none;
}
@media (min-width: 768px) {
  html.flexbox .id7-masthead .id7-logo-row nav .more-links-trigger {
    display: inline-block;
  }
}
/***** END HOMEPAGE MASTHEAD *****/
/***** START MAIN CONTENT AREA *****/
.id7-main-content-area > .id7-main-content {
  width: 100% !important;
  padding: 0;
}
/***** START CAROUSEL NAV *****/
.carousel-nav {
  display: none;
}
@media (min-width: 768px) {
  html.flexbox .carousel-nav {
    display: block;
  }
}
.carousel-nav {
  position: fixed;
  right: 0;
  top: 124px;
  z-index: 10;
  text-align: right;
  color: white;
}
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-nav .title {
    display: none !important;
  }
}
html.no-not-selector .carousel-nav a,
html.no-not-selector .carousel-nav a:link,
html.no-not-selector .carousel-nav a:visited {
  text-decoration: none;
}
.carousel-nav a:not(.btn),
.carousel-nav a:link:not(.btn),
.carousel-nav a:visited:not(.btn) {
  text-decoration: none;
}
html.no-not-selector .carousel-nav a:hover,
html.no-not-selector .carousel-nav a:focus,
html.no-not-selector .carousel-nav a:active {
  text-decoration: underline;
}
.carousel-nav a:hover:not(.btn),
.carousel-nav a:focus:not(.btn),
.carousel-nav a:active:not(.btn) {
  text-decoration: underline;
}
html.no-not-selector .carousel-nav a,
html.no-not-selector .carousel-nav a:link,
html.no-not-selector .carousel-nav a:visited {
  color: white;
}
.carousel-nav a:not(.btn),
.carousel-nav a:link:not(.btn),
.carousel-nav a:visited:not(.btn) {
  color: white;
}
html.no-not-selector .carousel-nav a:hover,
html.no-not-selector .carousel-nav a:focus,
html.no-not-selector .carousel-nav a:active {
  color: #e0e4f8;
}
.carousel-nav a:hover:not(.btn),
.carousel-nav a:focus:not(.btn),
.carousel-nav a:active:not(.btn) {
  color: #e0e4f8;
}
.carousel-nav a:hover .new-window-link {
  color: #e0e4f8;
}
.carousel-nav a:not(.btn),
.carousel-nav a:link:not(.btn),
.carousel-nav a:visited:not(.btn) {
  -webkit-text-decoration-color: #ffffff;
  -moz-text-decoration-color: #ffffff;
       text-decoration-color: #ffffff;
}
.carousel-nav a:hover:not(.btn),
.carousel-nav a:focus:not(.btn),
.carousel-nav a:active:not(.btn) {
  -webkit-text-decoration-color: #e0e4f8;
  -moz-text-decoration-color: #e0e4f8;
       text-decoration-color: #e0e4f8;
}
.carousel-nav ul.nav {
  padding: 0 20px 0 0;
  list-style: none;
  margin: 0;
}
.carousel-nav ul.nav > li {
  position: static;
  display: list-item;
}
.carousel-nav ul.nav > li > a {
  position: static;
  display: inline;
  padding: 0;
}
.carousel-nav ul.nav > li > a:hover,
.carousel-nav ul.nav > li > a:focus {
  text-decoration: underline;
  background: none;
}
.carousel-nav ul.nav > li i.fa:before {
  content: "\f10c";
}
.carousel-nav ul.nav > li.active i.fa:before {
  content: "\f192";
}
.carousel-nav ul.nav > li.active .title {
  font-weight: bold;
}
/***** END CAROUSEL NAV *****/
/***** START JUMBOTRON CAROUSEL *****/
.jumbotron-carousel .jumbotron .col-xs-1, .jumbotron-carousel .jumbotron .col-sm-1, .jumbotron-carousel .jumbotron .col-md-1, .jumbotron-carousel .jumbotron .col-lg-1, .jumbotron-carousel .jumbotron .col-xs-2, .jumbotron-carousel .jumbotron .col-sm-2, .jumbotron-carousel .jumbotron .col-md-2, .jumbotron-carousel .jumbotron .col-lg-2, .jumbotron-carousel .jumbotron .col-xs-3, .jumbotron-carousel .jumbotron .col-sm-3, .jumbotron-carousel .jumbotron .col-md-3, .jumbotron-carousel .jumbotron .col-lg-3, .jumbotron-carousel .jumbotron .col-xs-4, .jumbotron-carousel .jumbotron .col-sm-4, .jumbotron-carousel .jumbotron .col-md-4, .jumbotron-carousel .jumbotron .col-lg-4, .jumbotron-carousel .jumbotron .col-xs-5, .jumbotron-carousel .jumbotron .col-sm-5, .jumbotron-carousel .jumbotron .col-md-5, .jumbotron-carousel .jumbotron .col-lg-5, .jumbotron-carousel .jumbotron .col-xs-6, .jumbotron-carousel .jumbotron .col-sm-6, .jumbotron-carousel .jumbotron .col-md-6, .jumbotron-carousel .jumbotron .col-lg-6, .jumbotron-carousel .jumbotron .col-xs-7, .jumbotron-carousel .jumbotron .col-sm-7, .jumbotron-carousel .jumbotron .col-md-7, .jumbotron-carousel .jumbotron .col-lg-7, .jumbotron-carousel .jumbotron .col-xs-8, .jumbotron-carousel .jumbotron .col-sm-8, .jumbotron-carousel .jumbotron .col-md-8, .jumbotron-carousel .jumbotron .col-lg-8, .jumbotron-carousel .jumbotron .col-xs-9, .jumbotron-carousel .jumbotron .col-sm-9, .jumbotron-carousel .jumbotron .col-md-9, .jumbotron-carousel .jumbotron .col-lg-9, .jumbotron-carousel .jumbotron .col-xs-10, .jumbotron-carousel .jumbotron .col-sm-10, .jumbotron-carousel .jumbotron .col-md-10, .jumbotron-carousel .jumbotron .col-lg-10, .jumbotron-carousel .jumbotron .col-xs-11, .jumbotron-carousel .jumbotron .col-sm-11, .jumbotron-carousel .jumbotron .col-md-11, .jumbotron-carousel .jumbotron .col-lg-11, .jumbotron-carousel .jumbotron .col-xs-12, .jumbotron-carousel .jumbotron .col-sm-12, .jumbotron-carousel .jumbotron .col-md-12, .jumbotron-carousel .jumbotron .col-lg-12:empty {
  min-height: 0;
}
html.no-not-selector .jumbotron-carousel a,
html.no-not-selector .jumbotron-carousel a:link,
html.no-not-selector .jumbotron-carousel a:visited {
  text-decoration: none;
}
.jumbotron-carousel a:not(.btn),
.jumbotron-carousel a:link:not(.btn),
.jumbotron-carousel a:visited:not(.btn) {
  text-decoration: none;
}
html.no-not-selector .jumbotron-carousel a:hover,
html.no-not-selector .jumbotron-carousel a:focus,
html.no-not-selector .jumbotron-carousel a:active {
  text-decoration: underline;
}
.jumbotron-carousel a:hover:not(.btn),
.jumbotron-carousel a:focus:not(.btn),
.jumbotron-carousel a:active:not(.btn) {
  text-decoration: underline;
}
.jumbotron-carousel .jumbotron {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}
html.no-not-selector .jumbotron-carousel .jumbotron a,
html.no-not-selector .jumbotron-carousel .jumbotron a:link,
html.no-not-selector .jumbotron-carousel .jumbotron a:visited {
  color: white;
}
.jumbotron-carousel .jumbotron a:not(.btn),
.jumbotron-carousel .jumbotron a:link:not(.btn),
.jumbotron-carousel .jumbotron a:visited:not(.btn) {
  color: white;
}
html.no-not-selector .jumbotron-carousel .jumbotron a:hover,
html.no-not-selector .jumbotron-carousel .jumbotron a:focus,
html.no-not-selector .jumbotron-carousel .jumbotron a:active {
  color: #e0e4f8;
}
.jumbotron-carousel .jumbotron a:hover:not(.btn),
.jumbotron-carousel .jumbotron a:focus:not(.btn),
.jumbotron-carousel .jumbotron a:active:not(.btn) {
  color: #e0e4f8;
}
.jumbotron-carousel .jumbotron a:hover .new-window-link {
  color: #e0e4f8;
}
.jumbotron-carousel .jumbotron a:not(.btn),
.jumbotron-carousel .jumbotron a:link:not(.btn),
.jumbotron-carousel .jumbotron a:visited:not(.btn) {
  -webkit-text-decoration-color: #ffffff;
  -moz-text-decoration-color: #ffffff;
       text-decoration-color: #ffffff;
}
.jumbotron-carousel .jumbotron a:hover:not(.btn),
.jumbotron-carousel .jumbotron a:focus:not(.btn),
.jumbotron-carousel .jumbotron a:active:not(.btn) {
  -webkit-text-decoration-color: #e0e4f8;
  -moz-text-decoration-color: #e0e4f8;
       text-decoration-color: #e0e4f8;
}
.jumbotron-carousel .jumbotron h1,
.jumbotron-carousel .jumbotron h2,
.jumbotron-carousel .jumbotron h3,
.jumbotron-carousel .jumbotron h4,
.jumbotron-carousel .jumbotron h5,
.jumbotron-carousel .jumbotron h6,
.jumbotron-carousel .jumbotron .h1,
.jumbotron-carousel .jumbotron .h2,
.jumbotron-carousel .jumbotron .h3,
.jumbotron-carousel .jumbotron .h4,
.jumbotron-carousel .jumbotron .h5,
.jumbotron-carousel .jumbotron .h6 {
  color: inherit;
}
.jumbotron-carousel .jumbotron h2 {
  font-size: 22px;
}
.jumbotron-carousel .jumbotron p {
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 16px;
  padding-right: 0 !important;
}
.jumbotron-carousel .jumbotron p:last-child {
  margin-bottom: 0;
}
@media (min-width: 480px) {
  .jumbotron-carousel .jumbotron h2 {
    font-size: 26px;
  }
  .jumbotron-carousel .jumbotron p {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .jumbotron-carousel .jumbotron h2 {
    font-size: 32px;
  }
  .jumbotron-carousel .jumbotron p {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .jumbotron-carousel .jumbotron h2 {
    font-size: 40px;
  }
  .jumbotron-carousel .jumbotron p {
    font-size: 24px;
  }
}
.jumbotron-carousel .jumbotron .caption:before,
.jumbotron-carousel .jumbotron .caption:after {
  content: " ";
  display: table;
}
.jumbotron-carousel .jumbotron .caption:after {
  clear: both;
}
.jumbotron-carousel .jumbotron .caption .caption-content {
  padding: 20px 0;
}
.jumbotron-carousel .jumbotron .caption .caption-icon {
  float: left;
  width: 128px;
  height: 128px;
  margin: 20px 20px 20px 0;
}
@media (min-width: 768px) {
  html.flexbox .jumbotron-carousel .jumbotron {
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html.flexbox .jumbotron-carousel .jumbotron .container-fluid {
    width: 100%;
    height: 100%;
  }
  html.flexbox .jumbotron-carousel .jumbotron .container-fluid > .row {
    height: 100%;
  }
  html.flexbox .jumbotron-carousel .jumbotron .container-fluid > .row > * {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  html.flexbox .jumbotron-carousel .jumbotron .container {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html.flexbox .jumbotron-carousel .jumbotron .container .row,
  html.flexbox .jumbotron-carousel .jumbotron .container .layout {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  html.flexbox .jumbotron-carousel .jumbotron .container .row > *,
  html.flexbox .jumbotron-carousel .jumbotron .container .layout > * {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
        -ms-flex: auto;
            flex: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-image,
  html.flexbox .jumbotron-carousel .jumbotron .jumbotron-image {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
            background-size: cover;
    position: relative;
  }
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-image.overlay::before,
  html.flexbox .jumbotron-carousel .jumbotron .jumbotron-image.overlay::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 0.5);
  }
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-image > *,
  html.flexbox .jumbotron-carousel .jumbotron .jumbotron-image > * {
    position: relative;
  }
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-image > .container {
    margin-top: 124px;
    margin-bottom: 20px;
  }
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container .container-fluid,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid .container-fluid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container .row,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid .row,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container .layout,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid .layout {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container .row > *,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid .row > *,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container .layout > *,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid .layout > * {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container .row > *.flex-vertical,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid .row > *.flex-vertical,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container .layout > *.flex-vertical,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid .layout > *.flex-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-top: 0;
    padding-bottom: 0;
  }
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container .row > *.flex-vertical > .row,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid .row > *.flex-vertical > .row,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container .layout > *.flex-vertical > .row,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid .layout > *.flex-vertical > .row {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-1,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-2,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 {
    padding: 0;
  }
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-1 > .column-1-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 > .column-1-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-2 > .column-1-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 > .column-1-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-1 > .column-2-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 > .column-2-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-2 > .column-2-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 > .column-2-content {
    position: relative;
    z-index: 2;
    padding: 0 20px;
    margin-top: 124px;
  }
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-1 > .column-2-content .caption-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 > .column-2-content .caption-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-2 > .column-2-content .caption-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 > .column-2-content .caption-content {
    margin-right: 200px;
  }
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-1,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-2,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel > .container-fluid > .row > * {
    padding-top: 124px;
    padding-bottom: 20px;
  }
  html.flexbox .jumbotron-carousel .jumbotron .caption {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html.flexbox .jumbotron-carousel .jumbotron .caption,
  html.flexbox .jumbotron-carousel .jumbotron .caption.middle {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html.flexbox .jumbotron-carousel .jumbotron .caption.top {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  html.flexbox .jumbotron-carousel .jumbotron .caption.bottom {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  html.flexbox .jumbotron-carousel .jumbotron .caption,
  html.flexbox .jumbotron-carousel .jumbotron .caption.left {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  html.flexbox .jumbotron-carousel .jumbotron .caption.center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html.flexbox .jumbotron-carousel .jumbotron .caption.right {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  html.flexbox .jumbotron-carousel .jumbotron .caption .caption-content {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 66%;
    padding: 20px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-1 > .column-1-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 > .column-1-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-2 > .column-1-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 > .column-1-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-1 > .column-2-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 > .column-2-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-2 > .column-2-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 > .column-2-content {
    width: 375px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-1 > .column-1-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 > .column-1-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-2 > .column-1-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 > .column-1-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-1 > .column-2-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 > .column-2-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-2 > .column-2-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 > .column-2-content {
    width: 485px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-1 > .column-1-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 > .column-1-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-2 > .column-1-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 > .column-1-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-1 > .column-2-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 > .column-2-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container > .layout > .column-2 > .column-2-content,
  html.flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 > .column-2-content {
    width: 585px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  html.flexbox .jumbotron-carousel .jumbotron .caption.center {
    padding: 0 250px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  html.flexbox .jumbotron-carousel .jumbotron .caption.center .caption-content {
    width: 100%;
  }
}
@media (min-width: 768px) {
  html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-xs-1, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-sm-1, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-md-1, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-lg-1, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-xs-2, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-sm-2, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-md-2, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-lg-2, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-xs-3, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-sm-3, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-md-3, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-lg-3, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-xs-4, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-sm-4, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-md-4, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-lg-4, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-xs-5, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-sm-5, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-md-5, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-lg-5, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-xs-6, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-sm-6, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-md-6, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-lg-6, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-xs-7, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-sm-7, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-md-7, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-lg-7, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-xs-8, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-sm-8, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-md-8, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-lg-8, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-xs-9, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-sm-9, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-md-9, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-lg-9, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-xs-10, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-sm-10, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-md-10, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-lg-10, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-xs-11, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-sm-11, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-md-11, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-lg-11, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-xs-12, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-sm-12, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-md-12, html.no-flexbox .jumbotron-carousel .jumbotron-panel .col-lg-12 {
    position: static;
    min-height: 0px;
    float: none;
    width: auto;
  }
  html.no-flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  html.no-flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid {
    width: 750px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  html.no-flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid {
    width: 970px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  html.no-flexbox .jumbotron-carousel .jumbotron.jumbotron-panel .container-fluid {
    width: 1170px;
  }
}
/***** END JUMBOTRON CAROUSEL *****/
/***** START MORE LINKS FOOTER *****/
.popover.megamenu-links {
  text-shadow: none;
  max-width: 100%;
  width: 970px;
  min-width: 750px;
}
@media (max-width: 767px) {
  .popover.megamenu-links {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .popover.megamenu-links {
    min-width: 970px;
  }
}
.popover.megamenu-links .megamenu-links-address .name:after {
  content: ', ';
  display: inline;
}
.popover.megamenu-links .megamenu-links-address .address,
.popover.megamenu-links .megamenu-links-address .telephone,
.popover.megamenu-links .megamenu-links-address .fax {
  display: inline;
}
.popover.megamenu-links .megamenu-links-address .telephone:after {
  content: ' \2022 ';
  display: inline;
}
#more-links {
  padding: 20px 0;
  background: #555555;
  color: white;
  font-size: 16px;
}
html.no-not-selector #more-links a,
html.no-not-selector #more-links a:link,
html.no-not-selector #more-links a:visited {
  color: white;
}
#more-links a:not(.btn),
#more-links a:link:not(.btn),
#more-links a:visited:not(.btn) {
  color: white;
}
html.no-not-selector #more-links a:hover,
html.no-not-selector #more-links a:focus,
html.no-not-selector #more-links a:active {
  color: #e0e4f8;
}
#more-links a:hover:not(.btn),
#more-links a:focus:not(.btn),
#more-links a:active:not(.btn) {
  color: #e0e4f8;
}
#more-links a:hover .new-window-link {
  color: #e0e4f8;
}
#more-links a:not(.btn),
#more-links a:link:not(.btn),
#more-links a:visited:not(.btn) {
  -webkit-text-decoration-color: #ffffff;
  -moz-text-decoration-color: #ffffff;
       text-decoration-color: #ffffff;
}
#more-links a:hover:not(.btn),
#more-links a:focus:not(.btn),
#more-links a:active:not(.btn) {
  -webkit-text-decoration-color: #e0e4f8;
  -moz-text-decoration-color: #e0e4f8;
       text-decoration-color: #e0e4f8;
}
@media (min-width: 768px) {
  html.flexbox #more-links {
    display: none;
  }
}
#more-links .megamenu-links-address {
  text-align: left;
}
html.no-not-selector #more-links .megamenu-links-address .telephone a,
html.no-not-selector #more-links .megamenu-links-address .telephone a:link,
html.no-not-selector #more-links .megamenu-links-address .telephone a:visited {
  text-decoration: none;
}
#more-links .megamenu-links-address .telephone a:not(.btn),
#more-links .megamenu-links-address .telephone a:link:not(.btn),
#more-links .megamenu-links-address .telephone a:visited:not(.btn) {
  text-decoration: none;
}
html.no-not-selector #more-links .megamenu-links-address .telephone a:hover,
html.no-not-selector #more-links .megamenu-links-address .telephone a:focus,
html.no-not-selector #more-links .megamenu-links-address .telephone a:active {
  text-decoration: none;
}
#more-links .megamenu-links-address .telephone a:hover:not(.btn),
#more-links .megamenu-links-address .telephone a:focus:not(.btn),
#more-links .megamenu-links-address .telephone a:active:not(.btn) {
  text-decoration: none;
}
#more-links .megamenu-links-address .utility {
  margin-top: 20px;
}
.more-links-sitemap {
  margin-left: -20px;
  margin-right: -20px;
}
.more-links-sitemap,
.more-links-sitemap ul {
  padding-left: 0;
  list-style: none;
}
.more-links-sitemap > li {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
}
@media (min-width: 768px) {
  .more-links-sitemap > li {
    float: left;
    width: 25%;
  }
}
.more-links-sitemap > li > i {
  font-size: 2em;
}
.more-links-sitemap > li ul {
  font-weight: normal;
  text-align: left;
  font-size: 14px;
}
#more-links .more-links-sitemap:before,
#more-links .more-links-sitemap:after {
  content: " ";
  display: table;
}
#more-links .more-links-sitemap:after {
  clear: both;
}
@media (max-width: 767px) {
  #more-links .more-links-sitemap > li:first-child {
    padding-top: 0;
  }
  #more-links .more-links-sitemap > li:last-child {
    padding-bottom: 0;
  }
  #more-links .more-links-sitemap > li + li {
    border-top: 1px solid #777777;
  }
}
#more-links .more-links-sitemap > li > i {
  color: #eeeeee;
  vertical-align: middle;
  margin-right: 4px;
}
#more-links .more-links-sitemap > li {
  font-size: 18px;
}
#more-links .more-links-sitemap > li ul {
  font-size: 16px;
}
#more-links .more-links-sitemap > li:nth-child(5) {
  clear: left;
}
.megamenu-links .more-links-sitemap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
html.no-not-selector .megamenu-links .more-links-sitemap a,
html.no-not-selector .megamenu-links .more-links-sitemap a:link,
html.no-not-selector .megamenu-links .more-links-sitemap a:visited {
  color: #333333;
}
.megamenu-links .more-links-sitemap a:not(.btn),
.megamenu-links .more-links-sitemap a:link:not(.btn),
.megamenu-links .more-links-sitemap a:visited:not(.btn) {
  color: #333333;
}
html.no-not-selector .megamenu-links .more-links-sitemap a:hover,
html.no-not-selector .megamenu-links .more-links-sitemap a:focus,
html.no-not-selector .megamenu-links .more-links-sitemap a:active {
  color: #2c66e8;
}
.megamenu-links .more-links-sitemap a:hover:not(.btn),
.megamenu-links .more-links-sitemap a:focus:not(.btn),
.megamenu-links .more-links-sitemap a:active:not(.btn) {
  color: #2c66e8;
}
.megamenu-links .more-links-sitemap a:hover .new-window-link {
  color: #2c66e8;
}
.megamenu-links .more-links-sitemap a:not(.btn),
.megamenu-links .more-links-sitemap a:link:not(.btn),
.megamenu-links .more-links-sitemap a:visited:not(.btn) {
  -webkit-text-decoration-color: #666666;
  -moz-text-decoration-color: #666666;
       text-decoration-color: #666666;
}
.megamenu-links .more-links-sitemap a:hover:not(.btn),
.megamenu-links .more-links-sitemap a:focus:not(.btn),
.megamenu-links .more-links-sitemap a:active:not(.btn) {
  -webkit-text-decoration-color: #2c66e8;
  -moz-text-decoration-color: #2c66e8;
       text-decoration-color: #2c66e8;
}
.megamenu-links .more-links-sitemap a {
  text-decoration: underline;
}
.megamenu-links .more-links-sitemap > li {
  margin-bottom: 20px;
}
.megamenu-links .more-links-sitemap > li + li {
  border-left: 1px solid #eeeeee;
}
.megamenu-links .more-links-sitemap > li + li:nth-child(5) {
  border-left: 0;
}
.megamenu-links .more-links-sitemap > li > i {
  color: #777777;
  display: block;
}
.megamenu-links .more-links-sitemap > li {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.megamenu-links-address {
  margin-top: 20px;
  text-align: center;
}
html.no-not-selector .megamenu-links-address a,
html.no-not-selector .megamenu-links-address a:link,
html.no-not-selector .megamenu-links-address a:visited {
  color: #333333;
}
.megamenu-links-address a:not(.btn),
.megamenu-links-address a:link:not(.btn),
.megamenu-links-address a:visited:not(.btn) {
  color: #333333;
}
html.no-not-selector .megamenu-links-address a:hover,
html.no-not-selector .megamenu-links-address a:focus,
html.no-not-selector .megamenu-links-address a:active {
  color: #2c66e8;
}
.megamenu-links-address a:hover:not(.btn),
.megamenu-links-address a:focus:not(.btn),
.megamenu-links-address a:active:not(.btn) {
  color: #2c66e8;
}
.megamenu-links-address a:hover .new-window-link {
  color: #2c66e8;
}
.megamenu-links-address a:not(.btn),
.megamenu-links-address a:link:not(.btn),
.megamenu-links-address a:visited:not(.btn) {
  -webkit-text-decoration-color: #666666;
  -moz-text-decoration-color: #666666;
       text-decoration-color: #666666;
}
.megamenu-links-address a:hover:not(.btn),
.megamenu-links-address a:focus:not(.btn),
.megamenu-links-address a:active:not(.btn) {
  -webkit-text-decoration-color: #2c66e8;
  -moz-text-decoration-color: #2c66e8;
       text-decoration-color: #2c66e8;
}
.megamenu-links-address .utility {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.megamenu-links-address .utility > li {
  display: inline-block;
  padding: 0;
}
html.no-generatedcontent .megamenu-links-address .utility > li {
  margin: 0 0.2em;
}
.megamenu-links-address .utility > li:before {
  content: '|';
  margin-left: 0.1em;
  margin-right: 0.2em;
  color: #777777;
}
.megamenu-links-address .utility > li:first-child:before {
  content: '';
  display: none;
}
@media print {
  .megamenu-links-address .utility a[href]:after {
    content: "";
  }
}
/***** END MORE LINKS FOOTER *****/
/***** END MAIN CONTENT AREA *****/
/***** HACKS AND MISC *****/
html.no-js .id7-masthead .id7-search .id7-search-box,
html.no-style-update .id7-masthead .id7-search .id7-search-box {
  border-color: #7b428e;
}
html.no-js .id7-masthead .id7-search .fa,
html.no-style-update .id7-masthead .id7-search .fa,
html.no-js .id7-masthead .id7-search .twitter-typeahead:hover + .fa,
html.no-style-update .id7-masthead .id7-search .twitter-typeahead:hover + .fa {
  color: #7b428e;
}
html.no-js .id7-masthead .id7-search .twitter-typeahead .tt-suggestion.tt-cursor,
html.no-style-update .id7-masthead .id7-search .twitter-typeahead .tt-suggestion.tt-cursor {
  background: #7b428e;
}
html.no-js .form-control:focus,
html.no-style-update .form-control:focus {
  border-color: #7b428e;
}
html.no-js .id7-page-header,
html.no-style-update .id7-page-header {
  background: #7b428e;
}
html.no-js .id7-masthead .id7-logo-row nav a,
html.no-style-update .id7-masthead .id7-logo-row nav a {
  color: #7b428e !important;
}
