@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
/* We explicitly don't target .btn on these, but IE8 doesn't support :not, so we target html.lt-ie9 as well */
.id7-page-header {
  position: fixed;
  width: 100%;
  -webkit-transition: background-color 0.15s linear;
  -o-transition: background-color 0.15s linear;
  transition: background-color 0.15s linear;
  z-index: 30;
  top: 0px;
  left: 0px;
}
body {
  position: relative;
}
.id7-main-content-area > .id7-main-content {
  width: 100% !important;
  padding: 0;
}
.id7-utility-bar > nav,
.id7-masthead,
.id7-navigation > .navbar {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .id7-utility-bar > nav,
  .id7-masthead,
  .id7-navigation > .navbar {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .id7-utility-bar > nav,
  .id7-masthead,
  .id7-navigation > .navbar {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .id7-utility-bar > nav,
  .id7-masthead,
  .id7-navigation > .navbar {
    width: 1170px;
  }
}
.id7-masthead {
  height: auto;
}
.id7-masthead .id7-logo-column {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .id7-masthead .id7-logo-column {
    float: left;
    width: 75%;
  }
}
.id7-masthead .id7-search-column {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .id7-masthead .id7-search-column {
    float: left;
    width: 25%;
  }
}
.id7-utility-masthead {
  background-image: url("/dist/images/masthead-logo-bleed-homepage-xs.png");
  background-position: 0 24px;
  background-repeat: no-repeat;
  -webkit-background-size: 768px 300px;
          background-size: 768px 300px;
}
@media (min-width: 768px) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-homepage-sm.png");
    -webkit-background-size: 992px 80px;
            background-size: 992px 80px;
    background-position: center 24px;
  }
}
@media (min-width: 992px) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-homepage-md.png");
    -webkit-background-size: 1200px 80px;
            background-size: 1200px 80px;
  }
}
@media (min-width: 1200px) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-homepage-lg.png");
    -webkit-background-size: 3000px 80px;
            background-size: 3000px 80px;
  }
}
.id7-utility-masthead::after {
  display: none;
}
@media (min-width: 768px) {
  .id7-masthead .id7-logo-row > .id7-logo {
    width: 150px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-homepage-xs@2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 768px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 768px), only screen and (min-device-pixel-ratio: 2) and (min-width: 768px), only screen and (min-resolution: 192dpi) and (min-width: 768px), only screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-homepage-sm@2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 992px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 992px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 992px), only screen and (min-device-pixel-ratio: 2) and (min-width: 992px), only screen and (min-resolution: 192dpi) and (min-width: 992px), only screen and (min-resolution: 2dppx) and (min-width: 992px) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-homepage-md@2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1200px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1200px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), only screen and (min-resolution: 192dpi) and (min-width: 1200px), only screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .id7-utility-masthead {
    background-image: url("/dist/images/masthead-logo-bleed-homepage-lg@2x.png");
  }
}
.id7-masthead {
  background: none;
}
.id7-masthead .id7-logo-column {
  margin-bottom: 0;
}
.id7-masthead .id7-logo-row nav {
  margin-left: 155px;
  font-size: 16px;
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  letter-spacing: 1px;
  margin-top: 44px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .id7-masthead .id7-logo-row nav {
    display: block !important;
  }
}
.id7-masthead .id7-logo-row nav a {
  color: white !important;
}
.id7-masthead .id7-logo-row nav ul > li:not(:first-child)::before {
  content: '';
  margin: 0 0.3em;
}
@media (min-width: 992px) {
  .id7-masthead .id7-logo-row nav ul > li:not(:first-child)::before {
    margin: 0 0.6em;
  }
}
@media (min-width: 768px) {
  .id7-masthead .id7-search .id7-search-box-container {
    margin-top: 18px;
  }
}
.popover.megamenu-links {
  text-shadow: none;
  max-width: 100%;
  width: 970px;
  min-width: 750px;
}
@media (min-width: 992px) {
  .popover.megamenu-links {
    min-width: 970px;
  }
}
.caption,
.carousel-nav {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
html.lt-ie9 .jumbotron-carousel a,
html.lt-ie9 .carousel-nav a,
html.lt-ie9 .jumbotron-carousel a:link,
html.lt-ie9 .carousel-nav a:link,
html.lt-ie9 .jumbotron-carousel a:visited,
html.lt-ie9 .carousel-nav a:visited {
  text-decoration: none;
}
.jumbotron-carousel a:not(.btn),
.carousel-nav a:not(.btn),
.jumbotron-carousel a:link:not(.btn),
.carousel-nav a:link:not(.btn),
.jumbotron-carousel a:visited:not(.btn),
.carousel-nav a:visited:not(.btn) {
  text-decoration: none;
}
html.lt-ie9 .jumbotron-carousel a:hover,
html.lt-ie9 .carousel-nav a:hover,
html.lt-ie9 .jumbotron-carousel a:focus,
html.lt-ie9 .carousel-nav a:focus,
html.lt-ie9 .jumbotron-carousel a:active,
html.lt-ie9 .carousel-nav a:active {
  text-decoration: underline;
}
.jumbotron-carousel a:hover:not(.btn),
.carousel-nav a:hover:not(.btn),
.jumbotron-carousel a:focus:not(.btn),
.carousel-nav a:focus:not(.btn),
.jumbotron-carousel a:active:not(.btn),
.carousel-nav a:active:not(.btn) {
  text-decoration: underline;
}
.jumbotron {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 600px;
  height: 100vh;
}
html.lt-ie9 .jumbotron a,
html.lt-ie9 .jumbotron a:link,
html.lt-ie9 .jumbotron a:visited {
  color: white;
}
.jumbotron a:not(.btn),
.jumbotron a:link:not(.btn),
.jumbotron a:visited:not(.btn) {
  color: white;
}
html.lt-ie9 .jumbotron a:hover,
html.lt-ie9 .jumbotron a:focus,
html.lt-ie9 .jumbotron a:active {
  color: #e0e4f8;
}
.jumbotron a:hover:not(.btn),
.jumbotron a:focus:not(.btn),
.jumbotron a:active:not(.btn) {
  color: #e0e4f8;
}
.jumbotron a:hover .new-window-link {
  color: #e0e4f8;
}
.jumbotron .container-fluid {
  width: 100%;
}
@media (min-width: 768px) {
  .jumbotron .container,
  .jumbotron .container-fluid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .jumbotron .container .row,
  .jumbotron .container-fluid .row,
  .jumbotron .container .layout,
  .jumbotron .container-fluid .layout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .jumbotron .container .row > *,
  .jumbotron .container-fluid .row > *,
  .jumbotron .container .layout > *,
  .jumbotron .container-fluid .layout > * {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .jumbotron.jumbotron-panel .container .container-fluid,
  .jumbotron.jumbotron-panel .container-fluid .container-fluid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jumbotron.jumbotron-panel .container .row,
  .jumbotron.jumbotron-panel .container-fluid .row,
  .jumbotron.jumbotron-panel .container .layout,
  .jumbotron.jumbotron-panel .container-fluid .layout {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .jumbotron.jumbotron-panel .container .row > *,
  .jumbotron.jumbotron-panel .container-fluid .row > *,
  .jumbotron.jumbotron-panel .container .layout > *,
  .jumbotron.jumbotron-panel .container-fluid .layout > * {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .jumbotron.jumbotron-panel .container .row > *.flex-vertical,
  .jumbotron.jumbotron-panel .container-fluid .row > *.flex-vertical,
  .jumbotron.jumbotron-panel .container .layout > *.flex-vertical,
  .jumbotron.jumbotron-panel .container-fluid .layout > *.flex-vertical {
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .jumbotron.jumbotron-panel .container > .layout > .column-1,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1,
  .jumbotron.jumbotron-panel .container > .layout > .column-2,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 {
    padding: 0;
  }
  .jumbotron.jumbotron-panel .container > .layout > .column-1 > .column-1-content,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 > .column-1-content,
  .jumbotron.jumbotron-panel .container > .layout > .column-2 > .column-1-content,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 > .column-1-content,
  .jumbotron.jumbotron-panel .container > .layout > .column-1 > .column-2-content,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 > .column-2-content,
  .jumbotron.jumbotron-panel .container > .layout > .column-2 > .column-2-content,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 > .column-2-content {
    position: relative;
    z-index: 2;
    padding: 0 20px;
    margin-top: 104px;
  }
  .jumbotron.jumbotron-panel .container > .layout > .column-1 > .column-2-content .caption-content,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 > .column-2-content .caption-content,
  .jumbotron.jumbotron-panel .container > .layout > .column-2 > .column-2-content .caption-content,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 > .column-2-content .caption-content {
    margin-right: 200px;
  }
  .jumbotron.jumbotron-panel .container > .layout > .column-1,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .jumbotron.jumbotron-panel .container > .layout > .column-2,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .jumbotron .caption {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .jumbotron .caption,
  .jumbotron .caption.middle {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .jumbotron .caption.top {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .jumbotron .caption.bottom {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .jumbotron .caption,
  .jumbotron .caption.left {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .jumbotron .caption.center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .jumbotron .caption.right {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .jumbotron .caption .caption-content {
    width: 66%;
    padding: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .jumbotron.jumbotron-panel .container > .layout > .column-1 > .column-1-content,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 > .column-1-content,
  .jumbotron.jumbotron-panel .container > .layout > .column-2 > .column-1-content,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 > .column-1-content,
  .jumbotron.jumbotron-panel .container > .layout > .column-1 > .column-2-content,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 > .column-2-content,
  .jumbotron.jumbotron-panel .container > .layout > .column-2 > .column-2-content,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 > .column-2-content {
    width: 375px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .jumbotron.jumbotron-panel .container > .layout > .column-1 > .column-1-content,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 > .column-1-content,
  .jumbotron.jumbotron-panel .container > .layout > .column-2 > .column-1-content,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 > .column-1-content,
  .jumbotron.jumbotron-panel .container > .layout > .column-1 > .column-2-content,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 > .column-2-content,
  .jumbotron.jumbotron-panel .container > .layout > .column-2 > .column-2-content,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 > .column-2-content {
    width: 485px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .jumbotron.jumbotron-panel .container > .layout > .column-1 > .column-1-content,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 > .column-1-content,
  .jumbotron.jumbotron-panel .container > .layout > .column-2 > .column-1-content,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 > .column-1-content,
  .jumbotron.jumbotron-panel .container > .layout > .column-1 > .column-2-content,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-1 > .column-2-content,
  .jumbotron.jumbotron-panel .container > .layout > .column-2 > .column-2-content,
  .jumbotron.jumbotron-panel .container-fluid > .layout > .column-2 > .column-2-content {
    width: 585px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .jumbotron .caption.center {
    padding: 0 250px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .jumbotron .caption.center .caption-content {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .jumbotron h2 {
    font-size: 32px;
  }
  .jumbotron p {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .jumbotron h2 {
    font-size: 40px;
  }
  .jumbotron p {
    font-size: 24px;
  }
}
.jumbotron p {
  margin-bottom: 20px;
  font-weight: 200;
  padding-right: 0 !important;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.jumbotron.jumbotron-image,
.jumbotron .jumbotron-image {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
}
.jumbotron.jumbotron-image.overlay::before,
.jumbotron .jumbotron-image.overlay::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 40, 40, 0.5);
}
.jumbotron.jumbotron-image > *,
.jumbotron .jumbotron-image > * {
  position: relative;
}
.jumbotron.jumbotron-image > .container {
  margin-top: 124px;
  margin-bottom: 20px;
}
.jumbotron.jumbotron-panel > .container-fluid > .row > * {
  padding-top: 124px;
  padding-bottom: 20px;
}
.carousel-nav {
  position: fixed;
  width: 250px;
  right: 0px;
  top: 124px;
  z-index: 10;
  text-align: right;
  color: white;
}
@media (max-width: 767px) {
  .carousel-nav {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-nav .title {
    display: none !important;
  }
}
html.lt-ie9 .carousel-nav a,
html.lt-ie9 .carousel-nav a:link,
html.lt-ie9 .carousel-nav a:visited {
  color: white;
}
.carousel-nav a:not(.btn),
.carousel-nav a:link:not(.btn),
.carousel-nav a:visited:not(.btn) {
  color: white;
}
html.lt-ie9 .carousel-nav a:hover,
html.lt-ie9 .carousel-nav a:focus,
html.lt-ie9 .carousel-nav a:active {
  color: #e0e4f8;
}
.carousel-nav a:hover:not(.btn),
.carousel-nav a:focus:not(.btn),
.carousel-nav a:active:not(.btn) {
  color: #e0e4f8;
}
.carousel-nav a:hover .new-window-link {
  color: #e0e4f8;
}
.carousel-nav ul.nav {
  padding: 0;
  padding-right: 20px;
  list-style: none;
  margin: 0;
}
.carousel-nav ul.nav > li {
  position: static;
  display: list-item;
}
.carousel-nav ul.nav > li > a {
  position: static;
  display: inline;
  padding: 0;
}
.carousel-nav ul.nav > li > a:hover,
.carousel-nav ul.nav > li > a:focus {
  text-decoration: underline;
  background: none;
}
.carousel-nav ul.nav > li i.fa:before {
  content: "\f10c";
}
.carousel-nav ul.nav > li.active i.fa:before {
  content: "\f192";
}
.carousel-nav ul.nav > li.active .title {
  font-weight: bold;
}
#more-links {
  background: #555555;
  color: white;
}
html.lt-ie9 #more-links a,
html.lt-ie9 #more-links a:link,
html.lt-ie9 #more-links a:visited {
  color: white;
}
#more-links a:not(.btn),
#more-links a:link:not(.btn),
#more-links a:visited:not(.btn) {
  color: white;
}
html.lt-ie9 #more-links a:hover,
html.lt-ie9 #more-links a:focus,
html.lt-ie9 #more-links a:active {
  color: #e0e4f8;
}
#more-links a:hover:not(.btn),
#more-links a:focus:not(.btn),
#more-links a:active:not(.btn) {
  color: #e0e4f8;
}
#more-links a:hover .new-window-link {
  color: #e0e4f8;
}
@media (min-width: 768px) {
  #more-links {
    display: none;
  }
}
.more-links-sitemap,
.more-links-sitemap ul {
  padding-left: 0;
  list-style: none;
}
.more-links-sitemap > li {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.more-links-sitemap > li > i {
  font-size: 2em;
  display: block;
}
.more-links-sitemap > li ul {
  font-weight: normal;
  text-align: left;
  font-size: 14px;
}
@media (max-width: 767px) {
  .more-links-sitemap > li {
    padding: 20px 0;
  }
}
#more-links .more-links-sitemap > li + li {
  border-top: 1px solid #777777;
}
#more-links .more-links-sitemap > li > i {
  color: #eeeeee;
}
.megamenu-links .more-links-sitemap {
  margin-left: -20px;
  margin-right: -20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
html.lt-ie9 .megamenu-links .more-links-sitemap a,
html.lt-ie9 .megamenu-links .more-links-sitemap a:link,
html.lt-ie9 .megamenu-links .more-links-sitemap a:visited {
  color: #333333;
}
.megamenu-links .more-links-sitemap a:not(.btn),
.megamenu-links .more-links-sitemap a:link:not(.btn),
.megamenu-links .more-links-sitemap a:visited:not(.btn) {
  color: #333333;
}
html.lt-ie9 .megamenu-links .more-links-sitemap a:hover,
html.lt-ie9 .megamenu-links .more-links-sitemap a:focus,
html.lt-ie9 .megamenu-links .more-links-sitemap a:active {
  color: #2c66e8;
}
.megamenu-links .more-links-sitemap a:hover:not(.btn),
.megamenu-links .more-links-sitemap a:focus:not(.btn),
.megamenu-links .more-links-sitemap a:active:not(.btn) {
  color: #2c66e8;
}
.megamenu-links .more-links-sitemap a:hover .new-window-link {
  color: #2c66e8;
}
.megamenu-links .more-links-sitemap a {
  text-decoration: underline;
}
.megamenu-links .more-links-sitemap > li {
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}
.megamenu-links .more-links-sitemap > li + li {
  border-left: 1px solid #eeeeee;
}
.megamenu-links .more-links-sitemap > li > i {
  color: #777777;
}
.megamenu-links .more-links-sitemap > li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.megamenu-links .address {
  margin-top: 20px;
  text-align: center;
}
html.lt-ie9 .megamenu-links .address a,
html.lt-ie9 .megamenu-links .address a:link,
html.lt-ie9 .megamenu-links .address a:visited {
  color: #333333;
}
.megamenu-links .address a:not(.btn),
.megamenu-links .address a:link:not(.btn),
.megamenu-links .address a:visited:not(.btn) {
  color: #333333;
}
html.lt-ie9 .megamenu-links .address a:hover,
html.lt-ie9 .megamenu-links .address a:focus,
html.lt-ie9 .megamenu-links .address a:active {
  color: #2c66e8;
}
.megamenu-links .address a:hover:not(.btn),
.megamenu-links .address a:focus:not(.btn),
.megamenu-links .address a:active:not(.btn) {
  color: #2c66e8;
}
.megamenu-links .address a:hover .new-window-link {
  color: #2c66e8;
}
.megamenu-links .address .utility {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.megamenu-links .address .utility > li {
  display: inline-block;
  padding: 0;
}
.lt-ie9 .megamenu-links .address .utility > li {
  margin: 0 0.2em;
}
.megamenu-links .address .utility > li:not(:first-child)::before {
  content: '|';
  margin-left: 0.1em;
  margin-right: 0.2em;
  color: #777777;
}
@media print {
  .megamenu-links .address .utility a[href]:after {
    content: "";
  }
}
