@import (reference) '../../../less/id7.less';

@logo-width: 150px;
@logo-height: 80px;

@nav-links-margin-top: 50px; // Align with bottom of logotype

@carousel-nav-exclusion-zone: 250px;

@fixed-header-size: (@id7-masthead-bleed-height + @logo-height);

@caption-icon-width: 256px;
@caption-icon-height: 128px;

@caption-icon-square: 128px;
@caption-icon-square-xxs: 96px;

@caption-icon-border-width: 4px;

body {
  position: relative;

  // On smallscreen and non-flexbox, don't allow the body to go underneath the fixed header
  margin-top: @fixed-header-size;

  @media (min-width: @grid-float-breakpoint) {
    html.flexbox & {
      margin-top: 0;
    }
  }
}

/***** START HOMEPAGE MASTHEAD *****/
// Modify containers to be full width
.id7-utility-bar, .id7-masthead {
  .container-fixed(@grid-gutter-width);

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}

// Fix the header
.id7-page-header {
  background-color: @id7-brand-default;

  position: fixed;
  width: 100%;
  .transition(background-color 0.15s linear);

  z-index: 30;
  top: 0;
  left: 0;

  .id7-header-text { display: none; }
}

// Change the masthead imagery
// Remove the image from the masthead itself, as we put it on the utility-masthead
.id7-masthead {
  background: none !important; // Important to fix IE8 media tag precedence
}

.id7-utility-masthead {
  background-color: transparent; // Override default style

  .svg-background-with-fallback('/dist/images/masthead-logo-bleed-wide-xs.svg', '/dist/images/masthead-logo-bleed-wide-xs.png', "0 @{id7-masthead-bleed-height}");
  background-size: 1680px 300px;

  @media (min-width: @screen-sm-min) {
    .svg-background-with-fallback('/dist/images/masthead-logo-bleed-wide-sm.svg', '/dist/images/masthead-logo-bleed-wide-sm.png', "center @{id7-masthead-bleed-height}");
    background-size: @screen-md-min @id7-masthead-logo-height-sm;
  }
  @media (min-width: @screen-md-min) {
    .svg-background-with-fallback('/dist/images/masthead-logo-bleed-wide-md.svg', '/dist/images/masthead-logo-bleed-wide-md.png', "center @{id7-masthead-bleed-height}");
    background-size: @screen-lg-min @id7-masthead-logo-height-sm;
  }
  @media (min-width: @screen-lg-min) {
    .svg-background-with-fallback('/dist/images/masthead-logo-bleed-wide-lg.svg', '/dist/images/masthead-logo-bleed-wide-lg.png', "center @{id7-masthead-bleed-height}");
    background-size: 3000px @id7-masthead-logo-height-sm;
  }

  // Don't show the colour block
  &::after { display: none; }
}

.id7-masthead .id7-logo-row {
  height: @logo-height;

  > .id7-logo {
    height: @logo-height;
    width: 100%;
  }
}

// Change the width of the logo itself
@media (min-width: @grid-float-breakpoint) {
  .id7-masthead .id7-logo-row > .id7-logo {
    width: @logo-width;
  }
}

// Make search column smaller
.id7-masthead {
  height: auto;

  .id7-logo-column {
    float: left;
    width: @logo-width;

    .make-sm-column(9);

    @media (min-width: @grid-float-breakpoint) {
      margin-bottom: 0;
    }
  }

  .id7-search-column {
    .make-sm-column(3);
    margin-left: (-@logo-width);

    @media (min-width: @screen-sm-min) {
      margin-left: 0;
    }
  }
}

// Move search box up
.id7-masthead .id7-search {
  .id7-search-box-container {
    margin-top: (7px + (@line-height-computed / 2));
  }
}

// Quick links Nav
.id7-masthead .id7-logo-row nav {
  margin-left: @logo-width;
  font-size: 11.5px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  a { color: white !important; } // Avoid flash of black

  margin-top: @nav-links-margin-top;

  // Remove the bar separator, and increase separation
  ul > li {
    &:not(:first-child)::before {
      content: '';
      margin: 0 0.2em;

      @media (min-width: @screen-md-min) {
        margin: 0 0.6em;
      }
    }
  }

  .more-links-trigger {
    display: none;

    @media (min-width: @grid-float-breakpoint) {
      html.flexbox & {
        display: inline-block;
      }
    }
  }

  i.fa {
    font-size: 14px;
  }
}

/***** END HOMEPAGE MASTHEAD *****/

/***** START MAIN CONTENT AREA *****/
.id7-main-content-area > .id7-main-content {
  width: 100% !important; // Important fixes bug in IE8 where media query takes precedence
  padding: 0;
}

/***** START CAROUSEL NAV *****/
.carousel-nav {
  display: none;

  @media (min-width: @grid-float-breakpoint) {
    html.flexbox & {
      display: block;
    }
  }
}

.carousel-nav {
  text-shadow: 0px 0px 8px #666, 0px 0px 1px #383838;

  .link-decoration(none, @hover: underline);

  position: fixed;
  right: 0;
  top: (@fixed-header-size + @grid-gutter-width);
  z-index: 10;
  text-align: right;

  color: white;
  .link-colour(white, #e0e4f8);

  ul.nav {
    padding: 0 @grid-gutter-width 0 0;
    list-style: none;
    margin: 0;

    > li {
      position: static;
      display: list-item;
      margin: 0;

      > a {
        position: static;
        display: inline;
        padding: 0;

        &:hover,
        &:focus {
          text-decoration: underline;
          background: none;
        }
      }

      i.fa:before { content: @fa-var-circle-o; }
      &.active i.fa:before { content: @fa-var-dot-circle-o; }
      &.active .title { font-weight: bold; }
    }
  }
}
/***** END CAROUSEL NAV *****/

/***** START JUMBOTRON CAROUSEL *****/

// Remove column min height when empty
.remove-column-min-height(@prefix) {
  .col(@index) { // initial
    @item: ~"@{prefix} .col-xs-@{index}, @{prefix} .col-sm-@{index}, @{prefix} .col-md-@{index}, @{prefix} .col-lg-@{index}";
    .col((@index + 1), @item);
  }
  .col(@index, @list) when (@index =< @grid-columns) { // general; "=<" isn't a typo
    @item: ~"@{prefix} .col-xs-@{index}, @{prefix} .col-sm-@{index}, @{prefix} .col-md-@{index}, @{prefix} .col-lg-@{index}";
    .col((@index + 1), ~"@{list}, @{item}");
  }
  .col(@index, @list) when (@index > @grid-columns) { // terminal
    @{list} {
      &:empty {
        min-height: 0;
      }
    }
  }
  .col(1); // kickstart it
}

// Remove the min-height from empty columns
.remove-column-min-height(".jumbotron-carousel .jumbotron");

.jumbotron-carousel {
  .link-decoration(none, @hover: underline);

  // Jumbotron content blocks
  .jumbotron {
    margin: 0;
    padding: 0;

    background: @id7-brand-default;
    color: white;
    .link-colour(white, #e0e4f8);
    .header-colour(white);

    h2 {
      font-size: 20px;
    }

    p {
      margin-bottom: @grid-gutter-width;
      font-weight: 200;
      font-size: @main-font-size;
      padding-right: 0 !important;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (min-width: @screen-xs-min) {
      h2 {
        font-size: 26px;
      }

      p {
        font-size: @main-font-size;
      }
    }

    @media (min-width: @screen-md-min) {
      h2 {
        font-size: 32px;
      }

      p {
        font-size: @font-size-h4;
      }
    }

    @media (min-width: @screen-lg-min) {
      h2 {
        font-size: 40px;
      }

      p {
        font-size: @font-size-h3;
      }
    }

    .caption {
      .clearfix();
      text-shadow: 1px 1px 0 rgba(0,0,0,.2);

      .caption-content {
        padding: @grid-gutter-width 0;
      }

      .caption-icon {
        width: (@caption-icon-width + (@caption-icon-border-width * 2));
        height: (@caption-icon-height + (@caption-icon-border-width * 2));

        border: @caption-icon-border-width solid white;
        box-shadow: 1px 1px 0 rgba(0,0,0,.2);

        margin-top: @grid-gutter-width;
      }

      &.caption-icon-square .caption-icon {
        width: (@caption-icon-square + (@caption-icon-border-width * 2));
        height: (@caption-icon-square + (@caption-icon-border-width * 2));

        float: left;
        margin: @grid-gutter-width @grid-gutter-width @grid-gutter-width 0; // none on left

        @media (max-width: 320px) {
          width: (@caption-icon-square-xxs + (@caption-icon-border-width * 2));
          height: (@caption-icon-square-xxs + (@caption-icon-border-width * 2));
        }
      }
    }
  }
}

// Flexbox-y Jumbotrons on desktop
.set-jumbotron-height(@height: 100vh, @fallback: 800px) {
  height: @fallback;
  height: @height;

  // Source: https://gist.github.com/pburtchaell/e702f441ba9b3f76f587
  // VH and VW units can cause issues on iOS 7 devices: http://caniuse.com/#feat=viewport-units
  // To overcome this, create media queries that target the width, height, and orientation of iOS devices.

  // iPad with portrait orientation.
  @media (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    height: (1024px * (@height / 100vh));
  }

  // iPad with landscape orientation.
  @media (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    height: (768px * (@height / 100vh));
  }
}

@media (min-width: @grid-float-breakpoint) {
  html.flexbox .jumbotron-carousel .jumbotron {
    .set-jumbotron-height();

    // Flex so that the container inside it takes up the full height
    display: flex;
    flex-direction: column;

    .container-fluid {
      width: 100%;
      .set-jumbotron-height();

      > .row {
        .set-jumbotron-height();

        > * {
          .set-jumbotron-height();
          display: flex;
        }
      }
    }

    .container {
      flex: 1 0 auto;

      display: flex;
      flex-direction: column;

      .row, .layout {
        flex: 1 0 auto;

        display: flex;
        align-items: stretch;

        > * {
          flex: auto;

          display: flex;
          flex-direction: column;
        }
      }
    }

    &.jumbotron-image, .jumbotron-image {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      position: relative;

      &.overlay::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(40, 40, 40, 0.5);
      }

      > * {
        position: relative;
      }

      // Block level link
      > a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .transition(background .15s linear);

        background-color: rgba(255, 255, 255, 0);

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }

    &.jumbotron-image > .container {
      margin-top: @fixed-header-size;
    }

    &.jumbotron-panel {
      .container, .container-fluid {
        .container-fluid {
          flex-direction: column;
        }

        .row, .layout {
          align-items: stretch;

          > * {
            flex-direction: row;
            align-items: stretch;

            &.flex-vertical {
              flex-direction: column;
              align-items: stretch;

              padding-top: 0;
              padding-bottom: 0;

              > .row {
                flex: 1;
                display: flex;
              }
            }
          }
        }

        > .layout {
          > .column-1, > .column-2 {
            padding: 0;

            > .column-1-content, > .column-2-content {
              position: relative;
              z-index: 2;
              margin-top: @fixed-header-size;

              @media (min-width: @screen-sm-min) {
                width: (@container-sm / 2);
              }
              @media (min-width: @screen-md-min) {
                width: (@container-md / 2);
              }
              @media (min-width: @screen-lg-min) {
                width: (@container-lg / 2);
              }
            }

            > .column-2-content {
              .caption-content {
                margin-right: 200px;
              }
            }
          }

          > .column-1 {
            justify-content: flex-end;
          }

          > .column-2 {
            justify-content: flex-start;
          }
        }
      }

      > .container-fluid > .row > * {
        padding-top: @fixed-header-size;
      }
    }

    .caption {
      .make-row();
      flex: 1 1 auto;

      display: flex;

      // Default .middle .left

      // Vertical alignment
      &, &.middle { align-items: center; }
      &.top { align-items: flex-start; }
      &.bottom { align-items: flex-end; }

      &, &.left { justify-content: flex-start; }
      &.center { justify-content: center;
        // Padding for exclusion zone on right
        @media (min-width: @screen-md-min) {
          padding: 0 @carousel-nav-exclusion-zone;
        }
      }
      &.right { justify-content: flex-end; }

      // Invalid combinations, top-right will assume top-left
      &.top.right { justify-content: flex-start; }

      // top.center is invalid at sm but valid at md and lg
      &.top.center { justify-content: flex-start; }

      @media (min-width: @screen-md-min) {
        &.top.center { justify-content: center; }
      }

      .caption-content {
        flex: 0 1 auto; // This should be the default, but isn't in IE10/11

        width: 66%;
        margin: @grid-gutter-width;
        padding: @grid-gutter-width;
      }

      @media (min-width: @screen-md-min) {
        &.center .caption-content {
          width: auto;
        }
      }
    }

    @media (min-width: @grid-float-breakpoint) {
      &.jumbotron-panel .caption.center {
        padding: 0;

        .caption-content {
          width: auto;
        }
      }
    }
  }
}

// Remove col-* classes from panel containers when on no-flexbox
.remove-column-layout(@prefix) {
  .col(@index) { // initial
    @item: ~"@{prefix} .col-xs-@{index}, @{prefix} .col-sm-@{index}, @{prefix} .col-md-@{index}, @{prefix} .col-lg-@{index}";
    .col((@index + 1), @item);
  }
  .col(@index, @list) when (@index =< @grid-columns) { // general; "=<" isn't a typo
    @item: ~"@{prefix} .col-xs-@{index}, @{prefix} .col-sm-@{index}, @{prefix} .col-md-@{index}, @{prefix} .col-lg-@{index}";
    .col((@index + 1), ~"@{list}, @{item}");
  }
  .col(@index, @list) when (@index > @grid-columns) { // terminal
    @{list} {
      position: static;
      min-height: 0px;

      float: none;
      width: auto;
    }
  }
  .col(1); // kickstart it
}

@media (min-width: @grid-float-breakpoint) {
  .remove-column-layout("html.no-flexbox .jumbotron-carousel .jumbotron-panel");

  html.no-flexbox .jumbotron-carousel .jumbotron.jumbotron-panel {
    .container-fluid {
      .container-fixed(@grid-gutter-width);

      @media (min-width: @screen-sm-min) {
        width: @container-sm;
      }
      @media (min-width: @screen-md-min) {
        width: @container-md;
      }
      @media (min-width: @screen-lg-min) {
        width: @container-lg;
      }
    }
  }
}

/***** END JUMBOTRON CAROUSEL *****/

/***** START MORE LINKS FOOTER *****/

.popover.megamenu-links {
  @media (max-width: @screen-xs-max) {
    display: none !important;
  }

  text-shadow: none;

  max-width: 100%;
  width: @container-md;
  min-width: @container-sm;

  @media (min-width: @screen-md-min) {
    min-width: @container-md;
  }

  .megamenu-links-address {
    .name:after {
      content: ', ';
      display: inline;
    }

    .address, .telephone, .fax {
      display: inline;
    }

    .telephone {
      margin-right: 0.8em;
    }

    .utility > li {
      &:before {
        content: none;
      }

      margin-left: 0.6em;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

#more-links {
  padding: @grid-gutter-width 0;
  background: @gray;
  color: white;
  font-size: 16px;
  .link-colour(white, #e0e4f8);

  @media (min-width: @grid-float-breakpoint) {
    html.flexbox & {
      display: none;
    }
  }

  .megamenu-links-address {
    text-align: left;

    .telephone {
      .link-decoration(none, @hover: none);
    }

    .utility {
      margin-top: @grid-gutter-width;
    }
  }
}

.more-links-sitemap {
  // Unstyle lists
  &, ul {
    .list-unstyled();
  }

  margin-left:  -@grid-gutter-width;
  margin-right: -@grid-gutter-width;

  > li {
    .make-sm-column(3);

    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 0;

    > i {
      font-size: 1.75em;
    }

    ul {
      font-weight: normal;
      text-align: left;
      font-size: @font-size-base;

      li { margin: 0; }
    }

    padding: @grid-gutter-width;
  }

  // When inside the footer
  #more-links & {
    .clearfix();

    @media (max-width: @screen-xs-max) {
      > li:first-child {
        padding-top: 0;
      }

      > li:last-child {
        padding-bottom: 0;
      }

      > li + li {
        border-top: 1px solid @gray-light;
      }
    }

    > li > i {
      color: @gray-lighter;
      vertical-align: middle;
      margin-right: 4px;
    }

    > li {
      font-size: 18px;

      ul {
        font-size: 16px;
      }

      &:nth-child(5) {
        clear: left;
      }
    }
  }

  // When inside the popover
  .megamenu-links & {
    .link-colour(#333, #2c66e8);

    a {
      text-decoration: underline;
    }

    > li {
      padding: (@grid-gutter-width / 2) @grid-gutter-width;

      + li {
        border-left: 1px solid @gray-lighter;

        &:nth-child(5) {
          border-left: 0;
        }
      }

      > i {
        color: @gray-light;
        display: block;
      }
    }

    // Flexbox it in browsers that support it to get equal-height columns
    display: flex;
    flex-wrap: wrap;
    > li {
      flex: 0 0 auto;
    }
  }
}

.megamenu-links-address {
  text-align: center;
  .link-colour(#333, #2c66e8);

  .utility {
    .horizontal-utility-links();
  }
}

/***** END MORE LINKS FOOTER *****/

/***** END MAIN CONTENT AREA *****/

/***** HACKS AND MISC *****/
html.no-js, html.no-style-update {
  .id7-masthead .id7-search {
    .id7-search-box {
      border-color: @id7-brand-default;
    }

    .fa, .twitter-typeahead:hover + .fa {
      color: @id7-brand-default;
    }

    .twitter-typeahead .tt-suggestion.tt-cursor {
      background: @id7-brand-default;
    }
  }

  .form-control:focus {
    border-color: @id7-brand-default;
  }

  .id7-page-header {
    background: @id7-brand-default;
  }

  .id7-masthead .id7-logo-row nav {
    a {
      color: @id7-brand-default !important;
    }
  }
}

body > a.sr-only-focusable { // "Skip to main content" link
  top: 0px;
  left: @grid-gutter-width;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  z-index: 100;

  &:focus, &:active {
    position: absolute;
  }

  &, &:link, &:visited, &:hover, &:focus, &:active {
    color: white;
  }
}