@import '../../../less/bootstrap/variables.less';
@import '../../../less/bootstrap/mixins.less';
@import '../../../less/variables.less';
@import '../../../less/mixins.less';

.id7-main-content-area {
  .row-spacer {
    > [class*='col-'] {
      padding-top: (@grid-gutter-width / 2);
      padding-bottom: (@grid-gutter-width / 2);
    }
  }

  .slideshow {
    background: black;
    color: white;
    margin-bottom: (@grid-gutter-width / 2);

    .carousel {
      height: 400px;

      .carousel-inner, .carousel-inner > .item {
        height: 100%;
      }
    }

    .carousel-inner > .item {
      > .caption {
        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
          color: inherit;
          border: 0;
        }

        width: 290px;
        max-width: 100%;
        position: absolute;
        top: (@grid-gutter-width / 2);
        right: (@grid-gutter-width / 2);
        bottom: (@grid-gutter-width * 1.5);
        padding: (@grid-gutter-width / 2);
        background-color: #555555;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: auto;
      }
    }

    .carousel-controls {
      height: @grid-gutter-width;
      line-height: @grid-gutter-width;
      position: absolute;
      bottom: 0px;
      left: 0px;

      .link-colour(white);
      background-color: #555555;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .boxstyle_ {
    &.box1 {
      #boxstyle > .filled(screen(@id7-brand-purple, darken(white, 40%)));
    }

    &.box2 {
      #boxstyle > .filled(screen(@id7-brand-purple, darken(white, 10%)));
    }

    &.box3 {
      #boxstyle > .filled(#e6e6e6);
    }

    &.feature-image1 {
      #boxstyle > .image(~'url(../site/site1/banner-image.jpg) top right no-repeat', white);
    }

    &.feature-image2 {
      #boxstyle > .image(~'url(../site/site3/banner-image.jpg) top right no-repeat', white);
    }
  }

  .feature-box {
    .heading {
      h1, h2, h3, h4, h5, h6,
      .h1, .h2, .h3, .h4, .h5, .h6 {
        color: inherit;
        border: 0;
        margin: 0;
        padding: 0;
      }

      display: inline-block;
      margin-left: (-(@grid-gutter-width * 3/4));
      padding: (@grid-gutter-width / 4) (@grid-gutter-width / 2);
    }

    position: relative;

    .caption {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      padding: (@grid-gutter-width / 2);

      #gradient > .vertical(@start-color: rgba(0,0,0,.0001); @end-color: rgba(0,0,0,.5));

      > :last-child {
        margin-bottom: 0;
      }
    }
  }

  .feature-image1 {
    color: white;
    min-height: 200px;
    font-weight: bold;

    .heading {
      background: #6b3251;
      color: contrast(#6b3251, @text-color, white, 50%);
    }
  }

  .feature-image2 {
    color: white;
    min-height: 200px;
    font-weight: bold;

    .heading {
      background-color: #555555;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
    }
  }

  .btn-block {
    font-size: 160%;
    text-align: left;
    padding: 0;
    min-height: 60px;

    position: relative;

    > span {
      position: absolute;
      left: (@grid-gutter-width / 2);
      bottom: (@grid-gutter-width / 2);
    }
  }

  .btn-colour1 {
    background: #1f2121;
    color: #dbc6d7;

    &:hover,
    &:active {
      background: darken(#1f2121, 10%);
      color: lighten(#dbc6d7, 10%);
    }
  }

  .btn-colour2 {
    background: #6b3251;
    color: #dbc6d7;

    &:hover,
    &:active {
      background: darken(#6b3251, 10%);
      color: lighten(#dbc6d7, 10%);
    }
  }

  blockquote.no-margin {
    margin: 0;
  }

  .nav-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    > li {
      float: none;
      margin: 0 !important;

      @media (min-width: @screen-sm-min) {
        width: floor((@container-sm - @grid-gutter-width) / 13);
      }

      @media (min-width: @screen-md-min) {
        width: floor((@container-md - @grid-gutter-width) / 26);
      }

      @media (min-width: @screen-lg-min) {
        width: floor((@container-lg - @grid-gutter-width) / 26);
      }

      > a {
        text-align: center;
        margin-bottom: 5px;
      }
    }

    > .dropdown .dropdown-menu {
      top: auto;
      left: auto;
    }
  }
}