.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 0px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
.id7-fixed-width-container:before,
.id7-fixed-width-container:after,
.id7-utility-bar:before,
.id7-utility-bar:after,
.id7-masthead:before,
.id7-masthead:after,
.id7-masthead .id7-masthead-contents:before,
.id7-masthead .id7-masthead-contents:after,
.id7-masthead .id7-logo-row:before,
.id7-masthead .id7-logo-row:after,
.id7-main-content-area > header:before,
.id7-main-content-area > header:after,
.id7-main-content-area > .id7-main-content:before,
.id7-main-content-area > .id7-main-content:after,
.id7-paging:before,
.id7-paging:after,
footer .id7-site-footer:before,
footer .id7-site-footer:after,
footer .id7-app-footer:before,
footer .id7-app-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
.id7-fixed-width-container:after,
.id7-utility-bar:after,
.id7-masthead:after,
.id7-masthead .id7-masthead-contents:after,
.id7-masthead .id7-logo-row:after,
.id7-main-content-area > header:after,
.id7-main-content-area > .id7-main-content:after,
.id7-paging:after,
footer .id7-site-footer:after,
footer .id7-app-footer:after {
  clear: both;
}
.btn-group-lg > .btn {
  border-radius: 6px;
}
.btn-group-sm > .btn {
  border-radius: 3px;
}
.btn-group-xs > .btn {
  border-radius: 3px;
}
.id7-main-content-area .row-spacer > [class*='col-'] {
  padding-top: 20px;
  padding-bottom: 20px;
}
.id7-main-content-area .slideshow {
  background: black;
  color: white;
  margin-bottom: 20px;
}
.id7-main-content-area .slideshow .carousel {
  height: 400px;
}
.id7-main-content-area .slideshow .carousel .carousel-inner,
.id7-main-content-area .slideshow .carousel .carousel-inner > .item {
  height: 100%;
}
.id7-main-content-area .slideshow .carousel-inner > .item > .caption {
  width: 290px;
  max-width: 100%;
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 30px;
  padding: 20px;
  background-color: #555555;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}
.id7-main-content-area .slideshow .carousel-inner > .item > .caption h1,
.id7-main-content-area .slideshow .carousel-inner > .item > .caption h2,
.id7-main-content-area .slideshow .carousel-inner > .item > .caption h3,
.id7-main-content-area .slideshow .carousel-inner > .item > .caption h4,
.id7-main-content-area .slideshow .carousel-inner > .item > .caption h5,
.id7-main-content-area .slideshow .carousel-inner > .item > .caption h6,
.id7-main-content-area .slideshow .carousel-inner > .item > .caption .h1,
.id7-main-content-area .slideshow .carousel-inner > .item > .caption .h2,
.id7-main-content-area .slideshow .carousel-inner > .item > .caption .h3,
.id7-main-content-area .slideshow .carousel-inner > .item > .caption .h4,
.id7-main-content-area .slideshow .carousel-inner > .item > .caption .h5,
.id7-main-content-area .slideshow .carousel-inner > .item > .caption .h6 {
  color: inherit;
  border: 0;
}
.id7-main-content-area .slideshow .carousel-controls {
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #555555;
  background-color: rgba(0, 0, 0, 0.8);
}
.id7-main-content-area .slideshow .carousel-controls a,
.id7-main-content-area .slideshow .carousel-controls a:link,
.id7-main-content-area .slideshow .carousel-controls a:visited {
  color: white;
}
.id7-main-content-area .slideshow .carousel-controls a:hover,
.id7-main-content-area .slideshow .carousel-controls a:focus,
.id7-main-content-area .slideshow .carousel-controls a:active {
  color: #cccccc;
}
.id7-main-content-area .slideshow .carousel-controls a:hover .new-window-link {
  color: #cccccc;
}
.id7-main-content-area .slideshow .carousel-controls a,
.id7-main-content-area .slideshow .carousel-controls a:link,
.id7-main-content-area .slideshow .carousel-controls a:visited {
  -webkit-text-decoration-color: #ffffff;
  -moz-text-decoration-color: #ffffff;
       text-decoration-color: #ffffff;
}
.id7-main-content-area .slideshow .carousel-controls a:hover,
.id7-main-content-area .slideshow .carousel-controls a:focus,
.id7-main-content-area .slideshow .carousel-controls a:active {
  -webkit-text-decoration-color: #cccccc;
  -moz-text-decoration-color: #cccccc;
       text-decoration-color: #cccccc;
}
@media (max-width: 767px) {
  .id7-main-content-area .boxstyle_.box1,
  .id7-main-content-area .boxstyle-sm.box1 {
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media (max-width: 991px) {
  .id7-main-content-area .boxstyle-md.box1 {
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media (max-width: 1199px) {
  .id7-main-content-area .boxstyle-lg.box1 {
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
.id7-main-content-area .boxstyle_.box1,
.id7-main-content-area .boxstyle-xs.box1,
.id7-main-content-area .boxstyle-sm.box1,
.id7-main-content-area .boxstyle-md.box1,
.id7-main-content-area .boxstyle-lg.box1 {
  border: 0;
  background: #bdacc3;
  color: #383838;
}
@media print {
  .id7-main-content-area .boxstyle_.box1,
  .id7-main-content-area .boxstyle-xs.box1,
  .id7-main-content-area .boxstyle-sm.box1,
  .id7-main-content-area .boxstyle-md.box1,
  .id7-main-content-area .boxstyle-lg.box1 {
    border: 1px solid #bdacc3;
  }
}
.id7-main-content-area .boxstyle_.box1 h1,
.id7-main-content-area .boxstyle-xs.box1 h1,
.id7-main-content-area .boxstyle-sm.box1 h1,
.id7-main-content-area .boxstyle-md.box1 h1,
.id7-main-content-area .boxstyle-lg.box1 h1,
.id7-main-content-area .boxstyle_.box1 h2,
.id7-main-content-area .boxstyle-xs.box1 h2,
.id7-main-content-area .boxstyle-sm.box1 h2,
.id7-main-content-area .boxstyle-md.box1 h2,
.id7-main-content-area .boxstyle-lg.box1 h2,
.id7-main-content-area .boxstyle_.box1 h3,
.id7-main-content-area .boxstyle-xs.box1 h3,
.id7-main-content-area .boxstyle-sm.box1 h3,
.id7-main-content-area .boxstyle-md.box1 h3,
.id7-main-content-area .boxstyle-lg.box1 h3,
.id7-main-content-area .boxstyle_.box1 h4,
.id7-main-content-area .boxstyle-xs.box1 h4,
.id7-main-content-area .boxstyle-sm.box1 h4,
.id7-main-content-area .boxstyle-md.box1 h4,
.id7-main-content-area .boxstyle-lg.box1 h4,
.id7-main-content-area .boxstyle_.box1 h5,
.id7-main-content-area .boxstyle-xs.box1 h5,
.id7-main-content-area .boxstyle-sm.box1 h5,
.id7-main-content-area .boxstyle-md.box1 h5,
.id7-main-content-area .boxstyle-lg.box1 h5,
.id7-main-content-area .boxstyle_.box1 h6,
.id7-main-content-area .boxstyle-xs.box1 h6,
.id7-main-content-area .boxstyle-sm.box1 h6,
.id7-main-content-area .boxstyle-md.box1 h6,
.id7-main-content-area .boxstyle-lg.box1 h6,
.id7-main-content-area .boxstyle_.box1 .h1,
.id7-main-content-area .boxstyle-xs.box1 .h1,
.id7-main-content-area .boxstyle-sm.box1 .h1,
.id7-main-content-area .boxstyle-md.box1 .h1,
.id7-main-content-area .boxstyle-lg.box1 .h1,
.id7-main-content-area .boxstyle_.box1 .h2,
.id7-main-content-area .boxstyle-xs.box1 .h2,
.id7-main-content-area .boxstyle-sm.box1 .h2,
.id7-main-content-area .boxstyle-md.box1 .h2,
.id7-main-content-area .boxstyle-lg.box1 .h2,
.id7-main-content-area .boxstyle_.box1 .h3,
.id7-main-content-area .boxstyle-xs.box1 .h3,
.id7-main-content-area .boxstyle-sm.box1 .h3,
.id7-main-content-area .boxstyle-md.box1 .h3,
.id7-main-content-area .boxstyle-lg.box1 .h3,
.id7-main-content-area .boxstyle_.box1 .h4,
.id7-main-content-area .boxstyle-xs.box1 .h4,
.id7-main-content-area .boxstyle-sm.box1 .h4,
.id7-main-content-area .boxstyle-md.box1 .h4,
.id7-main-content-area .boxstyle-lg.box1 .h4,
.id7-main-content-area .boxstyle_.box1 .h5,
.id7-main-content-area .boxstyle-xs.box1 .h5,
.id7-main-content-area .boxstyle-sm.box1 .h5,
.id7-main-content-area .boxstyle-md.box1 .h5,
.id7-main-content-area .boxstyle-lg.box1 .h5,
.id7-main-content-area .boxstyle_.box1 .h6,
.id7-main-content-area .boxstyle-xs.box1 .h6,
.id7-main-content-area .boxstyle-sm.box1 .h6,
.id7-main-content-area .boxstyle-md.box1 .h6,
.id7-main-content-area .boxstyle-lg.box1 .h6 {
  color: #383838;
}
.id7-main-content-area .boxstyle_.box1 blockquote.quotes,
.id7-main-content-area .boxstyle-xs.box1 blockquote.quotes,
.id7-main-content-area .boxstyle-sm.box1 blockquote.quotes,
.id7-main-content-area .boxstyle-md.box1 blockquote.quotes,
.id7-main-content-area .boxstyle-lg.box1 blockquote.quotes {
  color: inherit;
}
@media (max-width: 767px) {
  .id7-main-content-area .boxstyle_.box2,
  .id7-main-content-area .boxstyle-sm.box2 {
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media (max-width: 991px) {
  .id7-main-content-area .boxstyle-md.box2 {
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media (max-width: 1199px) {
  .id7-main-content-area .boxstyle-lg.box2 {
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
.id7-main-content-area .boxstyle_.box2,
.id7-main-content-area .boxstyle-xs.box2,
.id7-main-content-area .boxstyle-sm.box2,
.id7-main-content-area .boxstyle-md.box2,
.id7-main-content-area .boxstyle-lg.box2 {
  border: 0;
  background: #efeaf0;
  color: #383838;
}
@media print {
  .id7-main-content-area .boxstyle_.box2,
  .id7-main-content-area .boxstyle-xs.box2,
  .id7-main-content-area .boxstyle-sm.box2,
  .id7-main-content-area .boxstyle-md.box2,
  .id7-main-content-area .boxstyle-lg.box2 {
    border: 1px solid #efeaf0;
  }
}
.id7-main-content-area .boxstyle_.box2 h1,
.id7-main-content-area .boxstyle-xs.box2 h1,
.id7-main-content-area .boxstyle-sm.box2 h1,
.id7-main-content-area .boxstyle-md.box2 h1,
.id7-main-content-area .boxstyle-lg.box2 h1,
.id7-main-content-area .boxstyle_.box2 h2,
.id7-main-content-area .boxstyle-xs.box2 h2,
.id7-main-content-area .boxstyle-sm.box2 h2,
.id7-main-content-area .boxstyle-md.box2 h2,
.id7-main-content-area .boxstyle-lg.box2 h2,
.id7-main-content-area .boxstyle_.box2 h3,
.id7-main-content-area .boxstyle-xs.box2 h3,
.id7-main-content-area .boxstyle-sm.box2 h3,
.id7-main-content-area .boxstyle-md.box2 h3,
.id7-main-content-area .boxstyle-lg.box2 h3,
.id7-main-content-area .boxstyle_.box2 h4,
.id7-main-content-area .boxstyle-xs.box2 h4,
.id7-main-content-area .boxstyle-sm.box2 h4,
.id7-main-content-area .boxstyle-md.box2 h4,
.id7-main-content-area .boxstyle-lg.box2 h4,
.id7-main-content-area .boxstyle_.box2 h5,
.id7-main-content-area .boxstyle-xs.box2 h5,
.id7-main-content-area .boxstyle-sm.box2 h5,
.id7-main-content-area .boxstyle-md.box2 h5,
.id7-main-content-area .boxstyle-lg.box2 h5,
.id7-main-content-area .boxstyle_.box2 h6,
.id7-main-content-area .boxstyle-xs.box2 h6,
.id7-main-content-area .boxstyle-sm.box2 h6,
.id7-main-content-area .boxstyle-md.box2 h6,
.id7-main-content-area .boxstyle-lg.box2 h6,
.id7-main-content-area .boxstyle_.box2 .h1,
.id7-main-content-area .boxstyle-xs.box2 .h1,
.id7-main-content-area .boxstyle-sm.box2 .h1,
.id7-main-content-area .boxstyle-md.box2 .h1,
.id7-main-content-area .boxstyle-lg.box2 .h1,
.id7-main-content-area .boxstyle_.box2 .h2,
.id7-main-content-area .boxstyle-xs.box2 .h2,
.id7-main-content-area .boxstyle-sm.box2 .h2,
.id7-main-content-area .boxstyle-md.box2 .h2,
.id7-main-content-area .boxstyle-lg.box2 .h2,
.id7-main-content-area .boxstyle_.box2 .h3,
.id7-main-content-area .boxstyle-xs.box2 .h3,
.id7-main-content-area .boxstyle-sm.box2 .h3,
.id7-main-content-area .boxstyle-md.box2 .h3,
.id7-main-content-area .boxstyle-lg.box2 .h3,
.id7-main-content-area .boxstyle_.box2 .h4,
.id7-main-content-area .boxstyle-xs.box2 .h4,
.id7-main-content-area .boxstyle-sm.box2 .h4,
.id7-main-content-area .boxstyle-md.box2 .h4,
.id7-main-content-area .boxstyle-lg.box2 .h4,
.id7-main-content-area .boxstyle_.box2 .h5,
.id7-main-content-area .boxstyle-xs.box2 .h5,
.id7-main-content-area .boxstyle-sm.box2 .h5,
.id7-main-content-area .boxstyle-md.box2 .h5,
.id7-main-content-area .boxstyle-lg.box2 .h5,
.id7-main-content-area .boxstyle_.box2 .h6,
.id7-main-content-area .boxstyle-xs.box2 .h6,
.id7-main-content-area .boxstyle-sm.box2 .h6,
.id7-main-content-area .boxstyle-md.box2 .h6,
.id7-main-content-area .boxstyle-lg.box2 .h6 {
  color: #383838;
}
.id7-main-content-area .boxstyle_.box2 blockquote.quotes,
.id7-main-content-area .boxstyle-xs.box2 blockquote.quotes,
.id7-main-content-area .boxstyle-sm.box2 blockquote.quotes,
.id7-main-content-area .boxstyle-md.box2 blockquote.quotes,
.id7-main-content-area .boxstyle-lg.box2 blockquote.quotes {
  color: inherit;
}
@media (max-width: 767px) {
  .id7-main-content-area .boxstyle_.box3,
  .id7-main-content-area .boxstyle-sm.box3 {
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media (max-width: 991px) {
  .id7-main-content-area .boxstyle-md.box3 {
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media (max-width: 1199px) {
  .id7-main-content-area .boxstyle-lg.box3 {
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
.id7-main-content-area .boxstyle_.box3,
.id7-main-content-area .boxstyle-xs.box3,
.id7-main-content-area .boxstyle-sm.box3,
.id7-main-content-area .boxstyle-md.box3,
.id7-main-content-area .boxstyle-lg.box3 {
  border: 0;
  background: #e6e6e6;
  color: #383838;
}
@media print {
  .id7-main-content-area .boxstyle_.box3,
  .id7-main-content-area .boxstyle-xs.box3,
  .id7-main-content-area .boxstyle-sm.box3,
  .id7-main-content-area .boxstyle-md.box3,
  .id7-main-content-area .boxstyle-lg.box3 {
    border: 1px solid #e6e6e6;
  }
}
.id7-main-content-area .boxstyle_.box3 h1,
.id7-main-content-area .boxstyle-xs.box3 h1,
.id7-main-content-area .boxstyle-sm.box3 h1,
.id7-main-content-area .boxstyle-md.box3 h1,
.id7-main-content-area .boxstyle-lg.box3 h1,
.id7-main-content-area .boxstyle_.box3 h2,
.id7-main-content-area .boxstyle-xs.box3 h2,
.id7-main-content-area .boxstyle-sm.box3 h2,
.id7-main-content-area .boxstyle-md.box3 h2,
.id7-main-content-area .boxstyle-lg.box3 h2,
.id7-main-content-area .boxstyle_.box3 h3,
.id7-main-content-area .boxstyle-xs.box3 h3,
.id7-main-content-area .boxstyle-sm.box3 h3,
.id7-main-content-area .boxstyle-md.box3 h3,
.id7-main-content-area .boxstyle-lg.box3 h3,
.id7-main-content-area .boxstyle_.box3 h4,
.id7-main-content-area .boxstyle-xs.box3 h4,
.id7-main-content-area .boxstyle-sm.box3 h4,
.id7-main-content-area .boxstyle-md.box3 h4,
.id7-main-content-area .boxstyle-lg.box3 h4,
.id7-main-content-area .boxstyle_.box3 h5,
.id7-main-content-area .boxstyle-xs.box3 h5,
.id7-main-content-area .boxstyle-sm.box3 h5,
.id7-main-content-area .boxstyle-md.box3 h5,
.id7-main-content-area .boxstyle-lg.box3 h5,
.id7-main-content-area .boxstyle_.box3 h6,
.id7-main-content-area .boxstyle-xs.box3 h6,
.id7-main-content-area .boxstyle-sm.box3 h6,
.id7-main-content-area .boxstyle-md.box3 h6,
.id7-main-content-area .boxstyle-lg.box3 h6,
.id7-main-content-area .boxstyle_.box3 .h1,
.id7-main-content-area .boxstyle-xs.box3 .h1,
.id7-main-content-area .boxstyle-sm.box3 .h1,
.id7-main-content-area .boxstyle-md.box3 .h1,
.id7-main-content-area .boxstyle-lg.box3 .h1,
.id7-main-content-area .boxstyle_.box3 .h2,
.id7-main-content-area .boxstyle-xs.box3 .h2,
.id7-main-content-area .boxstyle-sm.box3 .h2,
.id7-main-content-area .boxstyle-md.box3 .h2,
.id7-main-content-area .boxstyle-lg.box3 .h2,
.id7-main-content-area .boxstyle_.box3 .h3,
.id7-main-content-area .boxstyle-xs.box3 .h3,
.id7-main-content-area .boxstyle-sm.box3 .h3,
.id7-main-content-area .boxstyle-md.box3 .h3,
.id7-main-content-area .boxstyle-lg.box3 .h3,
.id7-main-content-area .boxstyle_.box3 .h4,
.id7-main-content-area .boxstyle-xs.box3 .h4,
.id7-main-content-area .boxstyle-sm.box3 .h4,
.id7-main-content-area .boxstyle-md.box3 .h4,
.id7-main-content-area .boxstyle-lg.box3 .h4,
.id7-main-content-area .boxstyle_.box3 .h5,
.id7-main-content-area .boxstyle-xs.box3 .h5,
.id7-main-content-area .boxstyle-sm.box3 .h5,
.id7-main-content-area .boxstyle-md.box3 .h5,
.id7-main-content-area .boxstyle-lg.box3 .h5,
.id7-main-content-area .boxstyle_.box3 .h6,
.id7-main-content-area .boxstyle-xs.box3 .h6,
.id7-main-content-area .boxstyle-sm.box3 .h6,
.id7-main-content-area .boxstyle-md.box3 .h6,
.id7-main-content-area .boxstyle-lg.box3 .h6 {
  color: #383838;
}
.id7-main-content-area .boxstyle_.box3 blockquote.quotes,
.id7-main-content-area .boxstyle-xs.box3 blockquote.quotes,
.id7-main-content-area .boxstyle-sm.box3 blockquote.quotes,
.id7-main-content-area .boxstyle-md.box3 blockquote.quotes,
.id7-main-content-area .boxstyle-lg.box3 blockquote.quotes {
  color: inherit;
}
.id7-main-content-area .boxstyle-xs.box4 {
  border: 0;
  background: url(../site/site1/banner-image.jpg) top right no-repeat;
  color: white;
}
@media (min-width: 768px) {
  .id7-main-content-area .boxstyle_.box4,
  .id7-main-content-area .boxstyle-sm.box4 {
    border: 0;
    background: url(../site/site1/banner-image.jpg) top right no-repeat;
    color: white;
  }
}
@media (min-width: 992px) {
  .id7-main-content-area .boxstyle-md.box4 {
    border: 0;
    background: url(../site/site1/banner-image.jpg) top right no-repeat;
    color: white;
  }
}
@media (min-width: 1200px) {
  .id7-main-content-area .boxstyle-lg.box4 {
    border: 0;
    background: url(../site/site1/banner-image.jpg) top right no-repeat;
    color: white;
  }
}
.id7-main-content-area .boxstyle-xs.box4 h1,
.id7-main-content-area .boxstyle-xs.box4 h2,
.id7-main-content-area .boxstyle-xs.box4 h3,
.id7-main-content-area .boxstyle-xs.box4 h4,
.id7-main-content-area .boxstyle-xs.box4 h5,
.id7-main-content-area .boxstyle-xs.box4 h6,
.id7-main-content-area .boxstyle-xs.box4 .h1,
.id7-main-content-area .boxstyle-xs.box4 .h2,
.id7-main-content-area .boxstyle-xs.box4 .h3,
.id7-main-content-area .boxstyle-xs.box4 .h4,
.id7-main-content-area .boxstyle-xs.box4 .h5,
.id7-main-content-area .boxstyle-xs.box4 .h6 {
  color: white;
}
.id7-main-content-area .boxstyle-xs.box4 blockquote.quotes {
  color: inherit;
}
@media (min-width: 768px) {
  .id7-main-content-area .boxstyle_.box4 h1,
  .id7-main-content-area .boxstyle-sm.box4 h1,
  .id7-main-content-area .boxstyle_.box4 h2,
  .id7-main-content-area .boxstyle-sm.box4 h2,
  .id7-main-content-area .boxstyle_.box4 h3,
  .id7-main-content-area .boxstyle-sm.box4 h3,
  .id7-main-content-area .boxstyle_.box4 h4,
  .id7-main-content-area .boxstyle-sm.box4 h4,
  .id7-main-content-area .boxstyle_.box4 h5,
  .id7-main-content-area .boxstyle-sm.box4 h5,
  .id7-main-content-area .boxstyle_.box4 h6,
  .id7-main-content-area .boxstyle-sm.box4 h6,
  .id7-main-content-area .boxstyle_.box4 .h1,
  .id7-main-content-area .boxstyle-sm.box4 .h1,
  .id7-main-content-area .boxstyle_.box4 .h2,
  .id7-main-content-area .boxstyle-sm.box4 .h2,
  .id7-main-content-area .boxstyle_.box4 .h3,
  .id7-main-content-area .boxstyle-sm.box4 .h3,
  .id7-main-content-area .boxstyle_.box4 .h4,
  .id7-main-content-area .boxstyle-sm.box4 .h4,
  .id7-main-content-area .boxstyle_.box4 .h5,
  .id7-main-content-area .boxstyle-sm.box4 .h5,
  .id7-main-content-area .boxstyle_.box4 .h6,
  .id7-main-content-area .boxstyle-sm.box4 .h6 {
    color: white;
  }
  .id7-main-content-area .boxstyle_.box4 blockquote.quotes,
  .id7-main-content-area .boxstyle-sm.box4 blockquote.quotes {
    color: inherit;
  }
}
@media (min-width: 992px) {
  .id7-main-content-area .boxstyle-md.box4 h1,
  .id7-main-content-area .boxstyle-md.box4 h2,
  .id7-main-content-area .boxstyle-md.box4 h3,
  .id7-main-content-area .boxstyle-md.box4 h4,
  .id7-main-content-area .boxstyle-md.box4 h5,
  .id7-main-content-area .boxstyle-md.box4 h6,
  .id7-main-content-area .boxstyle-md.box4 .h1,
  .id7-main-content-area .boxstyle-md.box4 .h2,
  .id7-main-content-area .boxstyle-md.box4 .h3,
  .id7-main-content-area .boxstyle-md.box4 .h4,
  .id7-main-content-area .boxstyle-md.box4 .h5,
  .id7-main-content-area .boxstyle-md.box4 .h6 {
    color: white;
  }
  .id7-main-content-area .boxstyle-md.box4 blockquote.quotes {
    color: inherit;
  }
}
@media (min-width: 1200px) {
  .id7-main-content-area .boxstyle-lg.box4 h1,
  .id7-main-content-area .boxstyle-lg.box4 h2,
  .id7-main-content-area .boxstyle-lg.box4 h3,
  .id7-main-content-area .boxstyle-lg.box4 h4,
  .id7-main-content-area .boxstyle-lg.box4 h5,
  .id7-main-content-area .boxstyle-lg.box4 h6,
  .id7-main-content-area .boxstyle-lg.box4 .h1,
  .id7-main-content-area .boxstyle-lg.box4 .h2,
  .id7-main-content-area .boxstyle-lg.box4 .h3,
  .id7-main-content-area .boxstyle-lg.box4 .h4,
  .id7-main-content-area .boxstyle-lg.box4 .h5,
  .id7-main-content-area .boxstyle-lg.box4 .h6 {
    color: white;
  }
  .id7-main-content-area .boxstyle-lg.box4 blockquote.quotes {
    color: inherit;
  }
}
.id7-main-content-area .boxstyle-xs.box5 {
  border: 0;
  background: url(../site/site3/banner-image.jpg) top right no-repeat;
  color: white;
}
@media (min-width: 768px) {
  .id7-main-content-area .boxstyle_.box5,
  .id7-main-content-area .boxstyle-sm.box5 {
    border: 0;
    background: url(../site/site3/banner-image.jpg) top right no-repeat;
    color: white;
  }
}
@media (min-width: 992px) {
  .id7-main-content-area .boxstyle-md.box5 {
    border: 0;
    background: url(../site/site3/banner-image.jpg) top right no-repeat;
    color: white;
  }
}
@media (min-width: 1200px) {
  .id7-main-content-area .boxstyle-lg.box5 {
    border: 0;
    background: url(../site/site3/banner-image.jpg) top right no-repeat;
    color: white;
  }
}
.id7-main-content-area .boxstyle-xs.box5 h1,
.id7-main-content-area .boxstyle-xs.box5 h2,
.id7-main-content-area .boxstyle-xs.box5 h3,
.id7-main-content-area .boxstyle-xs.box5 h4,
.id7-main-content-area .boxstyle-xs.box5 h5,
.id7-main-content-area .boxstyle-xs.box5 h6,
.id7-main-content-area .boxstyle-xs.box5 .h1,
.id7-main-content-area .boxstyle-xs.box5 .h2,
.id7-main-content-area .boxstyle-xs.box5 .h3,
.id7-main-content-area .boxstyle-xs.box5 .h4,
.id7-main-content-area .boxstyle-xs.box5 .h5,
.id7-main-content-area .boxstyle-xs.box5 .h6 {
  color: white;
}
.id7-main-content-area .boxstyle-xs.box5 blockquote.quotes {
  color: inherit;
}
@media (min-width: 768px) {
  .id7-main-content-area .boxstyle_.box5 h1,
  .id7-main-content-area .boxstyle-sm.box5 h1,
  .id7-main-content-area .boxstyle_.box5 h2,
  .id7-main-content-area .boxstyle-sm.box5 h2,
  .id7-main-content-area .boxstyle_.box5 h3,
  .id7-main-content-area .boxstyle-sm.box5 h3,
  .id7-main-content-area .boxstyle_.box5 h4,
  .id7-main-content-area .boxstyle-sm.box5 h4,
  .id7-main-content-area .boxstyle_.box5 h5,
  .id7-main-content-area .boxstyle-sm.box5 h5,
  .id7-main-content-area .boxstyle_.box5 h6,
  .id7-main-content-area .boxstyle-sm.box5 h6,
  .id7-main-content-area .boxstyle_.box5 .h1,
  .id7-main-content-area .boxstyle-sm.box5 .h1,
  .id7-main-content-area .boxstyle_.box5 .h2,
  .id7-main-content-area .boxstyle-sm.box5 .h2,
  .id7-main-content-area .boxstyle_.box5 .h3,
  .id7-main-content-area .boxstyle-sm.box5 .h3,
  .id7-main-content-area .boxstyle_.box5 .h4,
  .id7-main-content-area .boxstyle-sm.box5 .h4,
  .id7-main-content-area .boxstyle_.box5 .h5,
  .id7-main-content-area .boxstyle-sm.box5 .h5,
  .id7-main-content-area .boxstyle_.box5 .h6,
  .id7-main-content-area .boxstyle-sm.box5 .h6 {
    color: white;
  }
  .id7-main-content-area .boxstyle_.box5 blockquote.quotes,
  .id7-main-content-area .boxstyle-sm.box5 blockquote.quotes {
    color: inherit;
  }
}
@media (min-width: 992px) {
  .id7-main-content-area .boxstyle-md.box5 h1,
  .id7-main-content-area .boxstyle-md.box5 h2,
  .id7-main-content-area .boxstyle-md.box5 h3,
  .id7-main-content-area .boxstyle-md.box5 h4,
  .id7-main-content-area .boxstyle-md.box5 h5,
  .id7-main-content-area .boxstyle-md.box5 h6,
  .id7-main-content-area .boxstyle-md.box5 .h1,
  .id7-main-content-area .boxstyle-md.box5 .h2,
  .id7-main-content-area .boxstyle-md.box5 .h3,
  .id7-main-content-area .boxstyle-md.box5 .h4,
  .id7-main-content-area .boxstyle-md.box5 .h5,
  .id7-main-content-area .boxstyle-md.box5 .h6 {
    color: white;
  }
  .id7-main-content-area .boxstyle-md.box5 blockquote.quotes {
    color: inherit;
  }
}
@media (min-width: 1200px) {
  .id7-main-content-area .boxstyle-lg.box5 h1,
  .id7-main-content-area .boxstyle-lg.box5 h2,
  .id7-main-content-area .boxstyle-lg.box5 h3,
  .id7-main-content-area .boxstyle-lg.box5 h4,
  .id7-main-content-area .boxstyle-lg.box5 h5,
  .id7-main-content-area .boxstyle-lg.box5 h6,
  .id7-main-content-area .boxstyle-lg.box5 .h1,
  .id7-main-content-area .boxstyle-lg.box5 .h2,
  .id7-main-content-area .boxstyle-lg.box5 .h3,
  .id7-main-content-area .boxstyle-lg.box5 .h4,
  .id7-main-content-area .boxstyle-lg.box5 .h5,
  .id7-main-content-area .boxstyle-lg.box5 .h6 {
    color: white;
  }
  .id7-main-content-area .boxstyle-lg.box5 blockquote.quotes {
    color: inherit;
  }
}
.id7-main-content-area .feature-box {
  position: relative;
}
.id7-main-content-area .feature-box .heading {
  display: inline-block;
  margin-left: -15px;
  padding: 10px 20px;
}
.id7-main-content-area .feature-box .heading h1,
.id7-main-content-area .feature-box .heading h2,
.id7-main-content-area .feature-box .heading h3,
.id7-main-content-area .feature-box .heading h4,
.id7-main-content-area .feature-box .heading h5,
.id7-main-content-area .feature-box .heading h6,
.id7-main-content-area .feature-box .heading .h1,
.id7-main-content-area .feature-box .heading .h2,
.id7-main-content-area .feature-box .heading .h3,
.id7-main-content-area .feature-box .heading .h4,
.id7-main-content-area .feature-box .heading .h5,
.id7-main-content-area .feature-box .heading .h6 {
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
.id7-main-content-area .feature-box .caption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 20px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
}
.id7-main-content-area .feature-box .caption > :last-child {
  margin-bottom: 0;
}
.id7-main-content-area .feature-image1 {
  color: white;
  min-height: 200px;
  font-weight: bold;
}
.id7-main-content-area .feature-image1 .heading {
  background: #6b3251;
  color: white;
}
.id7-main-content-area .feature-image2 {
  color: white;
  min-height: 200px;
  font-weight: bold;
}
.id7-main-content-area .feature-image2 .heading {
  background-color: #555555;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.id7-main-content-area .btn-block {
  font-size: 160%;
  text-align: left;
  padding: 0;
  min-height: 60px;
  position: relative;
}
.id7-main-content-area .btn-block > span {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.id7-main-content-area .btn-colour1 {
  background: #1f2121;
  color: #dbc6d7;
}
.id7-main-content-area .btn-colour1:hover,
.id7-main-content-area .btn-colour1:active {
  background: #060707;
  color: #efe5ed;
}
.id7-main-content-area .btn-colour2 {
  background: #6b3251;
  color: #dbc6d7;
}
.id7-main-content-area .btn-colour2:hover,
.id7-main-content-area .btn-colour2:active {
  background: #482237;
  color: #efe5ed;
}
.id7-main-content-area blockquote.no-margin {
  margin: 0;
}
.id7-main-content-area .nav-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}
.id7-main-content-area .nav-flex > li {
  float: none;
  margin: 0 !important;
}
@media (min-width: 768px) {
  .id7-main-content-area .nav-flex > li {
    width: 56px;
  }
}
@media (min-width: 992px) {
  .id7-main-content-area .nav-flex > li {
    width: 36px;
  }
}
@media (min-width: 1200px) {
  .id7-main-content-area .nav-flex > li {
    width: 44px;
  }
}
.id7-main-content-area .nav-flex > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.id7-main-content-area .nav-flex > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
ul.branded {
  list-style: none;
}
ul.branded > li {
  font-weight: bold;
}
ul.branded > li:nth-child(7n + 1):before {
  color: #5b3069;
}
ul.branded > li:nth-child(7n + 2):before {
  color: #996b00;
}
ul.branded > li:nth-child(7n + 3):before {
  color: #89102c;
}
ul.branded > li:nth-child(7n + 4):before {
  color: #797906;
}
ul.branded > li:nth-child(7n + 5):before {
  color: #204f79;
}
ul.branded > li:nth-child(7n + 6):before {
  color: #be410c;
}
ul.branded > li:nth-child(7n + 7):before {
  color: #3f4246;
}
ul.branded li:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  font-size: 12px;
  content: "\f04b";
  position: absolute;
  margin-left: -18px;
  margin-top: 1px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  line-height: 22px;
}
ul.branded li:before.pull-left {
  margin-right: .3em;
}
ul.branded li:before.pull-right {
  margin-left: .3em;
}
@media (min-width: 768px) {
  ul.branded li:before {
    line-height: 25px;
  }
}
ul.branded ul li:before {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
ul.branded ul ul li:before {
  font-size: 9.6px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
ul.branded ul ul ul li:before {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
blockquote.branded {
  border-left: none;
  padding: 11px;
  color: #5b3069;
  border-top: 1px solid #5b3069;
  background: url(/dist/images/logo-divider-purple.svg) right bottom no-repeat;
  -webkit-background-size: 1130px 41px;
          background-size: 1130px 41px;
  padding-bottom: 20px;
  position: relative;
}
blockquote.branded footer {
  color: inherit;
}
blockquote.branded footer:before {
  content: none;
}
blockquote.branded footer cite {
  font-style: normal;
}
blockquote.branded footer {
  position: absolute;
  left: 0px;
  height: 20px;
  overflow: hidden;
  font-size: 75%;
  line-height: 1.5;
  padding: 3px 110px 3px 0;
}
