main .row-spacer > [class*='col-'] {
  padding-top: 20px;
  padding-bottom: 20px;
}
main .slideshow {
  background: black;
  color: white;
  margin-bottom: 20px;
}
main .slideshow .carousel {
  height: 400px;
}
main .slideshow .carousel .carousel-inner,
main .slideshow .carousel .carousel-inner > .item {
  height: 100%;
}
main .slideshow .carousel-inner > .item > .caption {
  width: 290px;
  max-width: 100%;
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 60px;
  padding: 20px;
  background-color: #555555;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}
main .slideshow .carousel-inner > .item > .caption h1,
main .slideshow .carousel-inner > .item > .caption h2,
main .slideshow .carousel-inner > .item > .caption h3,
main .slideshow .carousel-inner > .item > .caption h4,
main .slideshow .carousel-inner > .item > .caption h5,
main .slideshow .carousel-inner > .item > .caption h6,
main .slideshow .carousel-inner > .item > .caption .h1,
main .slideshow .carousel-inner > .item > .caption .h2,
main .slideshow .carousel-inner > .item > .caption .h3,
main .slideshow .carousel-inner > .item > .caption .h4,
main .slideshow .carousel-inner > .item > .caption .h5,
main .slideshow .carousel-inner > .item > .caption .h6 {
  color: inherit;
  border: 0;
}
main .slideshow .carousel-controls {
  height: 40px;
  line-height: 40px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #555555;
  background-color: rgba(0, 0, 0, 0.8);
}
main .slideshow .carousel-controls a,
main .slideshow .carousel-controls a:link,
main .slideshow .carousel-controls a:visited {
  color: #ffffff;
  text-decoration: none;
}
main .slideshow .carousel-controls a:hover,
main .slideshow .carousel-controls a:link:hover,
main .slideshow .carousel-controls a:visited:hover,
main .slideshow .carousel-controls a:focus,
main .slideshow .carousel-controls a:link:focus,
main .slideshow .carousel-controls a:visited:focus,
main .slideshow .carousel-controls a:active,
main .slideshow .carousel-controls a:link:active,
main .slideshow .carousel-controls a:visited:active {
  color: #ededed;
  text-decoration: underline;
}
main .boxstyle_.box1 {
  border: 0;
  background: #cab3d2;
  color: #000000;
}
main .boxstyle_.box1 h1,
main .boxstyle_.box1 h2,
main .boxstyle_.box1 h3,
main .boxstyle_.box1 h4,
main .boxstyle_.box1 h5,
main .boxstyle_.box1 h6,
main .boxstyle_.box1 .h1,
main .boxstyle_.box1 .h2,
main .boxstyle_.box1 .h3,
main .boxstyle_.box1 .h4,
main .boxstyle_.box1 .h5,
main .boxstyle_.box1 .h6 {
  color: inherit;
}
main .boxstyle_.box2 {
  border: 0;
  background: #f2ecf4;
  color: #000000;
}
main .boxstyle_.box2 h1,
main .boxstyle_.box2 h2,
main .boxstyle_.box2 h3,
main .boxstyle_.box2 h4,
main .boxstyle_.box2 h5,
main .boxstyle_.box2 h6,
main .boxstyle_.box2 .h1,
main .boxstyle_.box2 .h2,
main .boxstyle_.box2 .h3,
main .boxstyle_.box2 .h4,
main .boxstyle_.box2 .h5,
main .boxstyle_.box2 .h6 {
  color: inherit;
}
main .boxstyle_.box3 {
  border: 0;
  background: #e6e6e6;
  color: #000000;
}
main .boxstyle_.box3 h1,
main .boxstyle_.box3 h2,
main .boxstyle_.box3 h3,
main .boxstyle_.box3 h4,
main .boxstyle_.box3 h5,
main .boxstyle_.box3 h6,
main .boxstyle_.box3 .h1,
main .boxstyle_.box3 .h2,
main .boxstyle_.box3 .h3,
main .boxstyle_.box3 .h4,
main .boxstyle_.box3 .h5,
main .boxstyle_.box3 .h6 {
  color: inherit;
}
main .boxstyle_.feature-image1 {
  border: 0;
  background: url(../site/site1/banner-image.jpg) top right no-repeat;
  color: #ffffff;
}
main .boxstyle_.feature-image1 h1,
main .boxstyle_.feature-image1 h2,
main .boxstyle_.feature-image1 h3,
main .boxstyle_.feature-image1 h4,
main .boxstyle_.feature-image1 h5,
main .boxstyle_.feature-image1 h6,
main .boxstyle_.feature-image1 .h1,
main .boxstyle_.feature-image1 .h2,
main .boxstyle_.feature-image1 .h3,
main .boxstyle_.feature-image1 .h4,
main .boxstyle_.feature-image1 .h5,
main .boxstyle_.feature-image1 .h6 {
  color: inherit;
}
main .boxstyle_.feature-image2 {
  border: 0;
  background: url(../site/site3/banner-image.jpg) top right no-repeat;
  color: #ffffff;
}
main .boxstyle_.feature-image2 h1,
main .boxstyle_.feature-image2 h2,
main .boxstyle_.feature-image2 h3,
main .boxstyle_.feature-image2 h4,
main .boxstyle_.feature-image2 h5,
main .boxstyle_.feature-image2 h6,
main .boxstyle_.feature-image2 .h1,
main .boxstyle_.feature-image2 .h2,
main .boxstyle_.feature-image2 .h3,
main .boxstyle_.feature-image2 .h4,
main .boxstyle_.feature-image2 .h5,
main .boxstyle_.feature-image2 .h6 {
  color: inherit;
}
main .feature-box {
  position: relative;
}
main .feature-box .heading {
  display: inline-block;
  margin-left: -30px;
  padding: 10px 20px;
}
main .feature-box .heading h1,
main .feature-box .heading h2,
main .feature-box .heading h3,
main .feature-box .heading h4,
main .feature-box .heading h5,
main .feature-box .heading h6,
main .feature-box .heading .h1,
main .feature-box .heading .h2,
main .feature-box .heading .h3,
main .feature-box .heading .h4,
main .feature-box .heading .h5,
main .feature-box .heading .h6 {
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
main .feature-box .caption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 20px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
}
main .feature-box .caption > :last-child {
  margin-bottom: 0;
}
main .feature-image1 {
  color: white;
  min-height: 200px;
  font-weight: bold;
}
main .feature-image1 .heading {
  background: #6b3251;
  color: #ffffff;
}
main .feature-image2 {
  color: white;
  min-height: 200px;
  font-weight: bold;
}
main .feature-image2 .heading {
  background-color: #555555;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
main .btn-block {
  font-size: 160%;
  text-align: left;
  padding: 0;
  min-height: 60px;
  position: relative;
}
main .btn-block > span {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
main .btn-colour1 {
  background: #1f2121;
  color: #dbc6d7;
}
main .btn-colour1:hover,
main .btn-colour1:active {
  background: #060707;
  color: #efe5ed;
}
main .btn-colour2 {
  background: #6b3251;
  color: #dbc6d7;
}
main .btn-colour2:hover,
main .btn-colour2:active {
  background: #482237;
  color: #efe5ed;
}
main blockquote.no-margin {
  margin: 0;
}
main .nav-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-lines: multiple;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-box-lines: multiple;
  -o-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
main .nav-flex > li {
  float: none;
  margin: 0 !important;
}
@media (min-width: 768px) {
  main .nav-flex > li {
    width: 55px;
  }
}
@media (min-width: 992px) {
  main .nav-flex > li {
    width: 36px;
  }
}
@media (min-width: 1200px) {
  main .nav-flex > li {
    width: 43px;
  }
}
main .nav-flex > li > a {
  text-align: center;
  margin-bottom: 5px;
}
main .nav-flex > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
