@import "../../../less/bootstrap/variables.less";
@import "../../../less/bootstrap/mixins.less";
@import "../../../less/variables.less";
@import "../../../less/mixins.less";

.apply-site(@name) {
  #header-image-container {
    background-image: url("@{name}/banner-image.jpg");
  }

  #fixed-width-container, #utility-bar.affix { // TODO Do we really need to apply this to #utility-masthead too? (only when affixed)
    background-image: url("@{name}/masthead-image.jpg");
  }

  #left-border {
    background-image: url("@{name}/border-image-left.jpg");
  }

  #right-border {
    background-image: url("@{name}/border-image-right.jpg");
  }
}

html {
  .apply-site('.');

//  &.site1 { .apply-site('site1'); }
//  &.site2 { .apply-site('site2'); }
//  &.site3 { .apply-site('site3'); }
}