html.site1 .id7-header-image-container {
  background-image: url("/assets/site/site1/banner-image.jpg");
}
html.site1 .id7-fixed-width-container,
html.site1 .id7-utility-bar {
  background-image: url("/assets/site/site1/masthead-image.jpg");
}
@media (min-width: 768px) {
  html.site1 .id7-left-border {
    background-image: url("/assets/site/site1/border-image-left.jpg");
  }
  html.site1 .id7-right-border {
    background-image: url("/assets/site/site1/border-image-right.jpg");
  }
}
html.site2 .id7-header-image-container {
  background-image: url("/assets/site/site2/banner-image.jpg");
}
html.site2 .id7-fixed-width-container,
html.site2 .id7-utility-bar {
  background-image: url("/assets/site/site2/masthead-image.jpg");
}
@media (min-width: 768px) {
  html.site2 .id7-left-border {
    background-image: url("/assets/site/site2/border-image-left.jpg");
  }
  html.site2 .id7-right-border {
    background-image: url("/assets/site/site2/border-image-right.jpg");
  }
}
html.site3 .id7-header-image-container {
  background-image: url("/assets/site/site3/banner-image.jpg");
}
html.site3 .id7-fixed-width-container,
html.site3 .id7-utility-bar {
  background-image: url("/assets/site/site3/masthead-image.jpg");
}
@media (min-width: 768px) {
  html.site3 .id7-left-border {
    background-image: url("/assets/site/site3/border-image-left.jpg");
  }
  html.site3 .id7-right-border {
    background-image: url("/assets/site/site3/border-image-right.jpg");
  }
}
body html.lt-ie9 {
  background: #9568a5;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6 {
  color: #7b428e;
}
body a,
body a:link,
body a:visited {
  color: #7b428e;
  text-decoration: none;
}
body a:hover,
body a:link:hover,
body a:visited:hover,
body a:focus,
body a:link:focus,
body a:visited:focus,
body a:active,
body a:link:active,
body a:visited:active {
  color: #663776;
  text-decoration: underline;
}
body .brand-bg {
  background: #7b428e;
}
body .brand-text {
  color: #7b428e;
}
body .brand-border {
  border-color: #7b428e;
}
body .id7-utility-masthead::after {
  background-color: #7b428e;
}
body .id7-utility-masthead,
body .id7-utility-bar > nav {
  background-color: #7b428e;
  background-color: rgba(123, 66, 142, 0.5);
}
body .id7-navigation .navbar-primary {
  background-color: #7b428e;
}
body .id7-navigation .navbar-primary .navbar-text {
  color: #ffffff;
}
body .id7-navigation .navbar-primary .navbar-nav > li {
  color: #ffffff;
}
body .id7-navigation .navbar-primary .navbar-nav > li:hover,
body .id7-navigation .navbar-primary .navbar-nav > li:focus {
  color: #ffffff;
  background-color: #6f3b80;
}
body .id7-navigation .navbar-primary .navbar-nav > li > a,
body .id7-navigation .navbar-primary .navbar-nav > li > a:hover,
body .id7-navigation .navbar-primary .navbar-nav > li > a:focus {
  color: inherit;
  background: none;
}
body .id7-navigation .navbar-primary .navbar-nav > li.active.next-secondary::before {
  border-bottom-color: #cab3d2;
}
body .id7-navigation .navbar-primary .navbar-nav > li.active.next-tertiary::before {
  border-bottom-color: #f8f8f8;
}
body .id7-navigation .navbar-primary .navbar-nav > li.active::before {
  border-bottom-color: #ffffff;
}
body .id7-navigation .navbar-primary .navbar-nav > .disabled,
body .id7-navigation .navbar-primary .navbar-nav > .disabled:hover,
body .id7-navigation .navbar-primary .navbar-nav > .disabled:focus {
  color: #ffffff;
  background-color: #6f3b80;
}
body .id7-navigation .navbar-primary .navbar-toggle {
  border: none;
  color: #ffffff;
}
body .id7-navigation .navbar-primary .navbar-toggle:hover,
body .id7-navigation .navbar-primary .navbar-toggle:focus {
  color: #ffffff;
  background: none;
}
body .id7-navigation .navbar-primary .navbar-nav > .open > a,
body .id7-navigation .navbar-primary .navbar-nav > .open > a:hover,
body .id7-navigation .navbar-primary .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #6f3b80;
}
body .id7-navigation .navbar-primary .navbar-nav .dropdown-menu {
  background-color: #7b428e;
}
body .id7-navigation .navbar-primary .navbar-nav .dropdown-menu > .dropdown-header {
  border-color: #6f3b80;
}
body .id7-navigation .navbar-primary .navbar-nav .dropdown-menu .divider {
  background-color: #6f3b80;
}
body .id7-navigation .navbar-primary .navbar-nav .dropdown-menu > li > a {
  color: #ffffff;
}
body .id7-navigation .navbar-primary .navbar-nav .dropdown-menu > li > a:hover,
body .id7-navigation .navbar-primary .navbar-nav .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #6f3b80;
}
body .id7-navigation .navbar-primary .navbar-nav .dropdown-menu > .active > a {
  background-color: #6f3b80;
}
body .id7-navigation .navbar-primary .navbar-nav .dropdown-menu > .active > a::before {
  border-bottom-color: #cab3d2;
}
body .id7-navigation .navbar-primary .navbar-nav .dropdown-menu > .disabled > a,
body .id7-navigation .navbar-primary .navbar-nav .dropdown-menu > .disabled > a:hover,
body .id7-navigation .navbar-primary .navbar-nav .dropdown-menu > .disabled > a:focus {
  color: #ffffff;
  background-color: #6f3b80;
}
body .id7-navigation .navbar-primary .navbar-link {
  color: #ffffff;
}
body .id7-navigation .navbar-primary .navbar-link:hover {
  color: #ffffff;
}
body .id7-navigation .navbar-primary .btn-link {
  color: #ffffff;
}
body .id7-navigation .navbar-primary .btn-link:hover,
body .id7-navigation .navbar-primary .btn-link:focus {
  color: #ffffff;
}
body .id7-navigation .navbar-primary .btn-link[disabled]:hover,
fieldset[disabled] body .id7-navigation .navbar-primary .btn-link:hover,
body .id7-navigation .navbar-primary .btn-link[disabled]:focus,
fieldset[disabled] body .id7-navigation .navbar-primary .btn-link:focus {
  color: #ffffff;
}
@media (min-width: 768px) {
  .id7-homepage-layout body .id7-navigation .navbar-primary {
    background-color: rgba(123, 66, 142, 0.8);
    -webkit-transition: background-color 0.15s linear;
    -o-transition: background-color 0.15s linear;
    transition: background-color 0.15s linear;
  }
}
.id7-homepage-layout body .id7-navigation:hover .navbar-primary {
  background-color: #7b428e;
}
body .navbar-primary .navbar-brand {
  background-color: #623572;
}
.id7-homepage-layout body .id7-navigation:hover .navbar-primary .navbar-brand {
  background-color: #623572;
}
body .navbar-secondary {
  background-color: #cab3d2;
}
body .navbar-secondary .navbar-text {
  color: #000000;
}
body .navbar-secondary .navbar-nav > li {
  color: #000000;
}
body .navbar-secondary .navbar-nav > li:hover,
body .navbar-secondary .navbar-nav > li:focus {
  color: #000000;
  background-color: #b6a1bd;
}
body .navbar-secondary .navbar-nav > li > a,
body .navbar-secondary .navbar-nav > li > a:hover,
body .navbar-secondary .navbar-nav > li > a:focus {
  color: inherit;
  background: none;
}
body .navbar-secondary .navbar-nav > li.active.next-secondary::before {
  border-bottom-color: #ffffff;
}
body .navbar-secondary .navbar-nav > li.active.next-tertiary::before {
  border-bottom-color: #f8f8f8;
}
body .navbar-secondary .navbar-nav > li.active::before {
  border-bottom-color: #ffffff;
}
body .navbar-secondary .navbar-nav > .disabled,
body .navbar-secondary .navbar-nav > .disabled:hover,
body .navbar-secondary .navbar-nav > .disabled:focus {
  color: #000000;
  background-color: #b6a1bd;
}
body .navbar-secondary .navbar-toggle {
  border: none;
  color: #000000;
}
body .navbar-secondary .navbar-toggle:hover,
body .navbar-secondary .navbar-toggle:focus {
  color: #000000;
  background: none;
}
body .navbar-secondary .navbar-nav > .open > a,
body .navbar-secondary .navbar-nav > .open > a:hover,
body .navbar-secondary .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #b6a1bd;
}
body .navbar-secondary .navbar-nav .dropdown-menu {
  background-color: #cab3d2;
}
body .navbar-secondary .navbar-nav .dropdown-menu > .dropdown-header {
  border-color: #b6a1bd;
}
body .navbar-secondary .navbar-nav .dropdown-menu .divider {
  background-color: #b6a1bd;
}
body .navbar-secondary .navbar-nav .dropdown-menu > li > a {
  color: #000000;
}
body .navbar-secondary .navbar-nav .dropdown-menu > li > a:hover,
body .navbar-secondary .navbar-nav .dropdown-menu > li > a:focus {
  color: #000000;
  background-color: #b6a1bd;
}
body .navbar-secondary .navbar-nav .dropdown-menu > .active > a {
  background-color: #b6a1bd;
}
body .navbar-secondary .navbar-nav .dropdown-menu > .active > a::before {
  border-bottom-color: #ffffff;
}
body .navbar-secondary .navbar-nav .dropdown-menu > .disabled > a,
body .navbar-secondary .navbar-nav .dropdown-menu > .disabled > a:hover,
body .navbar-secondary .navbar-nav .dropdown-menu > .disabled > a:focus {
  color: #000000;
  background-color: #b6a1bd;
}
body .navbar-secondary .navbar-link {
  color: #000000;
}
body .navbar-secondary .navbar-link:hover {
  color: #000000;
}
body .navbar-secondary .btn-link {
  color: #000000;
}
body .navbar-secondary .btn-link:hover,
body .navbar-secondary .btn-link:focus {
  color: #000000;
}
body .navbar-secondary .btn-link[disabled]:hover,
fieldset[disabled] body .navbar-secondary .btn-link:hover,
body .navbar-secondary .btn-link[disabled]:focus,
fieldset[disabled] body .navbar-secondary .btn-link:focus {
  color: #000000;
}
body .navbar-secondary .navbar-nav > li::after {
  color: #7b428e;
}
body .navbar-secondary .navbar-nav > li.first {
  background-color: #7b428e;
  color: white;
}
body .navbar-secondary .navbar-nav > li.first:hover::after {
  border-right-color: #623572;
}
body .navbar-secondary .navbar-nav > li.first::after {
  border-color: transparent transparent transparent #7b428e;
}
body .navbar-tertiary {
  background-color: #f8f8f8;
}
body .navbar-tertiary .navbar-text {
  color: #000000;
}
body .navbar-tertiary .navbar-nav > li {
  color: #000000;
}
body .navbar-tertiary .navbar-nav > li:hover,
body .navbar-tertiary .navbar-nav > li:focus {
  color: #000000;
  background-color: #dfdfdf;
}
body .navbar-tertiary .navbar-nav > li > a,
body .navbar-tertiary .navbar-nav > li > a:hover,
body .navbar-tertiary .navbar-nav > li > a:focus {
  color: inherit;
  background: none;
}
body .navbar-tertiary .navbar-nav > li.active.next-secondary::before {
  border-bottom-color: #ffffff;
}
body .navbar-tertiary .navbar-nav > li.active.next-tertiary::before {
  border-bottom-color: #f8f8f8;
}
body .navbar-tertiary .navbar-nav > li.active::before {
  border-bottom-color: #ffffff;
}
body .navbar-tertiary .navbar-nav > .disabled,
body .navbar-tertiary .navbar-nav > .disabled:hover,
body .navbar-tertiary .navbar-nav > .disabled:focus {
  color: #000000;
  background-color: #dfdfdf;
}
body .navbar-tertiary .navbar-toggle {
  border: none;
  color: #000000;
}
body .navbar-tertiary .navbar-toggle:hover,
body .navbar-tertiary .navbar-toggle:focus {
  color: #000000;
  background: none;
}
body .navbar-tertiary .navbar-nav > .open > a,
body .navbar-tertiary .navbar-nav > .open > a:hover,
body .navbar-tertiary .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #dfdfdf;
}
body .navbar-tertiary .navbar-nav .dropdown-menu {
  background-color: #f8f8f8;
}
body .navbar-tertiary .navbar-nav .dropdown-menu > .dropdown-header {
  border-color: #dfdfdf;
}
body .navbar-tertiary .navbar-nav .dropdown-menu .divider {
  background-color: #dfdfdf;
}
body .navbar-tertiary .navbar-nav .dropdown-menu > li > a {
  color: #000000;
}
body .navbar-tertiary .navbar-nav .dropdown-menu > li > a:hover,
body .navbar-tertiary .navbar-nav .dropdown-menu > li > a:focus {
  color: #000000;
  background-color: #dfdfdf;
}
body .navbar-tertiary .navbar-nav .dropdown-menu > .active > a {
  background-color: #dfdfdf;
}
body .navbar-tertiary .navbar-nav .dropdown-menu > .active > a::before {
  border-bottom-color: #ffffff;
}
body .navbar-tertiary .navbar-nav .dropdown-menu > .disabled > a,
body .navbar-tertiary .navbar-nav .dropdown-menu > .disabled > a:hover,
body .navbar-tertiary .navbar-nav .dropdown-menu > .disabled > a:focus {
  color: #000000;
  background-color: #dfdfdf;
}
body .navbar-tertiary .navbar-link {
  color: #000000;
}
body .navbar-tertiary .navbar-link:hover {
  color: #000000;
}
body .navbar-tertiary .btn-link {
  color: #000000;
}
body .navbar-tertiary .btn-link:hover,
body .navbar-tertiary .btn-link:focus {
  color: #000000;
}
body .navbar-tertiary .btn-link[disabled]:hover,
fieldset[disabled] body .navbar-tertiary .btn-link:hover,
body .navbar-tertiary .btn-link[disabled]:focus,
fieldset[disabled] body .navbar-tertiary .btn-link:focus {
  color: #000000;
}
body .opaque-navigation .navbar-primary {
  background-color: #7b428e;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
body.bordered .id7-left-border,
body.bordered .id7-right-border {
  border-color: rgba(123, 66, 142, 0.3);
}
body .id7-site-footer {
  background: #d3d3d3;
  color: #000000;
}
body .id7-site-footer a,
body .id7-site-footer a:link,
body .id7-site-footer a:visited {
  color: #000000;
  text-decoration: none;
}
body .id7-site-footer a:hover,
body .id7-site-footer a:link:hover,
body .id7-site-footer a:visited:hover,
body .id7-site-footer a:focus,
body .id7-site-footer a:link:focus,
body .id7-site-footer a:visited:focus,
body .id7-site-footer a:active,
body .id7-site-footer a:link:active,
body .id7-site-footer a:visited:active {
  color: #000000;
  text-decoration: underline;
}
body .id7-app-footer {
  background: #7b428e;
  color: #ffffff;
}
body .id7-app-footer a,
body .id7-app-footer a:link,
body .id7-app-footer a:visited {
  color: #ffffff;
  text-decoration: none;
}
body .id7-app-footer a:hover,
body .id7-app-footer a:link:hover,
body .id7-app-footer a:visited:hover,
body .id7-app-footer a:focus,
body .id7-app-footer a:link:focus,
body .id7-app-footer a:visited:focus,
body .id7-app-footer a:active,
body .id7-app-footer a:link:active,
body .id7-app-footer a:visited:active {
  color: #ededed;
  text-decoration: underline;
}
body .id7-masthead .id7-search .id7-search-box {
  border-color: #7b428e;
}
body .id7-masthead .id7-search .fa {
  color: rgba(123, 66, 142, 0.5);
  -webkit-transition: color 0.15s linear;
  -o-transition: color 0.15s linear;
  transition: color 0.15s linear;
}
body .id7-masthead .id7-search .twitter-typeahead:hover + .fa {
  color: #7b428e;
}
body .id7-masthead .id7-search .twitter-typeahead .tt-suggestion.tt-cursor {
  background: #7b428e;
  color: #ffffff;
}
body .form-control:focus {
  border-color: #7b428e;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(123, 66, 142, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(123, 66, 142, 0.6);
}
body .carousel .carousel-indicators li::after {
  color: rgba(123, 66, 142, 0.3);
}
body .carousel .carousel-indicators li.active::after {
  color: #7b428e;
}
body .boxstyle_.box1 {
  border: 0;
  background: #e5d9e8;
  color: #000000;
}
body .boxstyle_.box1 h1,
body .boxstyle_.box1 h2,
body .boxstyle_.box1 h3,
body .boxstyle_.box1 h4,
body .boxstyle_.box1 h5,
body .boxstyle_.box1 h6,
body .boxstyle_.box1 .h1,
body .boxstyle_.box1 .h2,
body .boxstyle_.box1 .h3,
body .boxstyle_.box1 .h4,
body .boxstyle_.box1 .h5,
body .boxstyle_.box1 .h6 {
  color: inherit;
}
body .boxstyle_.box2 {
  border: 0;
  background: #eeeeee;
  color: #000000;
}
body .boxstyle_.box2 h1,
body .boxstyle_.box2 h2,
body .boxstyle_.box2 h3,
body .boxstyle_.box2 h4,
body .boxstyle_.box2 h5,
body .boxstyle_.box2 h6,
body .boxstyle_.box2 .h1,
body .boxstyle_.box2 .h2,
body .boxstyle_.box2 .h3,
body .boxstyle_.box2 .h4,
body .boxstyle_.box2 .h5,
body .boxstyle_.box2 .h6 {
  color: inherit;
}
body .boxstyle_.box3 {
  background: none;
  border: 1px solid #7b428e;
  color: inherit;
}
body .boxstyle_.box4 {
  background: none;
  border: 1px solid #777777;
  color: inherit;
}
