@import "../stylesheets/bootstrap/variables.less";
@import "../stylesheets/bootstrap/mixins.less";
@import "../stylesheets/variables.less";
@import "../stylesheets/mixins.less";

html {
  background: black;
}

#header-image-container {
  background-image: url(banner-image.jpg);
  background-position: center @id7-navigation-height;
}

.left-border .inner {
  background-image: url(border-image-left.jpg);
  background-attachment: fixed;
  background-position: right top;
  background-repeat: no-repeat;
}

.right-border .inner {
  background: black url(border-image-right.jpg) left top no-repeat;
  background-attachment: fixed;
}