@import "../stylesheets/bootstrap/variables.less";
@import "../stylesheets/bootstrap/mixins.less";
@import "../stylesheets/variables.less";
@import "../stylesheets/mixins.less";

.apply-site(@name) {
  #header-image-container {
    background-image: url("@{name}/banner-image.jpg");
  }

  #page-header {
    background-image: url("@{name}/masthead-image.jpg");
  }

  #left-border {
    background-image: url("@{name}/border-image-left.jpg");
  }

  #right-border {
    background-image: url("@{name}/border-image-right.jpg");
  }
}

.apply-site('site1');