@import "../stylesheets/bootstrap/variables.less";
@import "../stylesheets/bootstrap/mixins.less";
@import "../stylesheets/variables.less";
@import "../stylesheets/mixins.less";

html { background: black; }

#header-image-container {
  background-image: url(banner-image.jpg);
}

#page-header {
  background-image: url(banner-image.jpg);
}

#left-border {
  background-image: url(border-image-left.jpg);
}

#right-border {
  background-image: url(border-image-right.jpg);
}