@import (reference) "../mixins/branding";
@import (reference) "../variables";

:root {
  /* Reference tokens (don't use directly) */
  --w-ref-colors-blackText: @text-color;
  --w-ref-colors-blackBg: black; // actual black

  --w-ref-colors-page-light: white;
  --w-ref-colors-page-light-contrast: var(--w-ref-colors-blackText);
  --w-ref-colors-page-dark: var(--w-ref-colors-blackBg);
  --w-ref-colors-page-dark-contrast: #efefef;
    /* Default system tokens. Can be overridden */
  --w-sys-colors-paleGrey-contrast: var(--w-ref-colors-blackText);
}

:root, [data-color-scheme="light"] {
  color-scheme: light;
  --w-sys-colors-page: var(--w-ref-colors-page-light);
  --w-sys-colors-page-contrast: var(--w-ref-colors-page-light-contrast);
  --w-sys-colors-page-accent: var(--w-sys-colors-white-accent);
  --w-sys-colors-masthead: var(--w-sys-colors-page);
  --w-sys-colors-masthead-contrast: var(--w-sys-colors-page-contrast);

  // Grey text on background, like labels
  --w-sys-colors-page-grey: #555;
}

[data-color-scheme="dark"] when (@dark-mode) {
  color-scheme: dark;
  --w-sys-colors-page: var(--w-ref-colors-page-dark);
  --w-sys-colors-page-contrast: var(--w-ref-colors-page-dark-contrast);
  --w-sys-colors-page-accent: var(--w-ref-colors-page-dark-contrast);
  --w-sys-colors-masthead: var(--w-sys-colors-page);
  --w-sys-colors-masthead-contrast: var(--w-sys-colors-page-contrast);

  --w-sys-colors-page-grey: #aaa;

  .id7-logo img {
    filter: invert(100%);
  }
}

// System tokens
// Tokens that refer to other tokens are defined here in the * selector
// to ensure they are always recalculated. If they were defined in :root, 
// they would only be calculated once and would not update when the 
// target tokens they refer to are updated.
// Note that as these aliases are redefined in every element,
// you can't replace the alias in a container as it will get squashed
// by this rule again in the child.
* {
  // Primary colour - alias to tint 500
  --w-sys-colors-primary: var(--w-sys-colors-primary-500);
  --w-sys-colors-primary-contrast: var(--w-sys-colors-primary-500-contrast);

  --w-sys-colors-heading: if(@id7-gen-colours>2024,
    var(--w-sys-colors-fg),
    var(--w-sys-colors-white-accent)
  );
}

.bg-black {
  --w-sys-colors-bg: var(--w-ref-colors-page-dark);
  --w-sys-colors-fg: var(--w-ref-colors-page-dark-contrast);
}

:root, .bg-white {
  --w-sys-colors-bg: var(--w-sys-colors-page);
  --w-sys-colors-fg: var(--w-sys-colors-page-contrast);
  --w-sys-colors-link: var(--w-sys-colors-page-accent);
}

// This can be enabled to generate a set of
// CSS classes for switching to a different preset
// colour scheme.
& when (@id7-generate-colour-classes) {
  // Generate CSS classes that alias sys-colors-primary to a given colour.
  each(@id7-brand-colors, {
    @brand-color-var: "id7-brand-@{value}";
    @brand-color: @@brand-color-var;
    .id7-brand-@{value} {
      @colours: .calculate-brand-colours(@brand-color);
      .generate-tint-variables(primary, sys, @brand-color);

      --w-sys-colors-primary: var(--w-sys-colors-primary-500);
      --w-sys-colors-primary-contrast: var(--w-sys-colors-primary-500-contrast);

      --w-sys-colors-heading: var(--w-sys-colors-fg);
      --w-sys-colors-link: var(--w-sys-colors-fg);

      --w-sys-colors-paleGrey-accent: @colours[@pale-grey-emphasis];
    }
  });
}
