@import (reference) '../variables.less';

:root {
  --w-ref-gridGutterWidth: @grid-gutter-width;
  --w-ref-fixedContainerMinHeight: 100vh;

  --w-sys-fontScale: 1.0;
  --w-sys-fontScaleHeaders: var(--w-sys-fontScale);
}
