.id7-horizontal-divider when (@id7-gen-logos = 2024) {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: @grid-gutter-width;
  right: @grid-gutter-width;

  > svg {
    float: right;
  }

  + * {
    margin-top: @grid-gutter-width;
  }
}

.id7-horizontal-divider when (@id7-gen-logos > 2024) {
  display: none;
}
