.id7-horizontal-divider {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: (@grid-gutter-width / 2);
  right: (@grid-gutter-width / 2);

  > svg {
    float: right;
  }

  + * {
    margin-top: (@grid-gutter-width / 2);
  }
}