@scrollbar-face-colour: #505050;
@scrollbar-face-colour-nohover: #aaaaaa;
@scrollbar-bg-colour: #dcdcdc;

body {
  scrollbar-face-color: @scrollbar-face-colour;
  scrollbar-arrow-color: #ffffff;
  scrollbar-track-color: @scrollbar-bg-colour;
  scrollbar-shadow-color: @scrollbar-face-colour;
  scrollbar-highlight-color: @scrollbar-face-colour;
  scrollbar-3dlight-color: @scrollbar-face-colour;
  scrollbar-darkshadow-color: @scrollbar-face-colour;
}

body :not(iframe) {
  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-button:vertical:start:decrement {
    display: block;
    height: 12px;
    background: url("@{id7-image-root-dir}/scrollbar/scrollbar-up.png") no-repeat top left;
  }

  &::-webkit-scrollbar-button:vertical:end:increment {
    display: block;
    height: 12px;
    background: url("@{id7-image-root-dir}/scrollbar/scrollbar-down.png") no-repeat bottom left;
  }

  &::-webkit-scrollbar-button:horizontal:start:decrement {
    display: block;
    height: 12px;
    width: 12px;
    background: url("@{id7-image-root-dir}/scrollbar/scrollbar-left.png") no-repeat top left;
  }

  &::-webkit-scrollbar-button:horizontal:end:increment {
    display: block;
    height: 12px;
    width: 12px;
    background: url("@{id7-image-root-dir}/scrollbar/scrollbar-right.png") no-repeat bottom right;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: @scrollbar-bg-colour;
  }

  &::-webkit-scrollbar-thumb {
    .transition(background-color 0.2s linear);

    background-color: @scrollbar-face-colour-nohover;

    &:vertical {
      height: 0;
    }

    &:horizontal {
      width: 0;
    }

    &:hover {
      background-color: @scrollbar-face-colour !important;
    }
  }
}