.link-decoration(@base: underline);

a {
  .transition(~"all 0.3s linear"); // Double decl for Safari
  .transition(~"color 0.3s linear, text-decoration-color 0.15s linear");
}

a {
  .new-window-link {
    .fa();
    font-size: @font-size-small;
    padding-left: 3px;
    margin-right: 2px;
    color: @gray-light;
    .transition(color 0.3s linear);

    &:before {
      content: @fa-var-external-link;
    }
  }

  &:hover .new-window-link {
    color: @link-color;
  }
}

.lead {
  font-weight: 700;
}

h1 {
  padding-bottom: (@line-height-computed / 2);
  border-bottom: 1px solid @id7-subtle-line-colour;
}

h6, .h6 {
  font-weight: @id7-h6-font-weight;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  &:first-child {
    margin-top: 0;
  }
}

.id7-page-title {
  margin-top: (@grid-gutter-width / 2);

  h1 {
    margin-bottom: 0;
  }
}

.bordered {
  border-bottom: 1px solid @id7-subtle-line-colour;
}

blockquote.quotes {
  border-left: none;

  &::before {
    position: absolute;
    content: '\201C';
    color: @id7-brand-gray;
    margin-left: -24px;
    margin-top: -10px;
    font-size: 4em;
    line-height: 1em;
  }

  &.pull-right, &.blockquote-reverse {
    border-right: none;

    &::before {
      margin-left: 4px;
      content: '\201D';
    }
  }

  @media print {
    border: none;
  }
}

li {
  margin-bottom: 6px;
}

.dropdown-menu li {
  margin: 0;
}

// Hyphenate on smallscreens
@media (max-width: (@grid-float-breakpoint - 1)) {
  .id7-main-content-area {
    .hyphens();
  }
}
