body main a:not(.btn) {
  &,
  &:link,
  &:visited {
    text-decoration: underline;
  }
}

a {
  .transition(color 0.3s linear);
}

.lead {
  font-weight: 700;
}

h1 {
  padding-bottom: (@line-height-computed / 2);
  border-bottom: 1px solid @id7-subtle-line-colour;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  &:first-child {
    margin-top: 0;
  }
}

.id7-page-title {
  margin-top: (@grid-gutter-width / 2);

  h1 {
    margin-bottom: 0;
  }
}

.bordered {
  border-bottom: 1px solid @id7-subtle-line-colour;
}

// Hyphenate on smallscreens
@media (max-width: (@grid-float-breakpoint - 1)) {
  main {
    .hyphens();
  }
}
